/*
* === CONTACT ===
*/

.contact-section {
	position: absolute;
	bottom: 0;
	display: none;
	height: 0;
//	width: calc(100vw - #{$gutter*2});
	width: 100vw;
	transition: height $speed;
	visibility: hidden;
	&.said-hi {
		position: relative;
		display: flex;
		height: auto;
		box-shadow: inset 0 2px 2px 0 fade-out($color__black, 0.85);
		visibility: visible;
		@include media('>=screen768') {
			.contact-section__profile { display: flex; }
		}
		.nf-form-cont { display: block; }
	}
	&__profile {
		display: none;
		@include media('>=screen768') {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: $gutter;
			background-color: $color__yellow;
		}
	}
	&__social {
		display: none;
		@include media('>=screen960') {
			display: block;
			position: absolute;
			bottom: $gutter;
			right: $gutter;
		}
	}
	.nf-form-cont {
		padding: $gutter;
	}
	button { margin-bottom: 0; }
}