/*
* === FEATURED IMAGE ===
*/

.typed-cursor {
    font-size: 1em;
    font-weight: 700;
    line-height: 1em;
    opacity: 1;
    animation: blink 1s infinite ease-in-out;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}