/*
* === LOADING ===
*/

#loading {
	display: none;
}

.site__loading {
	display: none;
	@supports (display: flex) {
		@include position(fixed, 0 0 0 0);
		display: block;
	}
}

.spinner {
	position: relative;
	background-color: fade-out($color__white, 0.15);
	@include size(40px);
	
	.cube1, .cube2 {
		@include position(absolute, 0 null null 0);
		background-color: $color__black;
		@include size(15px);
		animation: load-dance 1.8s infinite ease-in-out;
	}
}


@keyframes load-dance {
	25% {
		transform: translateX(42px) rotate(-90deg) scale(0.5);
	}
	50% {
		transform: translateX(42px) translateY(42px) rotate(-179deg);
	}
	50.1% {
		transform: translateX(42px) translateY(42px) rotate(-180deg);
	} 
	75% {
		transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
	} 
	100% {
		transform: rotate(-360deg);
	}
	}