/*
* === MEDIA ===
*/

img {
    position: relative;
	display: block;
	height: auto;
	max-width: 100%;
}

.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

// Make sure embeds and iframes fit their containers
embed,
iframe,
object {
	max-width: 100%;
}

/*
* — Captions —
*/

.wp-caption {
    margin: 0 0 1.7em;
    max-width: 100%;
    position: relative;
    &-text {
		@include position(absolute, null 0 0 null);
		background-color: fade-out($color__black, 0.1);
        color: $color__white;
        font-size: .75em;
        font-weight: 700;
		text-align: right;
		padding: $small-spacing;
    }
}