/*
* === MEDIA ===
*/

img {
	display: block;
	height: auto;
	max-width: 100%;
}

//figure { margin: 0; }

img {
    position: relative;
    &[caption] {
        position: absolute;
        right: 0;
        bottom: 0;
        color: $color__white;
        @include text-shadow();
    }
    &.bordered {
        @include pseudo-border();
    }
	a & {
//		@include unstyled();
	}
}

.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

// Make sure embeds and iframes fit their containers
embed,
iframe,
object {
	max-width: 100%;
}

/*
* — Captions —
*/

.wp-caption {
    margin: 0 0 1.7em;
    max-width: 100%;
    position: relative;
    &-text {
        position: absolute;
        right: 1em;
        bottom: 1em;
        color: $color__white;
        font-size: .75em;
        font-weight: 700;
        @include text-shadow();
        max-width: 50%;
    }
}

/*
* — Galleries —
*/

.flexslider {
    a {
        display: block !important;
        padding: 0 !important;
        border: 0;
    }
}

.img {
    &-two {
        display: flex;
        flex-flow: column wrap;
        margin: 0 0 1.7em;
        img + img {margin-top: 1.7em;}
        @include media('>=screen600') {margin: 0 -10% 1.7em;}
        @include media('>=screen768') {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            img {
                flex: 0 1 auto;
                width: 50%;
                padding-right: .85em;
                &+ img {
                    margin-top: 0;
                    padding-left: .85em;
                }
            }
        }
        @include media('>=screen840') {margin: 0 -15% 1.7em;}
        @include media('>=screen1024') {margin: 0 -20% 1.7em;}
        @include media('>=screen1600') {margin: 0 -25% 1.7em;}
    }
    &-full {
        margin: 0 0 1.7em;
        display: flex;
        flex-flow: row wrap;
        img {
            flex: 1 0 100%;
            height: auto !important;
            float: left;
        }
        @include media('>=screen600') {margin: 0 -10% 1.7em;}
        @include media('>=screen840') {margin: 0 -15% 1.7em;}
        @include media('>=screen1024') {margin: 0 -20% 1.7em;}
        @include media('>=screen1600') {margin: 0 -25% 1.7em;}
    }
    &-bg {
        background-color: $color__white;
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        background-size: cover;
        height: 250px;
        margin: 0 -1.7em 1.7em;
        @include media('>=screen600') {margin: 0 -20% 1.7em;}
        @include media('>=screen768') {height: 350px;}
        @include media('>=screen840') {margin: 0 -30% 1.7em;}
        @include media('>=screen1024') {margin: 0 -40% 1.7em;}
        @include media('>=screen1280') {height: 450px;}
        @include media('>=screen1600') {margin: 0 -50% 1.7em;}
    }
}

.single-post {
    .img {
        &-two,
        &-full {
            margin: 0 0 1.7em;
        }
    }
}