/*
* === NAV ===
*/

/*
* — Menu —
*/

.main-navigation {
	background-color: fade-out($color__black--light, 0.05);
	color: $color__white;
	@include size(100vw, auto);
	margin-bottom: $gutter * 2;
	transform: translateY(100%);
	transition: $speed linear;
	@include media(">=screen600") {
		height: 100px;
		margin-bottom: 0;
		transform: translateY(-100px);
	}
	
	@supports (display: flex) {
		// .site__header
		display: flex;
		align-items: center;
	}
	
	&.is-visible {
		max-height: calc(100vh - 72px);
		overflow: auto;
		transform: translateY(0);
		z-index: 40;
		
		.site__header--logo {
			top: 20px;
		}
	}
	
	.menu {
		display: flex;
		flex-direction: column;
		font-family: $font__header;
		font-weight: 700;
		text-transform: uppercase;
		margin-left: $base-spacing;
		letter-spacing: 4px;
		width: 100%;
		max-height: calc(100vh - 72px);
		@include media(">=screen600") {
			flex-direction: row;
			align-items: center;
		}
		
		&-item {
			// .menu-item
			position: relative;
			&-home {
				// .menu-item-home
			}
			// mobile only
			@include media("<screen600") {
				display: block;
				
				&.menu-item-home {
					@include paragraph();
					text-align: right;
					line-height: 72px;
					height: 72px;
					margin-right: 100px;
					a {
						line-height: 1em;
						padding: 0;
					}
				}
			}
			
			a {
				padding: $small-spacing;
				@include media(">=screen600") {
					padding: $small-spacing / 2 $small-spacing;
					transition: background-color $speed, color $speed;
					&:hover {
						background-color: fade-out($color__white, 0.9);
					}
				}
			}
		}
	}
}

/*
* — Toggle —
*/

.toggle__menu {
	// .toggle__menu
	@include position(absolute, null null 0 0);
	color: $color__black--light;
	font-family: $font__header;
	font-size: 1.25em !important;
	font-weight: 700;
	margin: $gutter / 2 $gutter;
	padding: $small-spacing / 2 0;
	cursor: pointer;
	transition: $speed linear;
	z-index: 35;
	&:hover {
		background-color: transparent;
		color: inherit;
	}
	@include media(">=screen600") {
		top: 0;
		bottom: auto;
		&.open {
			top: 100px;
		}
	}
	
	span.m,
	span.n,
	span.u {
		display: inline-block;
		transition: $speed;
	}
	span.e {
		display: inline-block;
		@include size(12px, 13px);
		&.toggle__close {
			@include size(14px, 13px);
			span.bar {
				width: 15px;
				background-color: $color__black;
			}
			span.bar:nth-child(1) {
				top: 5px;
				transform: rotate(45deg);
				transition: $speed;
			}
			span.bar:nth-child(2) {
				margin: 2px 0;
				opacity: 0;
				transition: $speed;
			}
			span.bar:nth-child(3) {
				bottom: 5px;
				transform: rotate(-45deg);
				transition: $speed;
			}
		}
		span.bar {
			position: relative;
			display: block;
			background-color: $color__black--light;
			transition: $speed;
			width: 11px;
			height: 3px;
			&:nth-child(2) {
				margin: 2px 0;
			}
		}
	}
}