/*
* === NAV ===
*/

/*
* — Mobile —
*/

.menu-toggle {
	@include media(">=screen1024") {
		display: none;
	}
}

/*
* — Desktop —
*/

.main-navigation {
	display: none;
	@include media(">=screen1024") {
		display: block;
	}
	.menu {
		font-family: $font__header;
//		font-size: 1.125em;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 4px;
		margin-left: $small-spacing;
		
		&-item {
			// .menu-item
			position: relative;
			display: inline-block;
			margin-left: $small-spacing;
			
			a {
				padding: $small-spacing / 2 $small-spacing;
				transition: background-color $speed, color $speed;
				&:hover {
					background-color: fade-out($color__white, 0.9);
				}
			}
		}
	}
}

.toggle {
	&__menu {
		// .toggle__menu
		@include position(absolute, 100% null null null);
		color: inherit;
		font-family: $font__header;
		font-size: 1.125em;
		font-weight: 700;
//		letter-spacing: 2px;
		cursor: pointer;
		z-index: 30;
		&:hover,
		&:focus {
			color: $color__yellow;
			span.e span.bar { background-color: $color__yellow; }
		}
		&.open {
			color: $color__white;
		}
		span.m,
		span.n,
		span.u {
			display: inline-block;
			transition: $speed;
		}
		span.e {
			display: inline-block;
			@include size(12px, 13px);
			&.toggle__close {
				@include size(14px, 13px);
				span.bar {
					width: 15px;
					background-color: $color__white;
				}
				span.bar:nth-child(1) {
					top: 5px;
					transform: rotate(45deg);
					transition: $speed;
				}
				span.bar:nth-child(2) {
					margin: 2px 0;
					opacity: 0;
					transition: $speed;
				}
				span.bar:nth-child(3) {
					bottom: 5px;
					transform: rotate(-45deg);
					transition: $speed;
				}
			}
			span.bar {
				position: relative;
				display: block;
				background-color: $color__white;
				transition: $speed;
				width: 11px;
				height: 3px;
				&:nth-child(2) {
					margin: 2px 0;
				}
			}
		}
	}
}