/*
* === SWIPER ===
*/

.homepage__swipers {
	position: relative;
	@include box-shadow();
	height: calc(100vh - 72px);
	width: 100vw;
	@include media(">=screen600") {
		height: 100vh;
	}
}

.swiper {
	@supports (object-fit: cover) {
		&__image {
			// .swiper__image
			@include size(100%);
			object-fit: cover;
		}
	}
}

.swiper-container {
	@include position(absolute, 0 null null 0);
	width: 100%;
	height: calc(100vh - 72px);
	z-index: 1;
	@include media(">=screen600") {
		height: 100vh;
	}
	
	@supports (display: grid) {
		grid-column: span 4;
	}
}

.swiper-slide {
	background-color: transparent;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	text-align: center;
	color: $color__white;
	padding: $gutter $gutter * 2;
	
	&__link {
		// .swiper-slide__link
		display: inline-block;
		border-bottom: 1px $color__white solid;
		@include small-font-size();
		@include text-shadow();
		text-transform: uppercase;
		letter-spacing: 2px;
		margin: 0 auto;
	}
	
	&__title {
		// .swiper-slide__title
		text-align: left;
		@include text-shadow();
		margin: 0 $gutter / 2;
	}
	
	@include media(">=screen960") {
		&__title {
			// .swiper-slide__title
			@include title();
			margin-left: $gutter * 2;
			margin-right: $gutter * 4;
		}
	}
	
	&.swiper-frame-1 {
		padding: 0;
		.swiper-slide__frame {
			border: 2px fade-out($color__white, 0.5) solid;
			@include size(100%);
			z-index: -1;
		}
	}
	
	&.swiper-frame-2 {
		padding: $gutter;
		.swiper-slide__frame {
			background-color: fade-out($color__black, 0.95);
			border: 1px fade-out($color__black, 0.95) solid;
			@include size(100%);
			z-index: -2;
		}
	}
	
}

#home_frame_1,
#home_frame_2, {
	background-color: transparent;
	padding: $gutter * 2;
}

.parallax-bg {
	@include position(absolute, 0 null null 0);
	background-size: cover;
	background-position: center center;
	@include size(130%, 100%);
}

// cusomtize pagination
.swiper-pagination {
	&.swiper-pagination-white {
		.swiper-pagination-bullet {
			background: $color__black;
		}
		.swiper-pagination-bullet-active {
			background: $color__white;
		}
	}
}
.swiper-container-horizontal > .swiper-pagination-bullets {
	@include media(">=screen960") {
		top: $gutter;
		bottom: $gutter;
		left: auto;
		right: $gutter * 4;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-end;
		width: auto;
	}
	.swiper-pagination-bullet {
		border-radius: 0;
		@include media(">=screen960") {
			margin: 4px 0;
		}
		&--long {
			// .swiper-pagination-bullet--long
			@include size(50px, 5px);
			@include media(">=screen960") {
				@include size(36px, 3px);
				transition: width $speed;
			}
			&.swiper-pagination-bullet-active {
				width: 54px;
			}
		}
	}
}