/*
* === SWIPER ===
*/

.homepage__swipers {
	position: relative;
	@include size(100%, 100vh);
	
	@supports (display: grid) {
		grid-column: span 4;
		width: auto;
	}
}

.swiper {
	@supports (object-fit: cover) {
		&__image {
			// .swiper__image
			@include size(100%);
			object-fit: cover;
		}
	}
}

.swiper-container {
	@include position(absolute, 0 null null 0);
	background-color: $color__white--dark;
	@include size(100%, 100vh);
	
	@supports (display: grid) {
		grid-column: span 4;
	}
}

.swiper-slide {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: $color__white;
	padding: $gutter $gutter * 2;
	
	&__title,
	&__text {
		@include text-shadow();
	}
	
	@include media(">=screen1024") {
		align-items: flex-start;
		&__title {
			// .swiper-slide__title
			flex: 0 1 auto;
			margin-left: 50%;
		}
		&__text {
			// .swiper-slide__text
			flex: 0 1 auto;
			margin-left: 50%;
		}
	}
	
	&.swiper-frame-1 {
		padding-top: $gutter * 2;
		padding-bottom: $gutter * 2;
		.swiper-slide__frame {
			border: 1px fade-out($color__white, 0.5) solid;
			@include size(100%);
		}
	}
	
	&.swiper-frame-2 {
		.swiper-slide__frame {
			background-color: fade-out($color__black, 0.95);
			border: 2px fade-out($color__white, 0.8) solid;
			width: calc(100% - #{$gutter * 2});
			height: calc(100% - #{$gutter * 4});
			margin-left: auto;
			margin-right: auto;
		}
	}
	
}

#home_frame_1,
#home_frame_2 {
	@include position(absolute, 0 null null 0);
	background-color: transparent;
}
//#home_frame_1 { z-index: 2; }
//#home_frame_2 { z-index: 3; }
//#home_banner { z-index: 1; }

.parallax-bg {
	@include position(absolute, 0 null null 0);
	background-size: cover;
	background-position: center center;
	@include size(130%, 100%);
}