// WordPress Generated Classes
// http://codex.wordpress.org/CSS#WordPress_Generated_Classes

// Media alignment
.alignnone {
	margin-left: 0;
	margin-right: 0;
	max-width: 100%;
	height: auto;
}

.aligncenter {
	display: block;
	margin: $small-spacing auto;
	height: auto;
}

.alignleft,
.alignright {
	margin-bottom: $small-spacing;
	height: auto;
}

@include media(">=screen840") {
	// Only float if not on an extra small device
	.alignleft {
		float: left;
		margin-right: $small-spacing;
	}
	.alignright {
		float: right;
		margin-left: $small-spacing;
	}
}

// Captions
.wp-caption {
	display: block;
//	@extend .figure;
}

.wp-caption > img {
//	@extend .figure-img;
//	@extend .img-fluid;
}

.wp-caption-text {
	font-family: $font__header;
//	@extend .figure-caption;
}

// Text meant only for screen readers
.screen-reader-text {
//	@extend .sr-only;
//	@extend .sr-only-focusable;
}