/* ==========================================================================
	Section Builder
========================================================================== */

.o-page__builder,
.homepage__builder,
.entry__builder,
.c-project__builder {
	position: relative;
	padding-bottom: $base-line-height * 3;
}

.c-builder__section {
	@include block-width();

	// no margins at the very top
	@include first(1) {
		margin-top: 0;
	}

	// no margins at the very bottom
	@include last(1) {
		margin-bottom: 0;
	}

	// set subheadlines apart a bit more
	._subheadline {
		color: $black--light;
	}

	// cap text line lengths
	.-wysiwyg {
		@include content-width();
	}

	/**
	 * === TEXT ===
	 */

	&.-text {
		position: relative;

		// increase text size
		.-isLarge {
			font-size: ms(1) !important;
		}
	}

	/**
	 * === TEXT & IMAGE ===
	 */

	// moved to `/components/_text-image`

	/**
	 * === IMAGE ===
	 */

	&.-image {

		._image {
			// set child images to full width
			width: 100%;
		}

		//
		// Full width images
		//

		&.-wide {
			// .-image.-wide
			margin-left: 0;
			margin-right: 0;
		}

		//
		// Parallax background images
		//

		&.-fixed {
			// .-image.-fixed
			position: relative;
			width: 100%;
			height: 350px;
			margin-left: 0;
			margin-right: 0;
			overflow: hidden;

			@include media(">=screen840") {
				height: 80vh;
			}
		}
	}

	/**
	 * === VIDEO ===
	 */

	// &.-video {
	// }

	/**
	 * === QUOTES ===
	 */

	&.-blockquote {
		position: relative;
		overflow: hidden;
	}

	/**
	 * === CARD DECKS ===
	 */

	&.-cards {
		position: relative;
	}
}
