/* ==========================================================================
	Footer
========================================================================== */

.o-site__footer {
	grid-column: span 4;
	position: relative;
	display: grid;
	grid-template-columns: repeat(12, auto);
	align-items: start;
	width: auto;
	height: auto;
	padding: $gutter;
	background-color: shade($black, 67%);
	background-image: url("../img/concrete-dark.png");
	background-position: center center;
	color: $white;

	@include media(">=screen600") {
		column-gap: $small-spacing;
	}

	@include media(">=screen768") {
		padding-left: $gutter-lg;
		padding-right: $gutter-lg;
	}

	@include media(">=screen960") {
		grid-template-columns: repeat(12, 1fr);
		column-gap: $gutter;
	}

	@include media(">=screen1024") {
		padding: $gutter-lg $gutter-xl;
	}

	@include media(">=screen1440") {
		padding-left: $gutter * 4;
		padding-right: $gutter * 4;
	}

	._column {
		grid-column: span 12;
		width: auto;
		margin-bottom: $base-spacing;

		&:last-child {
			margin-bottom: 0;
		}

		@include media(">=screen600") {
			grid-column: span 6;
		}

		@include media(">=screen960") {
			grid-column: minmax(1fr, 2fr);
			&.-projects {
				grid-column: span 4;
			}
			&.-about {
				grid-column: span 4;
			}
			&.-socialMedia {
				grid-column: span 4;
				text-align: right;
			}
		}

		@include media(">=screen1280") {
			&.-projects {
				grid-column: span 2;
			}
			&.-about {
				grid-column: span 5;
				h3 {
					width: 37.2%; // mimic grid column
				}
			}
			&.-socialMedia {
				grid-column: 10 / 13;
			}
		}

		h3 {
			border-bottom: 4px $yellow solid;
			font-size: 1em;
			padding-bottom: $small-spacing;
		}

		p, ul, ol {
			@include type();
			color: $white--dark;

			a {
				line-height: 1em;
			}

			&.-icons {
				display: flex;
				justify-content: flex-end;
				align-items: center;

				li {
					@include paragraph();
					margin-right: .5em;
				}

				a {
					max-width: 30px;
					max-height: 30px;

					&:hover,
					&:focus {
						.-svg {
							transform: translateX(0);
						}
					}

					.-svg {
						transition: none;
					}
				}

				.-svg {
					path,
					polygon,
					rect {
						fill: $white;
					}
				}
			}
		}

		// CSS Design Awards Kudos
		.-cssda {
			&::before {
				display: none;
			}

			@include media(">=screen600") {
				transform: scale(0.75);
			}
		}

		// CSS Nectar Site of the Day
		.-cssNectar {
			position: relative;
			width: 60px;
			height: 60px;
			margin-right: $gutter-sm;
			overflow: hidden;

			&::before {
				display: none;
			}

			@include media(">=screen600") {
				margin-right: 5px;
				margin-bottom: 14px;
			}

			span {
				position: absolute;
				text-indent: -9999px;
			}
		}
	}

	.copyright {
		grid-column: span 12;
		grid-row: span 1;
	}

	.top {
		margin-bottom: $gutter;
	}

	.btn {
		border-color: $yellow;
		color: $white;

		@include media(">=screen960") {
			border-color: $white--darkest;
		}
	}

	a:not(.btn) {
		@include inline-block();
		line-height: 1em;

		&::before {
			bottom: -2px;
			background-color: $black--lightest;
		}

		&:hover {

			&::before {
				bottom: 2px;
				background-color: $gray--dark;
			}
		}
	}
}
