/* ==========================================================================
	Header
========================================================================== */

.o-site__header {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 72px;
	max-width: 100vw;
	transition: $speed linear;
	background: linear-gradient(to bottom right, $white 85%, $white--dark);
	background-color: $black;
	background-image: url("../img/concrete-dark.png");
	background-position: center center;
	box-shadow: 0 -1px 3px fade-out($black, 0.94), 0 -1px 2px fade-out($black, 0.88);
	z-index: 20;

	&.nav-is-open {
		box-shadow: none;
	}

	@include media(">=screen600") {
		top: 0;
		bottom: auto;
		height: 100px;
		max-height: none;
		background: transparent;
		box-shadow: none;

		// when the window scrolls up the page
		&.-slideUp {
			animation: navSlideUp $speed-slow ease forwards;
		}
		// when the window scrolls down the page
		&.-slideDown {
			animation: navSlideDown $speed-slow ease forwards;
		}
	}

	// center nav on wide displays
	@include media(">=screen1600") {
		left: calc(50% - 720px);
		max-width: 1440px;
	}

	@include media(">=screen1920") {
		left: calc(50% - 800px);
		max-width: 1600px;
	}
}

//
// allow clicking "behind" transparent area of nav
//
.o-site__header { pointer-events: none; }
.toggle__menu,
.o-site__logo,
.c-navigation { pointer-events: auto; }

.o-site__logo {
	position: absolute;
	top: 15px;
	right: $gutter;
	z-index: 35;

	@include media(">=screen600") {
		top: 30px;
	}

	@include media(">=screen768") {
		right: 0;
		margin-right: $gutter-lg;
	}

	@include media(">=screen1024") {
		margin-right: $gutter-xl;
		transform: translateX(0);
		transition: transform $speed;

		.-slideUp &,
		.-slideDown &,
		.-activeNavigationAreaUpTopButNotWhenScrolling & {
			transform: translateX( calc(100% + #{$gutter} + #{$gutter-sm}) );
		}
	}

	@include media(">=screen1440") {
		margin-right: $gutter * 4;
	}


	.logo {
		display: block;
		width: auto;
		height: 40px;

		#design {
			// ID inside inline-svg
			path {
				fill: $black;
				transition: $speed linear;
				// always white at small sizes
				@include media("<screen600") {
					fill: $white;
				}
			}
		}
	}

	&.inverted {
		#design {
			// ID inside inline-svg
			path {
				fill: $white;
			}
		}
		// only turn logo yellow when menu is down
		&:hover {
			.logo {
				#design {
					path {
						fill: $yellow;
					}
				}
			}
		}
	}
}
