/* ==========================================================================
    Header
========================================================================== */

.o-site__header {

    // screen at or above 600px
    @include media(">=small") {}

    // screen at or above 900px
    @include media(">=medium") {}

    // screen at or above 1200px
    @include media(">=large") {}

    // screen below 599px
    @include media("<small") {
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 100;
    }
}
