/* ==========================================================================
    Header
========================================================================== */

.o-site__header {

    .c-tooltip {
        background-color: $yellow;
        color: $black;
    }

    // screen below 599px
    @include media("<small") {
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 100;
    }
}
