/* ==========================================================================
	Posts, Pages, Archives, and Entry Layouts
========================================================================== */

.o-page__header,
.o-posts__header,
.o-archives__header,
.o-entry__header {
	@include block-width();
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	height: 100vh;
	margin-bottom: 0;

	.title {
		@include title();
		// @include deep-shadow();
		// @include deep-white-shadow();
		// @include white-shadow();
		// @include retro-text();
		// @include condensed-shadow();
		margin-bottom: 0;
	}

	._meta {
		width: 100%;
		margin-bottom: .25em;
		// @include smallest-font-size();
		font-size: 1em;

		& > time {
			position: relative;
			display: inline-block;

			&::after {
				content: " | ";
				margin: 0 $small-spacing;
			}
		}

		.-svg {
			top: 5px;
			width: 1.25em;
			opacity: 1;

			path {
				fill: $yellow;
			}
		}
	}
}

.o-page__content,
.o-posts__content,
.o-archives__content,
.o-entry__content {
	@include block-width();
	@include content-width();
	margin-bottom: 0;
	padding-bottom: $gutter-lg;

	.gallery {
		// yes, exact class as '/design' page I know
		column-count: 2;
		column-gap: $gutter;
		counter-reset: item-counter;
		margin-bottom: $base-spacing;

		&.gallery-columns-3,
		&.gallery-columns-4,
		&.gallery-columns-5 {
			@include media(">=screen960")  { column-count: 3; }
		}
		&.gallery-columns-4,
		&.gallery-columns-5 {
			@include media(">=screen1440") { column-count: 4; }
		}
		&.gallery-columns-5 {
			@include media(">=screen1920") { column-count: 5; }
		}

		&-item {
			// .gallery-item
			position: relative;
			@include box-shadow();
			break-inside: avoid;
			counter-increment: item-counter;
			margin-bottom: $gutter;

			a {
				display: block;
				pointer-events: auto;
				z-index: 1;
			}

			img {
				width: 100%;
			}
		}

		&-caption {
			// .gallery-caption
			color: $gray;
			@include small-font-size();
			transition: $speed;
			pointer-events: none;

			@include media(">=screen840") {
				display: none;
			}
		}
	}
}

.o-page__gallery,
.o-posts__gallery,
.o-archives__gallery,
.o-entry__gallery {
	@include clearfix();
	margin-left: $gutter;
	margin-right: $gutter;
	margin-bottom: $base-spacing;

	.-sizer,
	.image {
		width: calc(50% - #{$gutter-sm});
		@include media(">=screen600") {
			width: calc(50% - #{$gutter});
		}
		@include media(">=screen960") {
			width: calc(#{percentage(1/3)} - #{$gutter});
		}
		@include media(">=screen1440") {
			width: calc(25% - #{$gutter});
		}
		@include media(">=screen1920") {
			width: calc(20% - #{$gutter});
		}
	}

	.-gutter {
		width: #{$gutter-sm};

		@include media(">=screen600") {
			width: $gutter;
		}
	}

	.image {
		position: relative;
		margin-right: $gutter;
		margin-bottom: $gutter;
		float: left;
		@include box-shadow();

		&__image {
			// .image__image
			width: 100%;
			height: 100%;
			object-fit: cover;
			pointer-events: none;
		}

		&__caption {
			// .image__caption
			transition: $speed;
			@include small-font-size();
			color: $gray;
			pointer-events: none;

			@include media(">=screen840") {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				display: flex;
				justify-content: center;
				align-items: center;
				padding-left: $base-spacing;
				padding-right: $base-spacing;
				opacity: 0;
				@include text-shadow();
				background-color: fade-out($black--light, 0.4);
				z-index: 1;
			}

			&.caption--text {
				@include media(">=screen840") {
					color: $white;
				}
			}

			&.caption--zoom {
				display: none;

				@include media(">=screen840") {
					display: flex;
					justify-content: center;
					align-items: center;
					@include paragraph();
					color: fade-out($white, 0.6);
				}
			}

			// Zoom in icon
			.image.-svg {
				width: 72px;
				height: 72px;
				max-width: 100%;
				margin: 0;

				path {
					fill: $white;
				}
			}
		}

		&__link {
			// .image_link
			@include block-link();
			z-index: 10;
		}

		&:hover,
		&:focus {
			.image__caption {
				opacity: 1;
			}
		}
	}
}

/**
 * === PAGES ===
 */

.o-page__repeater {
	@include block-width();
}

/**
 * === POSTS ===
 */

.o-posts__categories {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;

	&._meta {
		margin-bottom: 0;
	}
}

.o-entry__related {
	@include block-width();
	@include content-width();
	margin-bottom: 0;
	padding-bottom: $gutter;
}

/**
 * === CATEGORIES ===
 */

.category {
	margin-right: $small-spacing;
	margin-bottom: $small-spacing;

	&__link {
		// .category__link
		white-space: nowrap;
	}

}
