/* ==========================================================================
    Project (Single Design)
========================================================================== */

.t-design {

    // Page Intro
    .c-banner.is-default {
        .c-banner__media {
            .c-media {
                opacity: 1;
            }
        }
        .c-banner__text {
            row-gap: $base-spacing;
            text-shadow: none;
        }
        .u-title,
        .u-eyebrow {
            padding-left: rem(10px);
            padding-right: rem(10px);
            border-radius: rem(1px);
            background-color: $black;
            box-shadow: 0 0 0 rem(5px) $black;
        }
    }

    // Page Builder
    .o-page__sections {
        padding-top: $gutter;
        padding-bottom: $gutter;
    }

    // Instagram Feed
    .o-section.is-social-feed {
        #sb_instagram {
            padding-top: 0;
            padding-bottom: 0 !important;
            #sbi_images {
                @include padding();
                padding-top: 0;
                padding-bottom: $gutter;
            }
        }
    }

}
