/* ==========================================================================
	Projects
========================================================================== */

.c-project__section {
	@include block-width();
	position: relative;
	margin-bottom: 0;
}

.c-project__header {
	position: relative;
	width: 100%;
}

.c-project__banner {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding-top: $gutter;
	padding-bottom: $gutter;
	overflow: hidden;

	@include media(">=screen600") {
		height: 100vh;
	}

	@include media(">=screen960") {
		align-items: flex-start;
		justify-content: flex-end;
	}

	._image {
		z-index: 0;
		pointer-events: none;
		@include media(">=screen840") {
			height: 200vh !important;
		}
	}

	&--contact.btn {
		// .c-project__banner--contact
		@include btn-contact();
	}
}

.c-project__subtitle {
	@include small-font-size();
	@include box-shadow();
	margin: 0 $gutter $gutter-sm;
	padding: $gutter-sm;
	background-color: $white;
	color: $black;
	z-index: 2;

	@include media(">=screen768") {
		margin-left: $gutter-lg;
	}

	@include media(">=screen960") {
		margin-right: 0;
	}

	@include media(">=screen1024") {
		margin-left: $gutter-xl;
		margin-bottom: $gutter;
		font-size: $font-h5;
	}
}

.c-project__title {
	margin: 0 $gutter $gutter-sm;
	padding: $gutter-sm;
	background-color: $white;
	color: $black;
	z-index: 2;

	@include media(">=screen768") {
		margin-left: $gutter-lg;
		text-align: left;
	}

	@include media(">=screen960") {
		max-width: 50vw;
		margin: 0 $gutter 0 $gutter-lg;
	}

	@include media(">=screen1024") {
		margin-left: $gutter-xl;
		margin-right: 0;
	}

	@include media(">=screen1280") {
		max-width: 75vw;
	}

	@include media(">=screen1440") {
		margin-left: $gutter * 4;
	}
}

.c-project__specs {
	// @include body-copy();
	position: relative;
	padding: $gutter;
	background-color: $white--dark;
	background-image: url("../img/concrete-light.png");
	background-position: center center;
	color: $black--lightest;

	@include media(">=screen600") {
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-end;
		align-items: flex-start;
		padding: $gutter;
	}

	@include media(">=screen768") {
		padding-left: $gutter-lg;
		padding-right: $gutter-lg;
	}

	@include media(">=screen1024") {
		@include small-font-size();
		padding-left: $gutter-xl;
		padding-right: $gutter-xl;
	}

	@include media(">=screen1440") {
		padding-left: $gutter * 4;
		padding-right: $gutter * 4;
	}

	._subheadline {
		@include label();
		text-align: right;

		@include media(">=screen600") {
			flex-grow: 0;
			flex-shrink: 0;
			flex-basis: 100%;
			max-width: 100%;
			margin-bottom: 0;
			padding-top: $gutter-sm;
			padding-right: $gutter-sm;
			padding-bottom: $gutter-sm;
			font-size: 1rem;
			border-right: 1px $white--darkest solid;
			border-bottom: 1px $white--darkest solid;
		}

		@include media("<screen600") {
			display: none;
		}
	}

	.spec {
		margin-bottom: $small-spacing;
		padding-bottom: $small-spacing;
		border-bottom: 1px $white--darkest solid;

		&:last-child {
			margin-bottom: 0;
			padding-bottom: 0;
			border-bottom: 0;
		}

		@include media(">=screen600") {
			flex-grow: 3;
			flex-shrink: 2;
			flex-basis: auto;
			max-width: calc(#{percentage(1/3)} - #{$gutter-sm});
			margin-bottom: 0;
			padding-left: $gutter-sm;
			padding-top: $gutter-sm;
			padding-bottom: 0;
			border-right: 1px $white--darkest solid;
			border-bottom: 0;
			@include body-copy();
		}

		&__header {
			// .spec__header
			flex-grow: 0;
			flex-shrink: 0;
			flex-basis: 100%;
			max-width: 100%;
			margin-bottom: $small-spacing;

			h3 {
				@include label();
				margin-bottom: 0;
				@include media(">=screen1024") {
					@include body-copy();
				}
			}
		}

		&--list {
			// .spec--list
			@include media(">=screen600") {
				display: flex;
				flex-direction: column;
				max-width: 200px;
			}

			&__item {
				// .spec--list__item
				@include media(">=screen600") {
					margin-bottom: 8px;
				}
				@include media(">=screen1024") {
					margin-bottom: 0;
				}
			}
		}

		&--group {
			// .spec--group
			display: flex;
			flex-flow: row wrap;
			align-items: baseline;

			@include media(">=screen600") {
				max-width: 300px;
			}

			&__item {
				// spec--group__item
				@include caption();
				padding: .5em;
				margin-right: $small-spacing;
				margin-bottom: $small-spacing;
				transition: background-color $speed;
				border-radius: $base-border-radius;
				background-color: $black--lightest;
				color: $white--dark;
			}
		}
	}
}

/**
 * === RELATED POSTS ===
 */

.c-project__related {
	@include block-width();
	margin-bottom: 0;
	padding-top: $gutter;
	padding-bottom: $gutter;

	._subheadline {
		margin-bottom: $gutter;
		font-size: $font-h5;
	}

	@include media(">=screen1440") {
		padding-top: $gutter * 1.5;
		padding-bottom: $gutter * 1.5;

		._subheadline {
			margin-bottom: $gutter * 1.5;
		}
	}
}
