/**
 * === PROJECTS ===
 */

.project {

	&__section {
		// .project__section
		position: relative;
		@include block-width();
		margin-bottom: 0;
	}

	&__header {
		// .project__header
		position: relative;
		width: 100%;
	}

	&__banner {
		// .project__banner
		position: relative;
		// @include image-overlay();
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: calc(100vh - 72px);

		@include media(">=screen600") {
			height: 100vh;
		}

		@include media(">=screen960") {
			align-items: flex-start;
			justify-content: flex-end;
		}

		&--image {
			// .project__banner--image
			position: absolute;
			pointer-events: none;
			z-index: 0;

			@supports (object-fit: cover) {
				width: 100vw;
				height: 100%;
				object-fit: cover;
			}
		}

		&--contact.btn {
			// .project__banner--contact
			@include btn-contact();
		}
	}

	&__subtitle {
		// .project__subtitle
		margin: 0 $gutter;
		padding: $small-spacing $base-spacing;
		@include small-font-size();
		font-family: $font__secondary;
		text-transform: lowercase;
		letter-spacing: .075em;
		background-color: $color__white;
		color: $color__black;
		@include box-shadow();
		z-index: 2;

		@include media(">=screen768") {
			transform: rotate(-4deg) translate($gutter * 2, 1em) !important;
		}

		@include media(">=screen1024") {
			padding: 1em 2em;
			margin-left: $gutter * 3;
			margin: 0;
			transform: rotate(-4deg) translate($gutter * 3, 1em) !important;
		}

		@include media(">=screen1440") {
			transform: rotate(-4deg) translate($gutter * 4, 1em) !important;
		}
	}

	&__title {
		// .project__title
		color: $color__white;
		@include title();
		text-align: left;
		@include text-shadow();
		margin: 0 $gutter;
		z-index: 2;

		@include media(">=screen768") {
			margin-left: $gutter * 2;
		}

		@include media(">=screen960") {
			max-width: 50vw;
			margin: 0 $gutter 0 $gutter * 2;
			padding-bottom: $gutter;
			&::after {
				background-color: $color__white;
			}
		}

		@include media(">=screen1024") {
			margin-left: $gutter * 3;
		}

		@include media(">=screen1280") {
			max-width: 75vw;
		}

		@include media(">=screen1440") {
			margin-left: $gutter * 4;
		}
	}

	&__specs {
		// .project__specs
		position: relative;
		padding: $gutter;
		@include body-copy();
		@include texture($color__white--dark, 25, 0);
		color: $color__black--lightest;

		@include media(">=screen600") {
			display: flex;
			flex-flow: row wrap;
			justify-content: flex-end;
			align-items: flex-start;
			padding: $gutter;
		}

		@include media(">=screen768") {
			padding-left: $gutter * 2;
			padding-right: $gutter * 2;
		}

		@include media(">=screen1024") {
			padding-left: $gutter * 3;
			padding-right: $gutter * 3;
			@include small-font-size();
		}

		@include media(">=screen1440") {
			padding-left: $gutter * 4;
			padding-right: $gutter * 4;
		}

		._subheadline {
			@include label();
			text-align: right;

			@include media(">=screen600") {
				flex-grow: 0;
				flex-shrink: 0;
				flex-basis: 100%;
				max-width: 100%;
				margin-bottom: 0;
				padding-top: $gutter-sm;
				padding-right: $gutter-sm;
				padding-bottom: $gutter-sm;
				border-right: 1px $color__white--darkest solid;
				border-bottom: 1px $color__white--darkest solid;
			}

			@include media(">=screen600") {
				font-size: 1rem;
			}
		}

		.spec {
			margin-bottom: $small-spacing;
			padding-bottom: $small-spacing;
			border-bottom: 1px $color__white--darkest solid;

			&:last-child {
				margin-bottom: 0;
				padding-bottom: 0;
				border-bottom: 0;
			}

			@include media(">=screen600") {
				flex-grow: 3;
				flex-shrink: 2;
				flex-basis: auto;
				max-width: calc(#{percentage(1/3)} - #{$gutter-sm});
				margin-bottom: 0;
				padding-left: $gutter-sm;
				padding-top: $gutter-sm;
				padding-bottom: 0;
				border-right: 1px $color__white--darkest solid;
				border-bottom: 0;
				@include body-copy();
			}

			&__header {
				// .spec__header
				flex-grow: 0;
				flex-shrink: 0;
				flex-basis: 100%;
				max-width: 100%;
				margin-bottom: $small-spacing;

				h3 {
					@include label();
					margin-bottom: 0;
					@include media(">=screen1024") {
						@include body-copy();
					}
				}
			}

			&--list {
				// .spec--list
				@include media(">=screen600") {
					display: flex;
					flex-direction: column;
					max-width: 200px;
				}

				&__item {
					// .spec--list__item
					@include media(">=screen600") {
						margin-bottom: 8px;
					}
					@include media(">=screen1024") {
						margin-bottom: 0;
					}
				}
			}

			&--group {
				// .spec--group
				display: flex;
				flex-flow: row wrap;
				align-items: baseline;

				@include media(">=screen600") {
					max-width: 300px;
				}

				&__item {
					// spec--group__item
					@include caption();
					padding: .5em;
					margin-right: $small-spacing;
					margin-bottom: $small-spacing;
					transition: background-color $speed;
					border-radius: $base-border-radius;
					background-color: $color__black--lightest;
					color: $color__white--dark;
				}
			}
		}
	}
}
