/**
 * === SIDEBAR ===
 */

.site__sidebar {
	grid-column: span 4;
	position: relative;
	width: 100%;
	padding-bottom: $base-spacing;
	padding-left: $gutter;
	padding-right: $gutter;
	@include texture($color__white--dark, 54, 0);

	@include media(">=screen768") {
		padding-left: $gutter * 2;
		padding-right: $gutter * 2;
	}

	@include media(">=screen1024") {
		padding-left: $gutter * 3;
		padding-right: $gutter * 3;
	}

	@include media(">=screen1440") {
		padding-left: $gutter * 4;
		padding-right: $gutter * 4;
	}
}

.widget {
	margin-bottom: $gutter;
}
