/**
* === ANIMATIONS ===
*/

/**
 * Styled inline links
 * (.-wysiwyg hyperlinks)
 */
@keyframes dancemonkey {
	0% {
		left: 0;
		right: 25%;
	}
	50% {
		left: 25%;
		right: 0;
	}
	100% {
		left: 0;
		right: 25%;
	}
}

@keyframes inline-expand {
	to {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}

// fade in page titles
@keyframes fadeInTitle {
	0% {
		transform: translateY(#{$gutter});
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

// Slide menu up and down
@keyframes navSlideUp {
	from {
		opacity: 1;
		top: 0;
	}
	to {
		opacity: 0;
		top: -100px;
	}
}
@keyframes navSlideDown {
	from {
		opacity: 0;
		top: -100px;
	}
	to {
		opacity: 1;
		top: 0;
	}
}

/**
 * Rotating Div Frame
 * https://codepen.io/jamesmellers/pen/XKmyoo
 *
 * @example scss
 *   .element {
 *     position: absolute|relative;
 *
 *     &::before,
 *     &::after {
 *       content: "";
 *       position: absolute;
 *       top: 50%;
 *       left: 50%;
 *       display: block;
 *       width: 100%;
 *       transform: translateX(-50%) translateY(-50%) rotate(0deg);
 *       border: 15px $yellow solid;
 *       animation: 10s infinite alternate ease-in-out tipsy;
 *     }
 *   }
 */
@keyframes tipsy {
	0% {
		transform: translateX(-50%) translateY(-50%) rotate(0deg);
	}
	100% {
		transform: translateX(-50%) translateY(-50%) rotate(360deg);
	}
}

/**
 * Fade in homepage title
 */

@keyframes blockIn {
	0% {
		height: 0%;
	}
	40% {
		height: 100%;
	}
	60% {
		height: 100%;
	}
	100% {
		height: 0;
	}
}

@keyframes wordIn {
	0% {
		// transform: translateY(#{$gutter-sm});
		color: $color__yellow;
	}
	90% {
		color: $color__yellow;
	}
	100% {
		color: $color__black;
		// transform: translateY(0);
	}
}
