/**
 * === VARIABLES ===
 */

/**
 * — Colors —
 */

$black: #171409;
$black--light: tint($black, 5%);
$black--lighter: tint($black, 10%);
$black--lightest: tint($black, 15%);

$white: #fffefa;
$white--dark: shade($white, 5%);
$white--darker: shade($white, 10%);
$white--darkest: shade($white, 15%);

$yellow: #ffc300;
$yellow--light: #fef7e3;
$yellow--transparent: fade-out($yellow--light, 0.75);
$yellow--dark: shade($yellow, 10%);

$gray: #9b9a95;
$gray--light: tint($gray, 15%);
$gray--dark: shade($gray, 15%);
$gray--darker: shade($gray, 15%);
$gray--darkest: #51514d;

$red: #9c0000;

//$color--notice: #9c0000 !important;
//$color--success: #9c0000 !important;
//$color--warning: #9c0000 !important;
$color--error: $red;

/**
 * — Typography —
 */

$font__main     : "Barlow", $font-stack-system;
$font__secondary: "Abril Fatface", $font-stack-garamond;
$font__header   : "Barlow Semi Condensed", $font-stack-helvetica;
$font__code     : "Inconsolata", $font-stack-monaco;

/**
 * — Everything else —
 */

$speed        : 200ms;
$speed-fast   : $speed / 2;
$speed-slow   : $speed * 2;
$base-duration: $speed;

//$cubic-bezier : cubic-bezier(.455, .03, .515, .955);
$cubic-bezier: cubic-bezier(0.17, 0.04, 0.03, 0.94);

$gutter: 36px;
$gutter-xs: $gutter / 3;
$gutter-sm: $gutter / 2;
$gutter-md: $gutter;
$gutter-lg: $gutter * 2;
$gutter-xl: $gutter * 3;

$breakpoints : (
	'screen320' : 320px,
	'screen375' : 375px,
	'screen400' : 400px,
	'screen480' : 480px,
	'screen540' : 540px,
	'screen600' : 600px,
	'screen768' : 768px,
	'screen840' : 840px,
	'screen960' : 960px,
	'screen1024': 1024px,
	'screen1170': 1170px,
	'screen1280': 1280px,
	'screen1440': 1440px,
	'screen1600': 1600px,
	'screen1920': 1920px,
	'screen2560': 2560px
);

$modularscale: (
	base : 1em,
	ratio: $golden
);
