/* ==========================================================================
    Variables
========================================================================== */

// Colors
// =============================================================================

$black:           #1c1c1c;
$black--light:    tint($black, 5%);
$black--lighter:  tint($black, 10%);
$black--lightest: tint($black, 15%);

$white:          #f5f5f5;
$white--dark:    shade($white, 5%);
$white--darker:  shade($white, 10%);
$white--darkest: shade($white, 15%);

$gray:           #6d6d6d;
$gray--lightest: tint($gray, 15%);
$gray--lighter:  tint($gray, 10%);
$gray--light:    tint($gray, 5%);
$gray--dark:     shade($gray, 5%);
$gray--darker:   shade($gray, 10%);
$gray--darkest:  shade($gray, 15%);

$burgundy: #5b2333;
$red:      #b03a2e;
$orange:   #d35400;
$gold:     #c49102;
$yellow:   #ffc300;
$lime:     #a3d977;
$green:    #4c9f70;
$teal:     #4a7b8c;
$blue:     #2e86c1;
$navy:     #1a5276;
$purple:   #6c3483;

$color--notice: $blue;
$color--success: $green;
$color--warning: $yellow;
$color--error: $red;

$focus-outline: 3px solid fade-out($yellow, 0.6);
$focus-offset: 2px;

// Social Networks
$facebook-color:  #4267b2;
$instagram-color: #e1306c;
$linkedin-color:  #0e76a8;
$messenger-color: #006aff;
$pinterest-color: #e60023;
$snapchat-color:  #fffc00;
$twitter-color:   #1da1f2;
$whatsapp-color:  #25d366;
$youtube-color:   #f00;
$dribbble-color:  #ea4c89;
$github-color:    #4078c0;

// Typography
// =============================================================================

// Font Families
$font-body:   "Barlow", system-ui, -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
$font-header: "Barlow Condensed", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$font-code:   "Inconsolata", "Monaco", "Consolas", "Lucida Console", monospace;

// Font Sizes
$font-h1:      4.5em;      // 72px
$font-h2:      3.75em;     // 60px
$font-h3:      2.75em;     // 44px
$font-h4:      2.25em;     // 36px
$font-h5:      1.5em;      // 24px
$font-h6:      1.25em;     // 20px
$font-base:    1em;        // 16px
$font-base-lg: 1.125em;    // 18px
$font-base-md: $font-base; // 16px
$font-base-sm: 0.875em;    // 14px
$font-meta:    0.75em;     // 12px

// Font Weights
$font-hairline:   100;
$font-thin:       100;
$font-extralight: 200;
$font-ultralight: 200;
$font-light:      300;
$font-book:       400;
$font-regular:    400;
$font-roman:      400;
$font-medium:     500;
$font-semibold:   600;
$font-demibold:   600;
$font-bold:       700;
$font-extrabold:  800;
$font-heavy:      800;
$font-ultrabold:  900;
$font-black:      900;

// Line Heights
$line-height:    1.5em;
$heading-height: 1.2em;

// Animation Defaults
// =============================================================================

// Speeds
$base-duration: 350ms;
$speed: $base-duration;
$speed-fast: $speed / 2;
$speed-slow: $speed * 2;

// Cubic Bezier Styles
$bezier-sine:  cubic-bezier(0.39, 0.575, 0.565, 1);
$bezier-quad:  cubic-bezier(0.25, 0.46, 0.45, 0.94);
$bezier-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
$bezier-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
$bezier-quint: cubic-bezier(0.23, 1, 0.32, 1);
$bezier-expo:  cubic-bezier(0.19, 1, 0.22, 1);
$bezier-circ:  cubic-bezier(0.075, 0.82, 0.165, 1);
$bezier-back:  cubic-bezier(0.175, 0.885, 0.32, 1.275);
$bezier-slide: cubic-bezier(0, 0, 0.2, 1);

// Sizing Defaults
// =============================================================================

// Widths
$container-width: (1440px - 72px);
$inner-width: 1280px;
$copy-width: 80ch;
$padding: math.div($container-width - $inner-width, 2);

// Gutter Spacing
$gutter: 36px;
$gutter-xs: $gutter / 3;
$gutter-sm: $gutter / 2;
$gutter-md: $gutter;
$gutter-lg: $gutter * 2;
$gutter-xl: $gutter * 3;
$gutter-xxl: $gutter * 4;

// Relative Spacing
$base-spacing: 1.5em;
$large-spacing: $base-spacing * 2;
$small-spacing: $base-spacing / 2;

// Borders
$border-radius: 3px;

// Media Queries (@include-media)
// =============================================================================

$breakpoints: (
    tiny: 300px,
    small: 600px,
    medium: 900px,
    large: 1200px,
    big: 1500px,
    huge: 1800px
) !default;

// CSS Vars
// =============================================================================

:root {
    // Custom Loader
    --loader-bg: #{$yellow};
    --loader-circle: #{$gold};
    --loader-bar: #{$white};
    // Fancybox
    --fancybox-bg: fade-out($black, 0.33) !important;
    --f-button-color: $yellow !important;
    // Swiper
    --swiper-theme-color: #{$blue} !important;
    --swiper-navigation-color: $black !important;
    --swiper-navigation-size: #{$gutter} !important;
    --swiper-scrollbar-bottom: 0px !important;
    --swiper-scrollbar-border-radius: #{$border-radius} !important;
    --swiper-scrollbar-drag-bg-color: #{$yellow} !important;
    --swiper-scrollbar-sides-offset: 0px !important;
    --swiper-scrollbar-size: 10px !important;
}
