/* ==========================================================================
    Alert
========================================================================== */

.c-alert {
    @include padding();
    position: relative;
    display: none;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-align: center;
    background-color: $black;
    color: $white;

    &.is-active {
        display: block;
        transition: transform $speed, opacity $speed;
    }

    &.not-active {
        display: none;
        transform: translateY(-100%);
        opacity: 0;
    }

    @include media(">=small") {
        &.is-active {
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 0.75em;
        }
    }
}

.c-alert__text {
    margin-bottom: 0.5em;
    line-height: $heading-height;

    @include media(">=small") {
        margin-bottom: 0;
    }
}

// .c-alert__button {}

.c-alert__close {
    position: absolute;
    top: 50%;
    right: $gutter;
    width: 10px;
    height: 10px;
    background-color: $white;
}

// document.addEventListener("DOMContentLoaded", function() {
//     const alertBar = document.querySelector(".c-alert");
//     const closeBtn = document.querySelector(".c-alert__close");

//     closeBtn.addEventListener("click", function() {
//         // Add the "closed" class to trigger the closing animation
//         alertBar.classList.add("closed");

//         // After the animation is complete (use the 'transitionend' event),
//         // remove the "is-active" class to fully hide the alert
//         alertBar.addEventListener("transitionend", function() {
//             alertBar.classList.remove("is-active");
//         });
//     });
// });
