/* ==========================================================================
	Article
========================================================================== */

.c-article {
	position: relative;
	width: 100%;
	height: auto;
	margin-bottom: $large-spacing;
	@include body-copy();

	@include media(">=screen768") {
		width: auto;
		margin-left: 0;
		margin-right: 0;
	}

	@include media(">=screen840") {
		display: flex;
		align-items: stretch;
		justify-content: space-between;
		margin-bottom: $base-spacing;
		width: 100%;

		// Inverse odd/even layout
		&.-isEven {
			flex-direction: row-reverse;
		}

		// hover, active state
		// they also need seperate declarations due to link hover states
		&:hover,
		.c-article__link:focus {

			// move text up to center, slowish
			.c-article__content {
				// transform: translate(-#{$gutter-lg}, -#{$gutter-lg});
				// background-color: $yellow;
			}
		}
	}

	@include media(">=screen1024") {
		margin-bottom: $gutter-lg;
	}

	@include media(">=screen1440") {
		margin-bottom: $gutter-xl;
	}
}

.c-article__image {
	position: relative;
	width: 100%;
	height: 300px;
	margin-bottom: $base-spacing;
	overflow: hidden;
	z-index: 1;

	@include media(">=screen768") {
		height: 400px;
	}

	@include media(">=screen840") {
		flex-grow: 0;
		flex-shrink: 0;
		flex-basis: 60%;
		max-width: 60%;
		height: 500px;
		min-height: 100%;
		margin-bottom: 0;
	}

	.c-media__image {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.c-article__content {
	position: relative;
	margin-bottom: $base-spacing;

	@include media(">=screen840") {
		flex-grow: 0;
		flex-shrink: 0;
		flex-basis: calc(40% - #{$gutter});
		max-width: calc(40% - #{$gutter});
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-start;
		margin-bottom: 0;
		@include small-font-size();
	}

	._meta,
	.u-meta {
		display: flex;
		flex-flow: row wrap;
		margin-bottom: $small-spacing;
		transition: color $speed;

		line-height: 1.7em;
		text-align: center;
		color: $gray--darkest;

		.updated,
		.author,
		a:not(.btn) {
			@include visually-hidden();
		}

		@include media(">=screen840") {
			text-align: left;
		}
	}

	// adjust margins a bit
	& > * {
		@include last(2) {
			margin-bottom: 0;
		}
	}

	&:hover {

		._meta,
		.u-meta {
			color: $black--light;
		}

		.post-format {
			.c-media__svg {
				opacity: 1;
				path {
					fill: $yellow;
				}
			}
		}
	}
}

.c-article__title {
	@include paragraph();
	position: relative;
	margin-top: $gutter-sm;

	@include media(">=screen840") {
		margin-top: 0;
		margin-bottom: $base-spacing;
	}

	@include media(">=screen1280") {
		@include subtitle();
		line-height: 1em;
	}

	a {
		// line-height: $heading-line-height !important;
		line-height: inherit;

		&::before {
			display: none;
		}
	}
}

.c-article__link {
	margin-top: $base-line-height;

	&::before {
		display: none;
	}
}

.post-format {
	position: relative;
	margin-left: $base-spacing;

	.image__caption {
		position: relative;
		display: inline-block;
	}

	.c-media__svg {
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0.1;
		transform: translate3d( -#{$small-spacing}, -25%, 0 );
		// double default size
		font-size: 1.5em;
		line-height: 1.5em;
		height: 1.5em;
		width: 1.5em;
	}
}
