/* ==========================================================================
    Article
========================================================================== */

.c-article {
    @include content-width();
    position: relative;
    padding: $gutter;

    // screen at or above 900px
    @include media(">=medium") {
        width: auto;
        margin-left: 0;
        margin-right: 0;
    }
}
