/**
* === BANNER ===
*/

.banner {

	&.-typographic {
		@include block-width();
		margin-bottom: $gutter * 3;
	}

	&.-yellow {
		color: $color__black--light;
	}

	.-home & {
		// make banner links accessible
		a:focus {
			outline-color: fade-out($color__white, 0.4);
		}
	}
}

.banner__list {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;

	//
	// Typographic banner, like home page
	//
	.-typographic & {
		margin-top: 30px;
		margin-bottom: $gutter * 4;

		@include media('>=screen600') {
			margin-top: $gutter * 3;
			margin-bottom: $gutter * 3;
		}

		@include media('>=screen1024') {
			margin-bottom: $gutter * 6;
			@include small-font-size();
		}

		@include media('>=screen1280') {
			margin-bottom: $gutter * 7;
		}

		// @include media('>=screen1600') {
		// 	margin-bottom: $gutter * 8;
		// }
	}
}

// .banner__listItem {}

.banner__intro {

	._title {
		@include subtitle();
		@include media('<screen840') {
			letter-spacing: 1px;
		}

		.-row {
			display: block;
		}

		.-word {
			position: relative;
			display: inline-block;

			// apply animation delays to child elements
			// that are created with javascript
			@for $i from 1 through 10 {
				&:nth-child(#{$i}) {
					.-block {
						animation-delay: #{100ms * $i};
					}
					.-word {
						animation-delay: #{100ms * $i};
					}
				}
			}
		}

		.-block {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 0;
			background-color: $color__black--light;
			animation: blockIn forwards 1s cubic-bezier(0.22, 0.68, 0, 1.71);
		}

		.-text {
			display: inline-block;
			animation: wordIn forwards $speed-slow linear;
		}
	}

	._tagline {
		@include caption();
		letter-spacing: 1px;
	}
}

.banner__link {
	transition: border $speed;
	line-height: $base-line-height;
	border-bottom: 1px transparent solid;

	&:hover {
		border-bottom-color: $color__white;
	}
}

.intro__link {
	line-height: 1.35em !important;

	&::before {
		height: 12px !important;
		background-color: $color__white !important;
	}

	&:hover {
		@include media("<screen1170") {
			&::before {
				background-color: $color__black--light !important;
			}
		}
		@include media(">=screen1170") {
			&::before {
				bottom: 12px !important;
				height: 80% !important;
			}
		}
	}
}
