/* ==========================================================================
    Call to Action (CTA)
========================================================================== */

.c-call-to-action {
    @include padding('2x');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: $base-spacing;
    padding-top: $gutter;
    padding-bottom: $gutter;
    background-color: $yellow;
    color: $black;

    // screen at or above 900px
    @include media(">=medium") {
        flex-direction: row;
        justify-content: space-between;
    }
}

.c-call-to-action__primary {
    @include content-width();
    text-align: center;

    .u-headline {
        margin-bottom: $small-spacing;
    }

    // screen at or above 900px
    @include media(">=medium") {
        margin-right: $gutter;
        text-align: left;

        .u-headline {
            margin-bottom: 0.25em;
        }
    }
}

.c-call-to-action__secondary {
    .c-button {
        @include btn-color($black, $black);
    }
}

.c-call-to-action__button {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin-top: 1em;
}
