/* ==========================================================================
    Card
========================================================================== */

.c-card {
    position: relative;

    .c-media {
    //     position: absolute;
    //     top: calc(50% - #{$smImage / 2});
    //     width: $smImage;
    //     height: $smImage;
        max-width: calc(100% - $gutter);
        margin-left: auto;
        margin-right: auto;
        z-index: 10;
    }

    // Card Headline
    .u-heading {
        font-size: $font-h6;
    }

    strong {
        color: $black--light;
    }

    // .-horizontalDeck & {

    //     // space between siblings
    //     & + .c-card {
    //         margin-top: $gutter;
    //     }

    //     // no less than 600px
    //     @include media(">=small") {
    //         flex-grow: 0;
    //         flex-shrink: 0;
    //         flex-basis: calc(50% - #{$gutter-sm});
    //         max-width: calc(50% - #{$gutter-sm});
    //         margin-top: 0 !important;
    //         margin-bottom: $gutter;

    //         // end of loop
    //         @include last(2) {
    //             margin-bottom: 0;
    //         }
    //     }

    //     // @include media(">=large") {
    //     // 	flex-basis: calc(50% - #{$gutter-sm});
    //     // 	max-width: calc(50% - #{$gutter-sm});
    //     // }
    // }

    // .-verticalDeck & {

    //     // space between siblings
    //     & + .c-card {
    //         margin-top: $gutter;
    //     }

    //     // no greater than 768px, no less than 600px
    //     @include media("<medium", ">=small") {
    //         margin-top: $gutter;
    //         width: calc(50% - #{$gutter-sm});
    //         float: left;

    //         @include odd() {
    //             margin-right: $gutter-sm;
    //         }

    //         @include even() {
    //             margin-left: $gutter-sm;
    //         }

    //         @include first(2) {
    //             margin-top: 0;
    //         }
    //     }

    //     // no less than 768px
    //     // screen at or above 900px
    //     @include media(">=medium") {
    //         flex-grow: 0;
    //         flex-shrink: 0;
    //         flex-basis: calc(33.33% - #{$gutter});
    //         max-width: calc(33.33% - #{$gutter});
    //         margin-top: $gutter;
    //         margin-left: $gutter;

    //         // first card of each row should be flush left
    //         @include first(1) {
    //             margin-left: 0;
    //         }
    //         @include every(5) {
    //             margin-left: 0;
    //         }

    //         // last card of each row should be flush left
    //         @include every(4) {
    //             margin-right: 0 !important;
    //         }

    //         // last card of all should push left
    //         @include last(1) {
    //             margin-right: auto;
    //         }

    //         // first four don't need top margins
    //         @include first(4) {
    //             margin-top: 0;
    //         }
    //     }

    //     // screen at or above 1200px
    //     @include media(">=large") {
    //         flex-basis: calc(25% - #{$gutter});
    //         max-width: calc(25% - #{$gutter});
    //     }
    // }
}

.c-card__body {
    position: relative;
    padding: $gutter-sm;
    transition: background-color $speed,
                color $speed,
                transform $speed;
    border-radius: $border-radius;
    background-color: $white--dark;
    z-index: 9;

//     // screen at or above 1200px
//     @include media(">=large") {
//         width: calc(100% - #{$mdImage - $gutter});
//         margin-left: #{$mdImage - $gutter};
//         padding: $gutter;
//         padding-left: $gutter-lg;
//     }

//     // screen at or above 1500px
//     @include media(">=big") {
//         width: calc(100% - #{$lgImage - $gutter});
//         margin-left: #{$lgImage - $gutter};
//     }

//     //
//     // Card Headline
//     //
//     .u-headline {
//         @include base-font-size();
//     }

//     //
//     // Card Subheadline
//     //
//     .u-subheadline {
//         @include base-font-size();
//         color: $black--light;
//     }

//     //
//     // Card Text
//     //
//     ._text {
//         @include small-font-size();
//         margin-top: 0.75em;
//         padding-top: $gutter-sm / 2;
//         transition: border-color $speed;
//         border-top: 1px $gray--light solid;
//     }

//     //
//     // Vertically stacked card deck
//     //
//     .-verticalDeck & {

//         // no less than 768px
//         // screen at or above 900px
//         @include media(">=medium") {
//             width: 100%;
//             margin: 0;
//             padding: $gutter;
//             padding-top: #{$gutter + $gutter-sm};
//         }
//     }
}

.c-card__link {
    display: block;

    @include hocus {
        .c-card__body {
            transform: translateY(-#{$gutter-xs});
            background-color: $yellow;
            color: $black;
        }
    }
}

//
// Horizontally stacked card deck
//
.-horizontalDeck {

    // no less than 600px
    @include media(">=small") {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
}

//
// Vertically stacked card deck
//
.-verticalDeck {

    // screen below 900px, at or above 600px
    @include media("<medium", ">=small") {
        @include clearfix();
    }

    // screen at or above 600px
    @include media(">=small") {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    // screen at or above 900px
    @include media(">=medium") {
        align-items: flex-start;
    }

    // screen below 1200px, at or above 900px
    @include media("<large", ">=medium") {
        .c-card {
            // hide the last card between these sizes
            @include after-first(3) {
                display: none;
            }
        }
    }
}
