/* ==========================================================================
	Case Studies
========================================================================== */

.c-caseStudies {
	display: block;

	@include media(">=screen1024") {
		display: flex;
		align-items: flex-start;
		align-content: center;
		column-gap: $gutter-lg;
	}
}

.c-caseStudies__content {
	margin-bottom: $gutter;
	padding-left: $gutter;
	padding-right: $gutter;

	@include media(">=screen768") {
		padding-left: $gutter-lg;
		padding-right: $gutter-lg;
	}

	@include media(">=screen1024") {
		flex-grow: 0;
		flex-shrink: 0;
		flex-basis: calc(#{percentage(1/3)} - #{$gutter});
		max-width: calc(#{percentage(1/3)} - #{$gutter});
		margin-bottom: 0;
		padding-left: 0;
		padding-right: 0;
	}

	.u-headline {
		@include media(">=screen1024") {
			@include paragraph();
		}
	}
}

.c-caseStudies__slides {

	@include media(">=screen1024") {
		flex-grow: 0;
		flex-shrink: 0;
		flex-basis: calc(#{percentage(2/3)} - #{$gutter});
		position: relative;
		max-width: calc(#{percentage(2/3)} - #{$gutter});

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			display: block;
			width: $gutter-lg;
			height: 100%;
			// background-image: linear-gradient(to right, $white 0, transparent 100%);
			background-image: linear-gradient(to top right, $white 50%, transparent 50%);
			z-index: 5;
			pointer-events: none;
		}
	}

	/**
	 * === SWIPER ===
	 */

	.swiper-slide {
		position: relative;
	}

	.swiper-button-prev,
	.swiper-button-next {
		@include box-shadow();
		top: auto;
		bottom: 0.5rem;
		width: 44px;
		height: 44px;
		background-color: $white;
		transition: background $speed $cubic-bezier;

		@include hocus {
			background-color: $white--dark;
		}

		&:active {
			background-color: $black--lightest;
			color: $white;
		}
	}

	.swiper-button-prev {
		left: auto;
		right: calc($gutter + 44px);
		@include media(">=screen768") {
			right: calc($gutter-lg + 44px + 0.5rem);
		}
		@include media(">=screen1024") {
			right: calc($gutter-xl + 44px + 0.5rem);
		}
		@include media(">=screen1440") {
			right: calc($gutter-xxl + 44px + 0.5rem);
		}
	}

	.swiper-button-next {
		left: auto;
		right: $gutter;
		@include media(">=screen768") {
			right: $gutter-lg;
		}
		@include media(">=screen1024") {
			right: $gutter-xl;
		}
		@include media(">=screen1440") {
			right: $gutter-xxl;
		}
	}

	// .c-media {
	// 	opacity: 1;
	// 	transition: opacity $speed $cubic-bezier;
	// }

	.c-media__image {
		width: 100%;
	}

	.u-subheadline {
		position: absolute;
		left: $gutter-xs;
		bottom: $gutter-xs;
		max-width: 100%;
		margin-bottom: 0;
		font-size: $font-h4;
		z-index: 2;
	}

	.u-block-link {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
		// transition: background $speed $cubic-bezier;
		z-index: 1;
	}

	@include media(">=screen1024") {
		.u-subheadline {
			@include box-shadow();
			opacity: 0;
			transition: opacity $speed $cubic-bezier;
			color: $white;
		}
		.u-block-link {
			background-image: linear-gradient(to top, fade-out($black, 0.15), fade-out($black, 1) 50%);
			@include hocus {
				// & + .c-media {
				// 	opacity: 0.67;
				// }
				& ~ .u-subheadline {
					opacity: 1;
				}
			}
		}
	}
}
