/* ==========================================================================
    Contact
========================================================================== */

.o-site__contact {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 1s $bezier-slide;
    background-color: fade-out($black, 0.67);
    z-index: 20;
    pointer-events: none;

    &.is-decidingToContact {
        opacity: 1;
        pointer-events: auto;
    }

    .o-site__contact-close {
        display: none;

        // screen at or above 900px
        @include media(">=medium") {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 100%;
            z-index: 1;

            &::before,
            &::after {
                content: "";
                position: absolute;
                top: 50%;
                right: 50%;
                background-color: $white;
            }
        }
    }

    .c-button--close {
        position: absolute;
        top: $gutter;
        right: $gutter;
        width: 24px;
        height: 24px;
        padding: 0;
        z-index: 10;

        span {
            position: absolute;
            display: block;
            width: 24px;
            height: 3px;
            background-color: $black;
        }
        span:first-child {
            transform: rotate(45deg);
        }
        span:last-child {
            transform: rotate(-45deg);
        }
    }
}
