/* ==========================================================================
	Contact
========================================================================== */

.o-site__contact {
	grid-column: span 4;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 0 $gutter;
	transition: min-height $speed-slow,
				height $speed-slow;
	background-color: $yellow;
	background-image: url("/assets/img/concrete-dark.png");
	background-position: center center;
	color: $black;

	@include media(">=screen768") {
		padding-left: $gutter-lg;
		padding-right: $gutter-lg;
	}

	@include media(">=screen1024") {
		padding-left: $gutter-xl;
		padding-right: $gutter-xl;
	}

	@include media(">=screen1440") {
		padding-left: $gutter * 4;
		padding-right: $gutter * 4;
	}

	.-wysiwyg {
		display: none;
		@include paragraph();

		a {
			&::before {
				background-color: $white !important;
			}
		}
	}

	&.said-hi {
		// triggered
		min-height: 50vh;

		._wysiwyg,
		.-wysiwyg {
			display: block;
		}
	}
}
