/**
 * === DRIBBBLE ===
 */

.dribbbles {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;

	.shot {
		position: relative;
		flex-grow: 0;
		flex-shrink: 0;
		flex-basis: 100%;
		max-width: 100%;
		overflow: hidden;
		transition: box-shadow $speed;
		background-color: $black;
		color: $white;
		@include box-shadow();

		@include media("<screen400") {
			& + .shot {
				margin-top: $gutter;
			}
		}

		@include media(">=screen400") {
			flex-basis: 50%;
			max-width: 50%;
		}

		@include media(">=screen480") {
			flex-basis: calc(50% - #{$gutter-sm});
			max-width: calc(50% - #{$gutter-sm});
			margin-bottom: $gutter;
		}

		@include media(">=screen960") {
			flex-basis: calc(33.3% - #{$gutter * 2 / 3});
			max-width: calc(33.3% - #{$gutter * 2 / 3});
			margin-bottom: 0;

			&:nth-child(n+4) {
				margin-top: $gutter;
			}
		}

		&--hover {
			// .shot--hover
			position: absolute;
			top: 5%;
			left: 5%;
			right: 5%;
			bottom: 5%;
			width: 90%;
			height: 90%;
			text-align: center;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: $gutter;
			opacity: 0;
			transition: opacity $speed;
			border: 3px $yellow solid;
		}

		&__link {
			// .shot__link
			position: relative;
			display: block;
			height: 0;
			padding-bottom: 75%;
			opacity: 0;
			z-index: 20;

			@include hocus {
				// .shot__link:hover
				// .shot__link:focus
				& ~ .shot--hover {
					// .shot__link:hover ~ .shot--hover
					// .shot__link:focus ~ .shot--hover
					opacity: 1;
					.shot__headline,
					.shot__description {
						opacity: 1;
						transform: translate3d(0, 0, 0);
					}
				}
				& ~ .shot__image {
					// .shot__link:hover ~ .shot__image
					// .shot__link:focus ~ .shot__image
					transform: scale(1.33);
					opacity: 0.1;
				}
			}
		}

		&__image {
			// .shot__image
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			margin: 0 auto;
			transition: opacity $speed, transform $speed;
			object-fit: cover
		}

		&__headline {
			// .shot__headline
			@include caption();
			margin-bottom: 0.5em;
			padding-bottom: calc(0.5em + 5px);
			opacity: 0;
			transform: translate3d(0, -0.5em, 0);
			transition: transform $speed, opacity $speed;
			transition-delay: $speed;

			&::after {
				left: 50%;
				height: 3px;
				transform: translateX(-50%);
			}
		}

		&__description {
			// .shot__description
			opacity: 0;
			transform: translate3d(0, 0.5em, 0);
			transition: transform $speed, opacity $speed;
			transition-delay: $speed;
			@include small-font-size();
			line-height: $heading-line-height;
		}

		&__button {
			// .shot__button
			position: relative;
			display: inline-block;
			margin-top: 0.5em;
			margin-bottom: 2px;
			padding-bottom: 2px;
			border-bottom: 3px solid $yellow;
			z-index: 50;

			// external arrow
			&::after {
				content: " →";
				color: $yellow;
			}

			// make link clickable
			a {
				position: relative;
				display: block;
				z-index: 50;
			}
		}
	}
}
