/**
 * === EMBEDDED SCRIPTS ===
 */

.wrapper {
	position: relative;

	// 4:3 ratio
	&.-sd {
		@include aspect-ratio(4, 3);
		@include box-shadow();
	}

	// 16:9 ratio
	&.-hd {
		@include aspect-ratio(16, 9);
		@include box-shadow();
	}

	// Most theaters
	&.-theater {
		@include aspect-ratio(21, 9);
		@include box-shadow();
	}

	// Most IMAX theaters
	&.-imax {
		@include aspect-ratio(19, 10);
		@include box-shadow();
	}

	// iFrames, embeds, etc.
	&.-fullSize {
		max-width: 100%;
		height: auto;
	}

	iframe:not(.cp_embed_iframe), // codepen embed
	iframe:not(.instagram-media), // instagram embed
	iframe:not(.-absoluteSize), // instagram embed
	object,
	embed {
		width: 100%;
		height: 100%;
	}

	iframe.cp_embed_iframe {
		max-width: 100%;
		height: auto;
		min-height: 265px;
		max-height: 500px;
	}

	video {
		width: 100%;
		height: 100%;
		max-width: 100%;
	}

	audio {
		@include media(">=screen1170") {
			width: 840px;
		}
	}
}
