/* ==========================================================================
    Section: Embeds
========================================================================== */

.c-embed {
    position: relative;
}

.c-embed__script {
    display: block;
}
