/* ==========================================================================
    Section: Large Title
========================================================================== */

.c-fittext {
    @include padding();
    position: relative;
}

.c-fittext__headline {
    margin: 0;
}
