/* ==========================================================================
    Section: Large Title
========================================================================== */

.c-fittext {
    position: relative;
}

.c-fittext__headline {
    position: relative;
    width: 100%;
    margin: 0;
    font-family: $font-header;
    font-weight: $font-bold;
    text-transform: uppercase;
}
