/* ==========================================================================
	Forms (WP Forms)
========================================================================== */

.wpforms-container {
	position: relative;
	width: 100%;
	height: 100%;
	max-height: 100%;
	margin: 0;
	overflow-y: auto;
	background-color: $white;
	color: $black;

	@include media(">=screen768") {
		width: percentage(2/3);
		margin-left: auto;
		transform: translateX(100%);
		box-shadow: #{$gutter-sm} 0 #{$gutter * 0.67} -#{$gutter * 0.67} fade-out($black, 0.4),
					-#{$gutter-sm} 0 #{$gutter * 0.67} -#{$gutter * 0.67} fade-out($black, 0.4);
		z-index: 2;
	}

	@include media(">=screen1170") {
		width: 50%;
	}

	@include media(">=screen1440") {
		width: percentage(1/3);
	}

	&.is-doingTheContact {
		transform: translateX(0);
		transition: transform $speed-slow $cubic-bezier;
		transition-delay: 0.5s;
	}
}

.wpforms-confirmation-container {
	padding-top: $gutter;
	padding-left: $gutter;
	padding-right: $gutter;
	padding-bottom: $gutter-xl;

	@include media(">=screen600") {
		padding-top: $gutter-xl;
		padding-bottom: $gutter;
	}

	a:not(.c-button) {
		@include inline-block();
	}

	.c-button {
		margin-top: 1em;
	}
}

.wpforms-form {
	padding-top: $gutter;
	padding-left: $gutter;
	padding-right: $gutter;
	padding-bottom: $gutter-xl;

	@include media(">=screen600") {
		padding-top: $gutter-xl;
		padding-bottom: $gutter;
	}
}

.wpforms-field {
	margin-bottom: 2em;

	&.wpforms-field-name {
		margin-bottom: 1em;
	}

	[type=color], [type=date], [type=datetime], [type=datetime-local], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=time], [type=url], [type=week], [type=file], select, input:not([type]), textarea {
		width: 100%;
		transition: border $speed $cubic-bezier;

		@include media(">=screen960") {
			@include hocus {
				border-color: $black--lightest;
				outline-color: $yellow;
				outline-offset: 4px;
				outline-width: 2px;
				box-shadow: none;
			}
		}
	}
}

.wpforms-field-row {
	margin-bottom: 1em;

	@include media(">=screen540") {
		display: flex;
		justify-content: space-between;

		& .wpforms-one-half {
			flex: 0 1 50%;
			max-width: calc(50% - $gutter-sm);
		}
	}
}

.wpforms-field-row-block {
	position: relative;
}

.wpforms-field-number-slider {
	$track-width: 800px;
	$track-height: 0.5rem;
	$thumb-width: 1rem;
	$thumb-height: 2rem;

	input[type="range"] {
		width: $track-width;
		max-width: 100%;
		transition: border $speed $cubic-bezier;
		background: transparent;
		cursor: grab;
		appearance: none;

		&:focus {
			outline: none;
			&::-webkit-slider-thumb {
				outline: 3px solid $yellow;
				outline-offset: $focus-outline-offset;
			}
			&::-moz-range-thumb {
				outline: 3px solid $yellow;
			}
		}

		&:active {
			cursor: grabbing;
		}

		// Track styles
		&::-webkit-slider-runnable-track {
			height: $track-height;
			border-radius: $base-border-radius;
			background: $white--darkest;
		}
		&::-moz-range-track {
			height: $track-height;
			border-radius: $base-border-radius;
			background: $white--darkest;
		}

		// Thumb styles
		&::-webkit-slider-thumb {
			width: $thumb-width;
			height: $thumb-height;
			margin-top: -12px; /* Centers thumb on the track */
			border: 3px solid $black;
			border-radius: $base-border-radius;
			background-color: $white;
			appearance: none;
		}
		&::-moz-range-thumb {
			width: $thumb-width;
			height: $thumb-height;
			border: 3px solid $black;
			border-radius: $base-border-radius;
			background-color: $white;
		}

		@include media(">=screen960") {
			&:hover {
				border-color: $black--lightest;
			}
		}
	}
}

.wpforms-field-number-slider-hint {
	margin-top: 1em;
	font-weight: 600;
}

.wpforms-field-label {
	@include label();
	font-size: 1rem;
	margin-bottom: 1em;
}

.wpforms-required-label {
	color: $red;
}

.wpforms-field-sublabel {
	position: absolute;
	left: 1.5em;
	bottom: -12px;
	margin: 0;
	padding: 0.5em;
	font-size: 1rem;
	font-weight: 700;
	line-height: 1em;
	background-color: $white;
	color: $gray--dark;

	@include media(">=screen540") {
		bottom: -2px;
	}
}

.wpforms-field-textarea {
	textarea {
		min-height: calc($base-line-height * 3);
	}
}

.wpforms-field-gdpr-checkbox,
.wpforms-field-checkbox:not(.wpforms-list-inline) {
	/* Hide the default checkbox */
	input[type="checkbox"] {
		position: absolute;
		opacity: 0;
		pointer-events: none;
	}

	/* Style the custom checkbox */
	input[type="checkbox"] + label:before {
		content: '';
		display: inline-block;
		width: 16px;
		height: 16px;
		border: 2px solid $black;
		border-radius: 3px;
		margin-right: 8px;
		vertical-align: middle;
	}

	/* Style the yellow dot inside the checkbox when checked */
	input[type="checkbox"]:checked + label:before {
		background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Crect x='2' y='2' width='4' height='4' rx='3' fill='%23ffc300'/%3E%3C/svg%3E");
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
	}

	/* Style the custom checkbox when focused */
	input[type="checkbox"]:focus + label:before {
		box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.5); /* Add a focus border */
	}
}

.wpforms-field-checkbox.wpforms-list-inline {

	.wpforms-icon-choices {
		display: flex;
		flex-wrap: wrap;
		gap: 0.5em;
	}

	.wpforms-icon-choices-item {
		@include btn-style();
		flex: 0 1 auto;
		position: relative;
		max-width: calc(50% - 0.25em);
		max-width: 120px;
		padding: 0.75em !important;
		font-family: $font-main;
		text-transform: none;
		line-height: $heading-line-height;
		cursor: pointer;

		&.wpforms-selected {
			background-color: $black;
			color: $white;
		}
	}

	.wpforms-icon-choices-icon {
		display: block;

		svg {
			max-width: 24px;
			max-height: 24px;
			margin-bottom: 0.75em;
			fill: currentColor;
			fill: var(--wpforms-icon-choices-color);
		}
	}

	.wpforms-field-label-inline {
		margin: 0;
		cursor: pointer;
	}
}

.wpforms-field-select {
	select {

	}
}

.wpforms-submit {
	@include btn-style();
	line-height: $base-line-height;
}

.wpforms-hidden,
.wpforms-screen-reader-element {
	@include visually-hidden();
}
