/* ==========================================================================
    Gallery (Masonry)
========================================================================== */

.c-gallery {
    position: relative;

    .swiper.is-gallery {
        width: 100%;
        height: 100%;
    }

    // // screen at or above 600px
    // @include media(">=small") {
    // }
}

.c-gallery__image-link {
    display: block;
}
