/* ==========================================================================
    Section: Grid
========================================================================== */

.c-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: $gutter-sm;

    // screen at or above 900px
    @include media(">=medium") {
        gap: $gutter;
    }
}

.c-grid__item {
    flex: 0 1 50%;
    max-width: calc(50% - ($gutter-sm / 2));

    // screen at or above 900px
    @include media(">=medium") {
        flex-basis: percentage(1/3);
        max-width: calc(percentage(1/3) - ($gutter / 3 * 2));
    }
}
