/* ==========================================================================
    Hamburger Menu
========================================================================== */

.c-hamburger {
    display: block;
    width: 30px;
    height: 18px;
    padding-left: 0;
    padding-right: 0;
    border: none;
    color: $white;
    cursor: pointer;
    appearance: none;

    // Mobile Menu Activated
    .is-active & {
        .c-hamburger {
            transform: scale(0.9);
        }
    }
}

.c-hamburger__line {
    position: relative;
    display: block;
    width: 100%;
    height: 2px;
    transition: all $speed $bezier-slide;
    background-color: $white;

    // sibling selector
    & + & {
        margin-top: 5px;

        // open menu
        .is-active & {
            margin-top: 7px;
        }
    }

    // animate!
    &:nth-child(1) {
        animation: $speed top-2 forwards $bezier-back;
        .is-active & {
            animation: $speed top forwards $bezier-back;
        }
    }
    &:nth-child(2) {
        animation: $speed scaled-2 forwards $bezier-back;
        .is-active & {
            animation: $speed scaled forwards $bezier-back;
        }
    }
    &:nth-child(3) {
        animation: $speed bottom-2 forwards $bezier-back;
        .is-active & {
            animation: $speed bottom forwards $bezier-back;
        }
    }
}

/**
 * === ANIMATIONS ===
 */

@keyframes top {
    0% {
        top: 0;
        transform: rotate(0);
    }
    50% {
        top: 8px;
        transform: rotate(0);
    }
    100% {
        top: 8px;
        transform: rotate(45deg);
    }
}

@keyframes top-2 {
    0% {
        top: 8px;
        transform: rotate(45deg);
    }
    50% {
        top: 8px;
        transform: rotate(0deg);
    }
    100% {
        top: 0;
        transform: rotate(0deg);
    }
}

@keyframes bottom {
    0% {
        bottom: 0;
        transform: rotate(0);
    }
    50% {
        bottom: 10px;
        transform: rotate(0);
    }
    100% {
        bottom: 10px;
        transform: rotate(135deg);
    }
}

@keyframes bottom-2 {
    0% {
        bottom: 10px;
        transform: rotate(135deg);
    }
    50% {
        bottom: 10px;
        transform: rotate(0);
    }
    100% {
        bottom: 0;
        transform: rotate(0);
    }
}

@keyframes scaled {
    50% {
        transform: scale(0);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes scaled-2 {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
