/**
 * === INSTAGRAM FEED ===
 */

.widget__instagram {
	margin-bottom: 0;

	@include media('>=768px') {
		margin-bottom: $gutter;
	}

	&--title {
		// .widget__instagram--title
		@include label();
		width: 100%;
		margin-top: $gutter;
		margin-bottom: $gutter;
		line-height: $base-line-height;
		color: $black--light;

		@include media(">=screen1440") {
			margin-top: $gutter * 1.5;
			margin-bottom: $gutter * 1.5;
		}

		.-svg {
			display: inline-block;
			width: 24px;
			height: 24px;
			margin-bottom: 2px;
			vertical-align: middle;
			line-height: 24px;
		}
	}
}

@supports (display: flex) {
	#sb_instagram {

		#sbi_images {
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			align-items: flex-start;
		}

		// 4 column layout on smash balloon
		&.sbi_col_4.sbi_disable_mobile {
			#sbi_images {
				.sbi_item {
					width: calc(25% - #{$gutter});
					margin-bottom: 0 !important;
					overflow: visible;

					@media (max-width: 768px) {
						margin-bottom: $gutter !important;
						width: calc(50% - #{$gutter / 2});
					}
				}
				.sbi_photo {
					opacity: 1 !important;
					transition: box-shadow $speed $cubic-bezier;
					box-shadow: none;
					@include hocus {
						opacity: 1 !important;
						box-shadow: 0 0 0 10px $white--dark,
									0 0 0 20px $yellow;
					}
				}
			}
		}
	}
}
