/* ==========================================================================
    Intro Content
========================================================================== */

.c-intro {
    @include content-width();
    padding-top: $gutter;
    padding-bottom: $gutter;

    .c-details {
        margin-bottom: $line-height;
    }

    .t-page & {
        @include padding();
    }

    h2 {
        @include headline();
    }

    h3 {
        @include subheadline();
    }

    // screen at or above 900px
    @include media(">=medium") {
        padding-top: $gutter-lg;
        padding-bottom: $gutter-lg;
    }
}
