/* ==========================================================================
    Intro Content
========================================================================== */

.c-intro {
    @include content-width();
    padding-top: $gutter;
    padding-bottom: $gutter;

    .c-details {
        margin-bottom: $line-height;
    }

    .t-page & {
        @include padding();
    }
}
