/* ==========================================================================
    Marquee
========================================================================== */

.c-marquee {
    position: absolute;
    top: calc(50% - 41px);
    left: -$gutter-sm;
    display: flex;
    align-items: center;
    width: calc(100% + $gutter);
    max-height: 82px;
    padding-top: $gutter-sm;
    padding-bottom: $gutter-sm;
    overflow: hidden;
    transform: rotate(-1deg);
    background-color: $yellow;
    color: $black;
    z-index: 10;
}

.c-marquee__content {
    display: flex;
    column-gap: $large-spacing;
    white-space: nowrap;

    & + & {
        margin-left: $large-spacing;
    }

    .c-button {
        @include btn-color($black, $black);
    }

    span {
        display: flex;
        align-items: center;
        column-gap: $large-spacing;
    }

    strong {
        @include subheadline();
        font-family: $font-header;
        font-weight: $font-bold;
    }

    // screen at or above 900px
    @include media(">=medium") {
        strong {
            font-size: $font-h3;
        }
    }

    // screen below 600px
    @include media("<small") {
        &:nth-child(2) {
            display: none;
        }
    }
}
