/* ==========================================================================
	Navigation
========================================================================== */

/**
 * === MENU ===
 */

.c-navigation {
	width: 100%;
	height: auto;
	margin-bottom: $gutter-lg;
	color: $white;

	@include media(">=screen600") {
		height: 100px;
		margin-bottom: 0;
		background-color: $black;
	}

	&.is-visible {
		max-height: calc(100vh - 72px);
		overflow: auto;
		transform: translateY(0);
		z-index: 40;

		.o-site__header--logo {
			top: 20px;
		}
	}

	.menu {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: calc(100vh - 72px);
		margin: 0;
		padding: 72px $gutter 0;
		opacity: 0;
		text-transform: uppercase;
		letter-spacing: 4px;
		visibility: hidden;

		@include media("<screen600") {
			justify-content: center;
			align-items: center;
		}

		@include media(">=screen600") {
			flex-direction: row;
			align-items: center;
			height: 100%;
			padding: 0;
			padding-left: calc(50px + #{$gutter} + #{$gutter-sm});
			opacity: 1;
			visibility: visible;
		}

		@include media(">=screen768") {
			padding-left: calc(50px + #{$gutter-lg} + #{$gutter-sm});
		}

		@include media(">=screen1024") {
			padding-left: calc(50px + #{$gutter-lg});
		}

		&-item {
			// .menu-item
			position: relative;

			&-home {
				// .menu-item-home
				@include media(">=screen600") {
					display: none;
				}
			}

			// mobile only
			@include media("<screen600") {
				@include paragraph();
				font-weight: 700;
				padding: $small-spacing / 2 0;
			}
		}

	}

	.nav-link {
		display: block;

		@include media("<screen600") {
			padding: $small-spacing / 2;
		}

		@include media(">=screen600") {
			padding: $small-spacing / 2 $small-spacing;
			transition: background-color $speed-slow, color $speed-slow;
			@include body-copy();
			font-weight: 700;
			border-radius: $base-border-radius;

			&:hover {
				background-color: fade-out($white, 0.9);
			}
		}
	}

	.submenu {
		display: none;
	}
}

/**
 * === TOGGLE ===
 */

.toggle__menu {
	position: absolute;
	left: 0;
	bottom: 0;
	margin: $gutter-sm $gutter;
	padding: $small-spacing / 2 0;
	transition: background-color $speed-slow linear,
				color $speed-slow linear,
				box-shadow $speed-slow linear;
	font-family: $font-header;
	font-size: 1.25em !important;
	font-weight: 700;
	color: $white;
	z-index: 35;
	cursor: pointer;

	@include hocus {
		background-color: $black--light;
		color: $white;
		box-shadow: 0 0 0 5px $black--light;

		.bar {
			background-color: $white;
		}
	}

	&.open {
		color: $white;
	}

	@include media(">=screen600") {
		top: 0;
		bottom: auto;
		color: $black;
		margin-top: 32px;
		margin-bottom: 32px;

		&:hover {
			.m, .n, .u {
				color: $white;
			}
			.bar {
				background-color: $white;
			}
		}
	}

	@include media(">=screen768") {
		margin-left: $gutter-lg;
	}

	@include media(">=screen1024") {
		margin-left: $gutter-xl;
		transform: translateX(0);
		transition: transform $speed;

		.-slideUp &,
		.-slideDown &,
		.-activeNavigationAreaUpTopButNotWhenScrolling & {
			transform: translateX( calc(-100% - #{$gutter}) );
		}
	}

	@include media(">=screen1440") {
		margin-left: $gutter * 4;
	}

	.m, .n, .u {
		display: inline-block;
		transition: color $speed-slow;
	}

	.e {
		position: relative;
		top: -2px;
		display: inline-block;
		width: 12px;
		height: 12px;
		transition: color $speed-slow;

		&.toggle__close {
			top: -1px;
			width: 14px;
			height: 13px;

			.bar {
				width: 15px;
				transition: background-color $speed-slow;
				background-color: $white;
			}
			.bar:nth-child(1) {
				top: 5px;
				transform: rotate(45deg);
				transition: $speed-slow;
			}
			.bar:nth-child(2) {
				margin: 2px 0;
				opacity: 0;
				transition: $speed-slow;
			}
			.bar:nth-child(3) {
				bottom: 5px;
				transform: rotate(-45deg);
				transition: $speed-slow;
			}
		}

	}

	.bar {
		position: relative;
		display: block;
		background-color: $white;
		transition: background-color $speed-slow;
		width: 11px;
		height: 3px;

		&:nth-child(2) {
			margin: 2px 0;
		}

		@include media(">screen600") {
			background-color: $black;

			&.open {
				background-color: $white;
			}
		}
	}
}
