/* ==========================================================================
	Pagination
========================================================================== */

.pagination {
	display: flex;
	justify-content: center;
	margin-bottom: $large-spacing;

	&__item {
		// .pagination__item
		margin-left: 5px;
		margin-right: 5px;
	}

	&__link {
		// .pagination__link
		@include small-font-size();
		padding: $small-spacing / 2 $small-spacing;
		border-width: 2px;

		&::after {
			height: 5px;
		}
	}

	&__current {
		// .pagination__current
		@include btn-color($gray);
		@include small-font-size();
		display: inline-block;
		padding: $small-spacing / 2 $small-spacing;
		border-width: 2px;
		pointer-events: none;
	}
}
