/* ==========================================================================
	Parallax
========================================================================== */

.-parallax {
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 150vh !important;
	object-fit: cover;
}
