/* ==========================================================================
	Repeater
========================================================================== */

.repeater {
	@include base-font-size();
	position: relative;
	max-width: $copy-width;
	margin-bottom: $gutter;

	&::before {
		content: attr(data-start) " – " attr(data-end);
		position: absolute;
		top: 0;
		right: 0;
		display: block;
		@include caption();
		margin-top: 3.25em;

		@include media(">=screen1024") {
			margin-top: 5em;
		}
	}

	&.-current {
		&::before {
			content: attr(data-end);
		}
	}

	// &[open] {}
}

.repeater__summary {
	@include paragraph();
	list-style: none;
	cursor: pointer;

	&:focus {
		outline: $focus-outline;
		outline-offset: $focus-outline-offset;
	}

	&::-webkit-details-marker {
		display: none;
	}
}

.repeater__title {
	@include body-copy();
}

.repeater__body {

	._subheadline {
		@include caption();
		margin-bottom: $base-spacing;
	}
}

.repeater__link {
	font-weight: 700;
}
