/**
 * === TEXT AND IMAGE ===
 */

.-textAndImage {

	// image right, text left
	@include media(">=screen768") {
		display: flex;
		align-items: center;
		margin-right: 0;
	}
	@include media(">=screen1280") {
		margin-right: $gutter * 3;
	}
	@include media(">=screen1440") {
		margin-right: $gutter * 4;
	}

	// image left, text right
	&.-reversed {
		flex-direction: row-reverse;
		margin-right: $gutter * 2;
		margin-left: 0;
		@include media(">=screen1280") {
			margin-left: $gutter * 3;
			margin-right: $gutter * 3;
		}
		@include media(">=screen1440") {
			margin-left: $gutter * 4;
			margin-right: $gutter * 4;
		}

		// text column
		._col.-wysiwyg {
			padding-right: 0;
			padding-left: $gutter;
			@include media(">=screen1170") {
				padding-right: 0;
				padding-left: $gutter-lg;
			}
		}

		// Image column
	}

	// only two columns
	._col {
		position: relative;

		// Text column
		&.-wysiwyg {

			@include media(">=screen768") {
				flex-grow: 0;
				flex-shrink: 0;
				flex-basis: 50%;
				max-width: 50%;
				margin-bottom: 0;
				padding-right: $gutter;
			}
			@include media(">=screen1170") {
				padding-right: $gutter-lg;
			}
			@include media(">=screen1170") {
				flex-basis: 45%;
				max-width: 45%;
			}
			@include media(">=screen1440") {
				flex-basis: 40%;
				max-width: 40%;
			}
		}

		// Image column
		&.-image {

			@include media(">=screen768") {
				flex-grow: 0;
				flex-shrink: 0;
				flex-basis: 50%;
				max-width: 50%;
			}
			@include media(">=screen1170") {
				flex-basis: 55%;
				max-width: 55%;
			}
			@include media(">=screen1440") {
				flex-basis: 60%;
				max-width: 60%;
			}

			._image {
				width: 100%;
			}
		}
	}
}
