/* ==========================================================================
    Section: Video
========================================================================== */

.c-video {
    padding-left: $gutter;
    padding-right: $gutter;
}

// .c-videoEmbed {}
