/*
* === BLOG ===
*/

.posts {
	&__categories {
		// .posts__categories
		grid-column: span 4;
		font-size: .75em;
		margin: $gutter / 2 $gutter;
		ul {
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			.cat-item,
			.cat-item-all {
				flex: 0 1 auto;
				background-color: $color__black;
				color: $color__white;
				margin-right: 10px;
				&.current-cat {
					& > a {
						font-style: italic;
					}
				}
				& > a {
					display: block;
					padding: 5px 10px;
				}
			}
		}
	}
	.post {
		grid-column: span 4;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		border-radius: 3px;
		box-shadow: 2px 2px 4px 0 fade-out($color__black, .95);
		margin: 0 $gutter $gutter;
        @include media(">=screen840") {
//			grid-column: span 2;
			flex-direction: row;
			align-items: center;
			box-shadow: none;
//			&:nth-of-type(odd) { margin-right: 0; }
//			&:nth-of-type(even) { margin-left: 0; }
		}
        @include media(">=screen960") {
            .post__image {
                transition: opacity 300ms;
            }
            &:hover,
            &:focus {
                .post__image { opacity: .05; }
				.post__date { border-color: $color__yellow; }
            }
        }
		&__header {
			// .post__header
			order: 2;
			display: flex;
			flex-direction: row;
			@include media(">=screen840") {
				order: 1;
				align-items: center;
				position: absolute;
				top: auto;
				width: 100%;
				z-index: 1;
			}
		}
		&__title {
			// .post__title
			text-transform: none;
			@include underlined();
			@include media(">=screen840") {
				margin-bottom: .2em;
				padding-bottom: calc(10px + .2em);
			}
			&--cats {
				// .post__title--cats
				margin-bottom: .5em;
				@include media(">=screen840") {
					display: block;
					font-size: .75em;
					margin: 1em 0 .5em;
				}
			}
		}
		&__date {
			// .post__date
			flex: 0 1 20%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			background-color: $color__yellow;
			color: $color__yellow--light;
			border-bottom-left-radius: 3px;
			padding: $gutter/2;
			@include media(">=screen840") {
				flex: 1 0 100px;
				background-color: transparent !important;
				color: $color__black;
				border: 10px $color__white--dark solid;
				@include size(100px);
				margin-right: $gutter;
				padding: 0;
				transition: border-color $speed;
			}
			.month {
				line-height: 1em;
			}
			.day {
				font-size: 2em;
				font-weight: 700;
				line-height: 1em;
			}
			.updated { display: none; }
			a {
				@extend %block-link;
			}
		}
		&__content {
			// .post__content
			flex: 1 0 80%;
			padding: $gutter/2;
			display: block;
			@include media(">=screen840") {
				flex: 0 1 auto;
				padding: 0;
			}
		}
		&__image {
			// .post__image
			order: 1;
			background: $color__white no-repeat center center scroll;
			background-size: cover;
			@include size(100%, 150px);
			border-top-left-radius: 3px;
			border-top-right-radius: 3px;
			@include media(">=screen840") {
				order: 2;
				border-radius: 0;
				@include size(60%, 300px);
				margin-left: 40%;
			}
			@include media(">=screen960") {
				width: 75%;
				margin-left: 25%;
			}
		}
		&__footer {
			// .post__footer
			display: none;
		}
		&__link {
			// .post__link
			@extend %block-link;
			display: none;
		}
	}
}