/*
* === BLOG ===
*/

body.blog {
	position: relative;
	@include media(">=screen840") {
		background-color: $color__white--dark;
		margin-bottom: 2em;
		&::after {
			content: "";
			height: 2em;
		}
	}
	
	.posts {
		@supports (display: grid) {
			grid-column: span 4;
			width: auto;
			margin-left: $gutter;
			margin-right: $gutter;
		}
		
		&__banner {
			// .posts__banner
			position: relative;
			background-color: $color__white--dark;
			@include size(100%, 300px);
			@include image-overlay();
			margin-bottom: $gutter;
			@include media(">=screen768") {
				height: 100vh;
				margin-bottom: $gutter * 2;
			}
			
			@supports (display: grid) {
				display: grid;
				grid-column: span 4;
				width: auto;
			}
			
			&--image {
				// .posts__banner--image
				transform: translateY(-25%);
				z-index: 0;
				
				@supports (object-fit: cover) {
//					@include size(100%, 300px);
					object-fit: cover;
					transform: translate(0);
				}
			}
			
			&--title {
				// .posts__banner--title
				z-index: 2;
				h2 {
					color: $color__white;
					font-size: 3em;
					@include text-shadow();
					margin-bottom: 0;
				}
				
				@include media(">=screen1170") {
					font-size: 5em;
					h2 { font-size: inherit; }
				}
				
				@supports (display: flex) {
					display: flex;
					justify-content: center;
					align-items: center;
					padding: 0 $gutter;
				}
			}
			
			&--contact {
				// .posts__banner--contact
				@include btn-contact();
			}
		}
		
		&__article {
			// .posts__article
			width: 100%;
			margin: $base-spacing 0 #{$gutter * 2};
			@include media(">=screen600")  {
				padding-right: 20%;
			}
			@include media(">=screen840")  { padding-right: 30%; }
			@include media(">=screen1024") { padding-right: 40%; }
			@include media(">=screen1600") { padding-right: 50%; }
		}
	}
	
	.type-post {
		grid-column: span 4;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		border-radius: 3px;
		box-shadow: 2px 2px 4px 0 fade-out($color__black, .95);
		margin: 0 $gutter $gutter;
        @include media(">=screen840") {
			display: block;
			border-radius: 0;
			box-shadow: none;
			width: 100%;
			margin-bottom: $gutter * 2;
			min-height: 420px;
		}
        @include media(">=screen960") {
			width: 870px;
			margin-left: auto;
			margin-right: auto;
            &:hover,
            &:focus {
				.post__date { border-color: $color__yellow; }
            }
        }
		@include media(">=screen1170") {
			width: 1024px;
		}
		@include media(">=screen1920") {
			width: 1366px;
		}
		
		.post__header {
			order: 2;
			display: flex;
			flex-direction: row;
			@include media(">=screen840") {
				@include position(absolute, 23px 0 null null);
				background: $color__white;
				box-shadow: 2px 2px 4px 0 fade-out($color__black, .95);
				@include size(50%, 90%);
				min-height: 200px;
				padding: $base-spacing;
				overflow: hidden;
				z-index: 3;
			}
		}
		
	.post__title {
			text-transform: none;
			@include underlined();
			@include media(">=screen840") {
				margin-bottom: .2em;
				padding-bottom: calc(10px + .2em);
			}
			
			&--cats {
				// .post__title--cats
				margin-bottom: .5em;
				@include media(">=screen840") {
					display: block;
					font-size: .75em;
					margin: 1em 0 .5em;
				}
			}
		}
		
.post__date {
			flex: 0 1 20%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			background-color: $color__yellow;
			color: $color__yellow--light;
			border-bottom-left-radius: 3px;
			padding: $gutter/2;
			@include media(">=screen840") {
				flex: 1 0 100px;
				background-color: transparent !important;
				color: $color__black;
				border: 10px $color__white--dark solid;
				@include size(100px);
				margin-right: $gutter;
				padding: 0;
				transition: border-color $speed;
				display: none;
			}
			.month {
				line-height: 1em;
			}
			.day {
				font-size: 2em;
				font-weight: 700;
				line-height: 1em;
			}
			.updated { display: none; }
			a {
				@include block-link();
				@include media(">=screen840") { display: none; }
			}
		}
		
.post__content {
			flex: 1 0 80%;
			display: block;
			padding: $gutter / 2;
		}
		
.post__image {
			order: 1;
			background: $color__white no-repeat center center scroll;
			background-size: cover;
			@include size(100%, 150px);
			border-top-left-radius: 3px;
			border-top-right-radius: 3px;
			@include media(">=screen840") {
				@include position(absolute, 0 null null 50%);
				pointer-events: none;
				transform: translate(-50%, 0);
				z-index: 1;
				@supports (object-fit: cover) {
					@include size(100%, 200%);
					object-fit: cover;
				}
//				@include position(absolute, 0 null null 0);
//				box-shadow: 2px 2px 4px 0 fade-out($color__black, .95);
//				@include size(60%, 100%);
//				overflow: hidden;
			}
	&--parallax {
		
	}
		}
		
.post__link {
			@include block-link();
		}
		
		// Inverse odd/even layout
		@include media(">=screen840") {
			&:nth-child(even) {
				.post__image {
					left: auto;
					right: 0;
				}
				.post__header {
					left: 0;
					right: auto;
				}
			}
		}
	}
}