/*
* === BLOG ===
*/

body.blog {
	position: relative;
	@include texture($color__white--dark, 54, 0);
	margin-bottom: 2em;
	
	.posts {
		@supports (display: grid) {
			grid-column: span 4;
			width: auto;
			margin-left: $gutter;
			margin-right: $gutter;
		}
		
		&__banner {
			// .posts__banner
			position: relative;
			background-color: $color__white--dark;
			color: $color__white;
			text-align: left;
			@include size(100%, 300px);
			@include image-overlay();
			margin-bottom: $gutter;
			padding-left: $gutter;
			padding-right: $gutter;
			@include media(">=screen768") {
				height: 100vh;
				margin-bottom: $gutter * 2;
				padding-left: $gutter * 2;
				padding-right: $gutter * 2;
			}
			@include media(">=screen1024") {
				padding-left: $gutter * 3;
				padding-right: $gutter * 3;
			}
			@include media(">=screen1440") {
				padding-left: $gutter * 4;
				padding-right: $gutter * 4;
			}
			
			@supports (display: grid) {
				grid-column: span 4;
				display: grid;
				align-items: center;
				width: auto;
			}
			
			&--image {
				// .posts__banner--image
				transform: translateY(-25%);
				z-index: 0;
				
				@supports (object-fit: cover) {
					object-fit: cover;
					transform: translate(0);
				}
			}
			
			&--title {
				// .posts__banner--title
				@include text-shadow();
				h2 {
					@include title();
					margin-bottom: 0;
				}
			}
			
			&--contact {
				// .posts__banner--contact
				@include btn-contact();
			}
		}
		
		&__article {
			// .posts__article
			width: 100%;
			margin: $base-spacing 0 #{$gutter * 2};
			@include media(">=screen600")  {
				padding-right: 20%;
			}
			@include media(">=screen840")  { padding-right: 30%; }
			@include media(">=screen1024") { padding-right: 40%; }
			@include media(">=screen1600") { padding-right: 50%; }
		}
	}
	
	.type-post {
		position: relative;
		display: block;
		border-radius: 3px;
		@include box-shadow();
		@include size(100%, auto);
		min-height: 420px;
		margin-bottom: $base-spacing;
        @include media(">=screen840") {
			border-radius: 0;
			box-shadow: none;
			margin-bottom: $gutter * 2;
		}
        @include media(">=screen960") {
			width: 870px;
			margin-left: auto;
			margin-right: auto;
        }
		@include media(">=screen1170") {
			width: 1024px;
		}
		@include media(">=screen1920") {
			width: 1366px;
		}
		
		.post {
			
			&__content {
				// .post__content
				background: linear-gradient(to bottom right, $color__white 85%, $color__white--dark);
				@include body-copy();
				min-height: 200px;
				padding: $base-spacing;
				@include media(">=screen840") {
					@include position(absolute, 23px 0 null null);
					border-radius: $base-border-radius;
					@include box-shadow();
					@include base-font-size();
					@include size(50%, 90%);
					overflow: hidden;
					
					@supports (display: flex) {
						display: flex;
						flex-direction: column;
						justify-content: center;
					}
				}
				
				.meta {
					color: $color__gray;
					@include media(">=screen840") {
						color: $color__gray--light;
					}
				}
			}
			
			&__title {
				// .post__title
				@include paragraph();
				@include underlined();
				@include media(">=screen840") {
					color: $color__white--dark;
					@include title();
					@include position(absolute, 0 null null 0);
					line-height: 1em;
					padding-bottom: 0;
					margin-bottom: 0;
					@include ellipsis();
					&::after { display: none; }
				}
			}
			
			&__image {
				// .post__image
				background: $color__white--darker;
				@include media(">=screen840") {
					@include position(absolute, 0 null null 0);
					@include box-shadow();
					@include size(60%, 100%);
					overflow: hidden;
					pointer-events: none;
				}
				&--parallax {
					border-top-left-radius: $base-border-radius;
					border-top-right-radius: $base-border-radius;
					width: 100%;
					@include media(">=screen840") {
						border-radius: $base-border-radius;
					}
					@supports (object-fit: cover) {
//						@include size(100%, 200%);
						min-height: 100%;
						object-fit: cover;
					}
				}
			}
			
			&__link {
				// .post__link
				display: none;
				@include media(">=screen840") {
					@include block-link();
				}
			}
			
		}
		// Inverse odd/even layout
		@include media(">=screen840") {
			&:nth-child(even) {
				.post__image {
					left: auto;
					right: 0;
				}
				.post__content {
					left: 0;
					right: auto;
				}
			}
		}
	}
}