/*
* === GALLERY ===
*/

.gallery {
	position: relative;
	
	&__banner {
		// .gallery__banner
		position: relative;
		@include size(100%, 300px);
		margin-bottom: $gutter * 4;
		@include image-overlay();
		overflow: hidden;
		@include media(">=screen960") {
			// margin-bottom: $base-spacing * 2;
			overflow: visible;
		}
		
		@supports (display: grid) {
			display: grid;
			grid-column: span 4;
			width: auto;
		}
		
		&--image {
			// .gallery__banner--image
			transform: translateY(-25%);
			z-index: 0;
			
			@supports (object-fit: cover) {
				@include size(100%, 300px);
				object-fit: cover;
				transform: translate(0);
			}
		}
		
		&--title {
			// .gallery__banner--title
			@include position(absolute, null null 0 $base-spacing);
			background-color: $color__white;
			padding: $base-spacing;
			z-index: 2;
			h2 {
				margin-bottom: 0;
			}
			
			@include media(">=screen960") {
				left: 50%;
				box-shadow: 2px 2px 4px 0 fade-out($color__black, .95);
				transform: translate(-50%, 50%);
			}
		}
		
		&--contact {
			// .gallery__banner--contact
			@include btn-contact();
		}
	}
	
	&__grid {
		// .gallery__grid
		position: relative;
		width: 100%;
		margin: 0 $gutter;
		&::before {
			content: "";
			position: absolute;
			top: 25%;
			left: 33.3%;
			right: $gutter;
			bottom: 15%;
			@include texture();
		}
		@supports (display: grid) {
			grid-column: span 4;
			display: grid;
			grid-template-columns: repeat(12, 1fr);
			width: auto;
			@include media(">=screen600") { grid-column-gap: $gutter; }
		}
	}
	
	&__project {
		// .gallery__project
		grid-column: span 12;
		position: relative;
		margin-bottom: $gutter;
		@include media(">=screen600") {
			grid-column: span 6;
			margin-bottom: $base-spacing;
		}
		@include media(">=screen1024") {
			background: $color__white no-repeat center center;
			&:hover {
				.gallery__project--image { opacity: 0.05; }
				.gallery__project--content::after {
					border-color: $color__yellow;
					transform: translate3d(0,0,0);
				}
				.gallery__project--excerpt {
					opacity: 1;
					transform: translate3d(0,0,0);
				}
			}
		}
		@include media(">=screen1920") {
			grid-column: span 4;
		}
		// fade-in cancel
		&:nth-of-type(1) {
			opacity: 1 !important;
			transform: translate3d(0, 0, 0) !important;
		}
		@include media(">=screen600") {
			&:nth-of-type(2) {
				opacity: 1 !important;
				transform: translate3d(0, 0, 0) !important;
			}
		}
		@include media(">=screen1920") {
			&:nth-of-type(3) {
				opacity: 1 !important;
				transform: translate3d(0, 0, 0) !important;
			}
		}
		
		&--image {
			// .gallery__project--image
			display: block;
			margin-bottom: $small-spacing;
			@include media(">=screen1024") {
				margin-bottom: 0;
				opacity: 1;
				transition: opacity $speed;
			}
		}
		
		&--header {
			// .gallery__project--header
			@extend h4;
			@include underlined();
			padding-bottom: calc(.5em + 10px);
			@include media(">=screen1024") {
				margin: 0;
				padding: 0;
				&::after { display: none; }
			}
		}
		
		&--content {
			// .gallery__project--content
			@include media(">=screen1024") {
				@include position(absolute, 0 null null 0);
				@include size(100%);
				padding: 2em;
				&::after {
					content: "";
					@include position(absolute, null 1em 1em 1em);
					border: 10px $color__black solid;
					height: calc(50% - 1em);
					transform: translate3d(0,-100%,0);
					transition: border-color 300ms, transform 300ms;
				}
			}
		}
		
		&--excerpt {
			// .gallery__project--excerpt
			margin-bottom: 1em;
			@include media(">=screen1024") {
				position: absolute;
				bottom: 2em;
				left: calc(2em + 10px);
				right: calc(2em + 10px);
				margin-bottom: 0;
				opacity: 0;
				transform: translate3d(0, -100%, 0);
				transition: opacity 300ms, transform 300ms;
			}
		}
		
		&--link {
			// .gallery__project--link
			@extend .btn;
			@include media(">=screen1024") {
				@include block-link();
				border: 0;
				font-size: 0;
				opacity: 0;
				z-index: 2;
			}
		}
	}
	
	&__content {
		// .gallery__content
		grid-column: span 4;
		margin: 0 $gutter $base-spacing;
		@include media(">=screen960") {
			grid-column: 2 / 4;
			margin-left: 0;
			margin-right: 0;
		}
	}
	
	&__dribbble {
		// .gallery__dribbble
		width: 100%;
		margin: 0 $gutter;
		@supports(display: grid) {
			grid-column: span 4;
			width: auto;
			margin-left: $gutter;
			margin-right: $gutter;
		}
		
		&--title {
			// .gallery__dribbble--title
			@include underlined();
		}
		
		&--content {
			// .gallery__dribbble--content
			margin-bottom: $small-spacing;
			padding-right: $gutter;
			@include media(">=screen600")  { padding-right: 20%; }
			@include media(">=screen840")  { padding-right: 30%; }
			@include media(">=screen1024") { padding-right: 40%; }
			@include media(">=screen1600") { padding-right: 50%; }
		}
	}
}