/*
* === GALLERY ===
*/

.gallery {
	position: relative;
	
	&__banner {
		// .gallery__banner
		position: relative;
		@include size(100%, 300px);
		@include image-overlay();
		margin-bottom: $gutter * 2;
		@include media(">=screen768") {
			height: 100vh;
			margin-bottom: 0;
		}
		
		@supports (display: grid) {
			display: grid;
			grid-column: span 4;
			width: auto;
		}
		
		&--image {
			// .gallery__banner--image
			transform: translateY(-25%);
			z-index: 0;
			
			@supports (object-fit: cover) {
				object-fit: cover;
				transform: translate(0);
			}
		}
		
		&--title {
			// .gallery__banner--title
			z-index: 2;
			
			h2 {
				color: $color__white;
				font-size: 3em;
				@include text-shadow();
				margin-bottom: 0;
			}
			
			@include media(">=screen1170") {
				font-size: 5em;
				h2 { font-size: inherit; }
			}
			
			@supports (display: flex) {
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 0 $gutter;
			}
		}
		
		&--contact {
			// .gallery__banner--contact
			@include btn-contact();
		}
	}
	
	&__filter {
		// .gallery__filter
		@include position(fixed, null 0 0 0);
		display: flex;
		@include size(100%, 72px);
		z-index: 1;
		
		.label,
		.filter {
			flex: 1 0 0;
			background-color: fade-out($color__white, 0.05);
			color: $color__black;
			border-top: 10px $color__white--dark solid;
			font-family: $font__header;
			font-weight: 700;
			text-transform: uppercase;
			max-width: 100%;
		}
		
		.label {
			background-color: fade-out($color__white--dark, 0.05);
			color: $color__gray;
			text-align: center;
			line-height: 62px;
		}
		
		.filter {
			&.mixitup-control-active {
				background-color: fade-out($color__black--light, 0.05);
				color: $color__white;
				border-top-color: $color__yellow;
			}
		}
		
		@include media(">=screen600") {
			width: auto;
			left: $gutter * 3;
			right: $gutter * 3;
		}
	}
	
	&__grid {
		// .gallery__grid
		position: relative;
		margin: 0 $gutter $gutter;
		transform: translateY(-#{$gutter * 2});
		&::before {
			content: "";
			position: absolute;
			top: 25%;
			left: 33.3%;
			right: $gutter;
			bottom: 15%;
			@include texture();
		}
		@supports (display: flex) {
			display: flex;
			flex-flow: row wrap;
		}
		@supports (display: grid) {
			grid-column: span 4;
		}
	}
	
	&__project {
		// .gallery__project
		position: relative;
		background-color: $color__white--dark;
		@include size(100%, auto);
		min-height: 375px;
		padding: $small-spacing;
		margin-bottom: $gutter;
		overflow: hidden;
		@include media(">=screen840") {
			padding: $base-spacing;
			margin-left: $gutter;
			margin-right: $gutter;
		}
		@include media(">=screen1170") {
			height: 100vh;
			margin-left: $gutter * 2;
			margin-right: $gutter * 2;
			margin-bottom: 0;
		}
		@include media(">=screen1440") {
			margin-left: $gutter * 3;
			margin-right: $gutter * 3;
		}
		@include media(">=screen1920") {
			margin-left: $gutter * 4;
			margin-right: $gutter * 4;
		}
		@supports (display: flex) {
			display: flex;
			flex-flow: column nowrap;
			justify-content: center;
			align-items: center;
			text-align: center;
		}
		
		&--image {
			// .gallery__project--image
			@include position(absolute, 0 null null 50%);
			pointer-events: none;
			transform: translate(-50%, 0);
			z-index: 1;
			@supports (object-fit: cover) {
				@include size(100%, 200%);
				object-fit: cover;
			}
		}
		
		&--content {
			// .gallery__project--content
			z-index: 2;
		}
		
		&--header {
			// .gallery__project--header
			margin-bottom: $base-spacing;
			// @include ellipsis();
			a {
				&:hover,
				&:focus {}
			}
		}
		
		&--excerpt {
			// .gallery__project--excerpt
			font-weight: 700;
			letter-spacing: 1px;
			margin-bottom: $small-spacing;
		}
		
		&--link {
			// .gallery__project--link
			@include underline-link();
			&:hover,
			&:focus {
			}
		}
	}
	
	&__content {
		// .gallery__content
		grid-column: span 4;
		margin: 0 $gutter #{$gutter * 2};
		@include media(">=screen960") {
			grid-column: 2 / 4;
			margin-left: 0;
			margin-right: 0;
		}
	}
	
	&__dribbble {
		// .gallery__dribbble
		width: 100%;
		margin: 0 $gutter #{$gutter * 2};
		@supports(display: grid) {
			grid-column: span 4;
			width: auto;
			margin-left: $gutter;
			margin-right: $gutter;
		}
		
		&--title {
			// .gallery__dribbble--title
			@include underlined();
		}
		
		&--content {
			// .gallery__dribbble--content
			margin-bottom: $small-spacing;
			padding-right: $gutter;
			@include media(">=screen600")  { padding-right: 20%; }
			@include media(">=screen840")  { padding-right: 30%; }
			@include media(">=screen1024") { padding-right: 40%; }
			@include media(">=screen1600") { padding-right: 50%; }
		}
	}
}