/*
* === GALLERY ===
*/

.gallery {
	position: relative;
	
	&__banner {
		// .gallery__banner
		position: relative;
		@include size(100%, 300px);
		margin-bottom: $gutter * 4;
		@include image-overlay();
		overflow: hidden;
		@include media(">=screen960") {
			// margin-bottom: $base-spacing * 2;
			overflow: visible;
		}
		
		@supports (display: grid) {
			display: grid;
			grid-column: span 4;
			width: auto;
		}
		
		&--image {
			// .gallery__banner--image
			transform: translateY(-25%);
			z-index: 0;
			
			@supports (object-fit: cover) {
				@include size(100%, 300px);
				object-fit: cover;
				transform: translate(0);
			}
		}
		
		&--title {
			// .gallery__banner--title
			@include position(absolute, null null 0 $base-spacing);
			background-color: $color__white;
			padding: $base-spacing;
			z-index: 2;
			h2 {
				margin-bottom: 0;
			}
			
			@include media(">=screen960") {
				left: 50%;
				box-shadow: 2px 2px 4px 0 fade-out($color__black, .95);
				transform: translate(-50%, 50%);
			}
		}
		
		&--contact {
			// .gallery__banner--contact
			@include btn-contact();
		}
	}
	
	&__grid {
		// .gallery__grid
		position: relative;
		margin: 0 $gutter #{$gutter * 2};
		&::before {
			content: "";
			position: absolute;
			top: 25%;
			left: 33.3%;
			right: $gutter;
			bottom: 15%;
			@include texture();
		}
		@supports (display: flex) {
			display: flex;
			flex-flow: row wrap;
		}
		@supports (display: grid) {
			grid-column: span 4;
		}
	}
	
	&__project {
		// .gallery__project
		position: relative;
		background-color: $color__white;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23171409' fill-opacity='0.06' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
		width: 100%;
		padding-top: 100%;
		margin-bottom: $gutter;
		& > * {
			// .gallery__project > *
			position: absolute;
		}
		&:nth-child(odd) {
			// .gallery__project:nth-child(odd)
			box-shadow: 41px 51px 68px 5px fade-out($color__black, .95);
		}
		&:nth-child(even) {
			// .gallery__project:nth-child(even)
			box-shadow: -41px 51px 68px 5px fade-out($color__black, .95);
		}
		@include media(">=screen768") {
			width: 50%;
			margin-bottom: 0;
			&:nth-child(4n+0) {
				box-shadow: -41px 51px 68px 5px fade-out($color__black, .95);
				z-index: 1;
			}
			&:nth-child(4n+1) {
				box-shadow: 41px 51px 68px 5px fade-out($color__black, .95);
				z-index: 1;
			}
		}
		@include media(">=screen1280") {
			padding-top: 100vh;
		}
		
		&--image {
			// .gallery__project--image
			top: 0;
			width: 100%;
			@supports (object-fit: cover) {
				height: 50%;
				object-fit: cover;
			}
		}
		
		&--content {
			// .gallery__project--content
			bottom: 0;
			padding: $base-spacing;
		}
		
		&--header {
			// .gallery__project--header
			@include underlined();
		}
		
		&--excerpt {
			// .gallery__project--excerpt
			margin-bottom: $small-spacing;
		}
		
		&--link {
			// .gallery__project--link
			@extend .btn;
		}
	}
	
	&__content {
		// .gallery__content
		grid-column: span 4;
		margin: 0 $gutter #{$gutter * 2};
		@include media(">=screen960") {
			grid-column: 2 / 4;
			margin-left: 0;
			margin-right: 0;
		}
	}
	
	&__dribbble {
		// .gallery__dribbble
		width: 100%;
		margin: 0 $gutter #{$gutter * 2};
		@supports(display: grid) {
			grid-column: span 4;
			width: auto;
			margin-left: $gutter;
			margin-right: $gutter;
		}
		
		&--title {
			// .gallery__dribbble--title
			@include underlined();
		}
		
		&--content {
			// .gallery__dribbble--content
			margin-bottom: $small-spacing;
			padding-right: $gutter;
			@include media(">=screen600")  { padding-right: 20%; }
			@include media(">=screen840")  { padding-right: 30%; }
			@include media(">=screen1024") { padding-right: 40%; }
			@include media(">=screen1600") { padding-right: 50%; }
		}
	}
}