/*
* === HOME ===
*/

.homepage {
	
	// .homepage__swipers moved to /components/_swiper.scss
	
	&__intro {
		// .homepage__intro
		@include paragraph();
		text-align: center;
		font-weight: 700;
		@include padding($gutter);
		@include media(">=screen768")  { @include padding($gutter * 2 $gutter * 4); }
		@include media(">=screen1024") { @include padding($gutter * 3 $gutter * 6); }
		@include media(">=screen1440") { @include padding($gutter * 4 $gutter * 8); }
	}
	
	&__work {
		// .homepage__work
		background: linear-gradient(to bottom right, $color__white 85%, $color__white--dark);
		color: $color__black;
		width: 100%;
		padding: $gutter $gutter $gutter * 2;
		
		@supports (display: grid) {
			grid-column: span 4;
			width: auto;
		}
	}
	
	&__portfolio {
		// .homepage__portfolio
		width: 100%;
		margin-bottom: $gutter * 2;
		@supports (display: grid) {
			grid-column: span 4;
			width: auto;
		}
		
		.feature {
			position: relative;
			display: block;
			margin: 0 $gutter;
//			@include media(">=screen960") {
//				width: 870px;
//				min-height: 420px;
//				margin-left: auto;
//				margin-right: auto;
//			}
//			@include media(">=screen1170") {
//				width: 1024px;
//			}
//			@include media(">=screen1920") {
//				width: 1366px;
//			}
//			
//			&__content {
//				// .feature__content
//				background: linear-gradient(to bottom right, $color__white 85%, $color__white--dark);
//				box-shadow: 2px 2px 4px 0 fade-out($color__black, .95);
//				padding: $base-spacing;
//				overflow: hidden;
//				z-index: 3;
//				@include media(">=screen960") {
//					@include position(absolute, 23px 0 auto auto);
//					@include size(50%, 90%);
//					min-height: 200px;
//				}
//			}
//			
//			&__image {
//				// .feature__image
//				@include media(">=screen960") {
//					@include position(absolute, 0 null null 0);
//					box-shadow: 2px 2px 4px 0 fade-out($color__black, .95);
//					@include size(60%, 100%);
//					object-fit: cover;
//				}
//			}
		}
	}
	
	&__about {
		// .homepage__about
		background: linear-gradient(to top left, $color__black 85%, $color__black--light);
		color: $color__white;
		@include base-font-size();
		@include media(">=screen960") {
			display: flex;
			align-items: center;

		}
		
		&--image {
			// .homepage__about--image
			@include media(">=screen960") {
				flex: 0 0 33.33%;
				max-width: 33.33%;
			}
			@include media(">=screen1280") {
				flex-basis: 50%;
				max-width: 50%;
			}
		}
		
		&--content {
			// .homepage__about--content
			padding: $gutter;
			@include media(">=screen960") {
				flex: 0 0 66.67%;
				max-width: 66.67%;
				padding-left: $gutter * 2;
				padding-right: $gutter * 2;
			}
			@include media(">=screen1280") {
				flex-basis: 50%;
				max-width: 50%;
				padding-left: $gutter * 3;
				padding-right: $gutter * 3;
			}
		}
	}
	
	&__dribbble {
		// .homepage__dribbble
		width: 100%;
		margin: 0 $gutter #{$gutter * 2};
		@supports (display: grid) {
			grid-column: span 4;
			width: auto;
		}
		
//		&--title {
//			// .homepage__dribbble--title
//			@include underlined();
//		}
//		
//		&--content {
//			// .homepage__dribbble--content
//			margin-bottom: $small-spacing;
//			padding-right: $gutter;
//			@include media(">=screen600")  { padding-right: 20%; }
//			@include media(">=screen840")  { padding-right: 30%; }
//			@include media(">=screen1024") { padding-right: 40%; }
//			@include media(">=screen1600") { padding-right: 50%; }
//		}
	}
	
	&__contact {
		// .homepage__contact
		width: 100%;
		margin: 0 $gutter #{$gutter * 2};
		@supports (display: grid) {
			grid-column: span 4;
			width: auto;
		}
		
		h2 {
			@include underlined();
		}
		
		p {
			padding-right: $gutter;
			@include media(">=screen600")  { padding-right: 20%; }
			@include media(">=screen840")  { padding-right: 30%; }
			@include media(">=screen1024") { padding-right: 40%; }
			@include media(">=screen1600") { padding-right: 50%; }
		}
	}
}