/*
* === HOME ===
*/

.homepage {
	
	&__banner {
		// .homepage__banner
		position: relative;
		background: no-repeat center center, linear-gradient(to right top, $color__yellow, tint($color__yellow, 50%));
		@include image-overlay();
		width: 100%;
		margin-bottom: $gutter;
		
		&--image {
			// .homepage__banner--image
			position: relative;
			width: 100vw;
			pointer-events: none;
			z-index: 0;
		}
		
		&--title {
			// .homepage__banner--title
			position: absolute;
			top: $gutter;
			left: $gutter;
			right: $gutter;
			overflow: visible;
			z-index: 2;
			
			.current-city {
				display: none;
//				@include media(">=screen840") {}
			}
			
			.current-title {
				position: relative;
				color: $color__black;
				font-size: 5em;
				line-height: 0.75em;
				@include clipped-title();
				width: 50%;
				margin-bottom: 0;
				@include media(">=screen768")  { font-size: 6em; }
				@include media(">=screen960")  { font-size: 7em; }
				@include media(">=screen1024") { font-size: 8em; }
				@include media(">=screen1280") { font-size: 9em; }
				@include media(">=screen1440") { font-size: 10em; }
			}
			
			.current-title--rotating {
				display: block;
				position: absolute;
				bottom: -.25em;
				font-size: 1.5em;
				-webkit-text-fill-color: $color__yellow;
				-webkit-text-stroke-width: 0;
				mix-blend-mode: multiply;
			}
		}
		
		@supports (display: grid) {
			// .homepage__banner
			grid-column: span 4;
			width: auto;
		}
		
		@supports (object-fit: cover) {
			// .homepage__banner
//			height: 200px;
//			@include media(">=screen768")  { height: 250px; }
//			@include media(">=screen1024") { height: 300px; }
//			@include media(">=screen1440") { height: calc(100vh - 136px); }
			height: calc(100vh - 136px);
			
			&--title {
				// .homepage__banner--title
//				@include media(">=screen1440") {
					top: auto;
					bottom: 0;
//				}
			}
			
			&--image {
				// .homepage__banner--image
				object-fit: cover;
				// filter: grayscale(100%);
				mix-blend-mode: soft-light;
				width: 100%;
//				height: 200px;
//				@include media(">=screen768")  { height: 250px; }
//				@include media(">=screen1024") { height: 300px; }
//				@include media(">=screen1440") { height: calc(100vh - 136px); }
				height: calc(100vh - 136px);
			}
		}
		
		&--contact {
			// .home__banner--contact
			@include btn-contact();
		}
	}
	
	&__work {
		// .homepage__work
		width: 100%;
		padding: $gutter;
		margin-bottom: $gutter * 2;
		@include media(">=screen600")  { padding-left: 10%; padding-right: 10%; }
		@include media(">=screen840")  { padding-left: 15%; padding-right: 15%; }
		@include media(">=screen1024") { padding-left: 20%; padding-right: 20%; }
		@include media(">=screen1600") { padding-left: 25%; padding-right: 25%; }
		
		@supports (display: grid) {
			grid-column: span 4;
			width: auto;
		}
	}
	
	&__portfolio {
		// .homepage__portfolio
		width: 100%;
		margin-bottom: $gutter * 2;
		@supports (display: grid) {
			grid-column: span 4;
			width: auto;
		}
		
		.feature {
			position: relative;
			display: block;
			min-height: 420px;
			margin: 0 $gutter;
			@include media(">=screen960") {
				width: 870px;
				margin-left: auto;
				margin-right: auto;
			}
			@include media(">=screen1170") {
				width: 1024px;
			}
			@include media(">=screen1920") {
				width: 1366px;
			}
			
			&__content {
				position: absolute;
				left: $gutter;
				right: $gutter;
				bottom: -#{$gutter};
				background: $color__white;
				box-shadow: 2px 2px 4px 0 fade-out($color__black, .95);
				min-height: 200px;
				padding: $base-spacing;
				overflow: hidden;
				z-index: 3;
				@include media(">=screen960") {
					top: 23px;
					left: auto;
					right: 0;
					bottom: auto;
					@include size(50%, 90%);
				}
			}
			
			.wp-post-image {
				@include media(">=screen960") {
					@include position(absolute, 0 null null 0);
					box-shadow: 2px 2px 4px 0 fade-out($color__black, .95);
					@include size(60%, 100%);
					object-fit: cover;
				}
			}
		}
	}
	
	&__dribbble {
		// .homepage__dribbble
		width: 100%;
		margin: 0 $gutter #{$gutter * 2};
		@supports (display: grid) {
			grid-column: span 4;
			width: auto;
		}
		
		&--title {
			// .homepage__dribbble--title
			@include underlined();
		}
		
		&--content {
			// .homepage__dribbble--content
			margin-bottom: $small-spacing;
			padding-right: $gutter;
			@include media(">=screen600")  { padding-right: 20%; }
			@include media(">=screen840")  { padding-right: 30%; }
			@include media(">=screen1024") { padding-right: 40%; }
			@include media(">=screen1600") { padding-right: 50%; }
		}
	}
	
	&__contact {
		// .homepage__contact
		width: 100%;
		margin: 0 $gutter #{$gutter * 2};
		@supports (display: grid) {
			grid-column: span 4;
			width: auto;
		}
		
		h2 {
			@include underlined();
		}
		
		p {
			padding-right: $gutter;
			@include media(">=screen600")  { padding-right: 20%; }
			@include media(">=screen840")  { padding-right: 30%; }
			@include media(">=screen1024") { padding-right: 40%; }
			@include media(">=screen1600") { padding-right: 50%; }
		}
	}
}