/*
* === HOME ===
*/

.homepage {
	
	&__banner {
		// .homepage__banner
		position: relative;
		background-color: $color__yellow;
//		background: $color__yellow , linear-gradient(to right top, $color__yellow, tint($color__yellow, 50%));
		background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 304 304' width='304' height='304'%3E%3Cpath fill='%23ffc300' fill-opacity='0.5' d='M44.1 224a5 5 0 1 1 0 2H0v-2h44.1zm160 48a5 5 0 1 1 0 2H82v-2h122.1zm57.8-46a5 5 0 1 1 0-2H304v2h-42.1zm0 16a5 5 0 1 1 0-2H304v2h-42.1zm6.2-114a5 5 0 1 1 0 2h-86.2a5 5 0 1 1 0-2h86.2zm-256-48a5 5 0 1 1 0 2H0v-2h12.1zm185.8 34a5 5 0 1 1 0-2h86.2a5 5 0 1 1 0 2h-86.2zM258 12.1a5 5 0 1 1-2 0V0h2v12.1zm-64 208a5 5 0 1 1-2 0v-54.2a5 5 0 1 1 2 0v54.2zm48-198.2V80h62v2h-64V21.9a5 5 0 1 1 2 0zm16 16V64h46v2h-48V37.9a5 5 0 1 1 2 0zm-128 96V208h16v12.1a5 5 0 1 1-2 0V210h-16v-76.1a5 5 0 1 1 2 0zm-5.9-21.9a5 5 0 1 1 0 2H114v48H85.9a5 5 0 1 1 0-2H112v-48h12.1zm-6.2 130a5 5 0 1 1 0-2H176v-74.1a5 5 0 1 1 2 0V242h-60.1zm-16-64a5 5 0 1 1 0-2H114v48h10.1a5 5 0 1 1 0 2H112v-48h-10.1zM66 284.1a5 5 0 1 1-2 0V274H50v30h-2v-32h18v12.1zM236.1 176a5 5 0 1 1 0 2H226v94h48v32h-2v-30h-48v-98h12.1zm25.8-30a5 5 0 1 1 0-2H274v44.1a5 5 0 1 1-2 0V146h-10.1zm-64 96a5 5 0 1 1 0-2H208v-80h16v-14h-42.1a5 5 0 1 1 0-2H226v18h-16v80h-12.1zm86.2-210a5 5 0 1 1 0 2H272V0h2v32h10.1zM98 101.9V146H53.9a5 5 0 1 1 0-2H96v-42.1a5 5 0 1 1 2 0zM53.9 34a5 5 0 1 1 0-2H80V0h2v34H53.9zm60.1 3.9V66H82v64H69.9a5 5 0 1 1 0-2H80V64h32V37.9a5 5 0 1 1 2 0zM101.9 82a5 5 0 1 1 0-2H128V37.9a5 5 0 1 1 2 0V82h-28.1zm16-64a5 5 0 1 1 0-2H146v44.1a5 5 0 1 1-2 0V18h-26.1zm102.2 270a5 5 0 1 1 0 2H98v14h-2v-16h124.1zM242 149.9V160h16v34h-16v62h48v48h-2v-46h-48v-66h16v-30h-16v-12.1a5 5 0 1 1 2 0zM53.9 18a5 5 0 1 1 0-2H64V2H48V0h18v18H53.9zm112 32a5 5 0 1 1 0-2H192V0h50v2h-48v48h-28.1zm-48-48a5 5 0 0 1-9.8-2h2.07a3 3 0 1 0 5.66 0H178v34h-18V21.9a5 5 0 1 1 2 0V32h14V2h-58.1zm0 96a5 5 0 1 1 0-2H137l32-32h39V21.9a5 5 0 1 1 2 0V66h-40.17l-32 32H117.9zm28.1 90.1a5 5 0 1 1-2 0v-76.51L175.59 80H224V21.9a5 5 0 1 1 2 0V82h-49.59L146 112.41v75.69zm16 32a5 5 0 1 1-2 0v-99.51L184.59 96H300.1a5 5 0 0 1 3.9-3.9v2.07a3 3 0 0 0 0 5.66v2.07a5 5 0 0 1-3.9-3.9H185.41L162 121.41v98.69zm-144-64a5 5 0 1 1-2 0v-3.51l48-48V48h32V0h2v50H66v55.41l-48 48v2.69zM50 53.9v43.51l-48 48V208h26.1a5 5 0 1 1 0 2H0v-65.41l48-48V53.9a5 5 0 1 1 2 0zm-16 16V89.41l-34 34v-2.82l32-32V69.9a5 5 0 1 1 2 0zM12.1 32a5 5 0 1 1 0 2H9.41L0 43.41V40.6L8.59 32h3.51zm265.8 18a5 5 0 1 1 0-2h18.69l7.41-7.41v2.82L297.41 50H277.9zm-16 160a5 5 0 1 1 0-2H288v-71.41l16-16v2.82l-14 14V210h-28.1zm-208 32a5 5 0 1 1 0-2H64v-22.59L40.59 194H21.9a5 5 0 1 1 0-2H41.41L66 216.59V242H53.9zm150.2 14a5 5 0 1 1 0 2H96v-56.6L56.6 162H37.9a5 5 0 1 1 0-2h19.5L98 200.6V256h106.1zm-150.2 2a5 5 0 1 1 0-2H80v-46.59L48.59 178H21.9a5 5 0 1 1 0-2H49.41L82 208.59V258H53.9zM34 39.8v1.61L9.41 66H0v-2h8.59L32 40.59V0h2v39.8zM2 300.1a5 5 0 0 1 3.9 3.9H3.83A3 3 0 0 0 0 302.17V256h18v48h-2v-46H2v42.1zM34 241v63h-2v-62H0v-2h34v1zM17 18H0v-2h16V0h2v18h-1zm273-2h14v2h-16V0h2v16zm-32 273v15h-2v-14h-14v14h-2v-16h18v1zM0 92.1A5.02 5.02 0 0 1 6 97a5 5 0 0 1-6 4.9v-2.07a3 3 0 1 0 0-5.66V92.1zM80 272h2v32h-2v-32zm37.9 32h-2.07a3 3 0 0 0-5.66 0h-2.07a5 5 0 0 1 9.8 0zM5.9 0A5.02 5.02 0 0 1 0 5.9V3.83A3 3 0 0 0 3.83 0H5.9zm294.2 0h2.07A3 3 0 0 0 304 3.83V5.9a5 5 0 0 1-3.9-5.9zm3.9 300.1v2.07a3 3 0 0 0-1.83 1.83h-2.07a5 5 0 0 1 3.9-3.9zM97 100a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-48 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 96a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-144a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM49 36a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM33 68a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 240a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm80-176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm112 176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 180a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 84a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6z'%3E%3C/path%3E%3C/svg%3E") 304px 304px repeat, linear-gradient(to right top, $color__yellow, tint($color__yellow, 50%)) repeat;
		@include image-overlay();
		width: 100%;
		margin-bottom: $gutter;
		
		&--image {
			// .homepage__banner--image
			display: none;
			position: relative;
			width: 100vw;
			pointer-events: none;
			z-index: 0;
		}
		
		&--title {
			// .homepage__banner--title
			@include position(absolute, 0 0 0 0);
			background-color: $color__white;
			@include box-shadow();
			@include size(300px);
			margin: auto;
			padding: $base-spacing;
			overflow: hidden;
			z-index: 2;
			@include media(">=screen768") {
				width: 540px;
			}
			
			.current-city {
				display: none;
			}
			
			.current-title {
				position: relative;
				color: $color__black;
				font-size: 5em;
				text-shadow: 1px -1px 0 shade($color__white, 50%), 
							-1px 2px 1px shade($color__white, 48%),
							-2px 4px 1px shade($color__white, 46%),
							-3px 6px 1px shade($color__white, 44%),
							-4px 8px 1px shade($color__white, 42%),
							-5px 10px 1px shade($color__white, 40%),
							-6px 12px 1px shade($color__white, 38%),
							-7px 14px 1px shade($color__white, 36%),
							-8px 16px 1px shade($color__white, 34%),
							-9px 18px 1px shade($color__white, 32%),
							-10px 20px 1px shade($color__white, 30%),
							-11px 22px 1px shade($color__white, 28%),
							-12px 24px 1px shade($color__white, 26%),
							-13px 26px 1px shade($color__white, 24%),
							-14px 28px 1px shade($color__white, 22%),
							-15px 30px 1px shade($color__white, 20%),
							-16px 32px 1px shade($color__white, 18%),
							-17px 34px 1px shade($color__white, 16%),
							-18px 36px 1px shade($color__white, 14%),
							-19px 38px 1px shade($color__white, 12%),
							-20px 40px 1px shade($color__white, 10%),
							-21px 42px 1px shade($color__white, 8%),
							-22px 44px 1px shade($color__white, 6%),
							-23px 46px 1px shade($color__white, 4%),
							-24px 48px 1px shade($color__white, 2%);
				letter-spacing: .1em;
				line-height: 0.75em;
				margin-bottom: 0;
				word-break: break-word;
			}
			
			.current-title--rotating {
				display: block;
				@include position(absolute, null 0 0 null);
				color: $color__yellow;
				text-align: right;
				text-shadow: none;
				mix-blend-mode: multiply;
			}
		}
		
		@supports (display: flex) {
			// homepage__banner
			.current-title {
				display: flex;
				flex-flow: column nowrap;
				justify-content: center;
				@include size(100%);
			}
		}
		
		@supports (display: grid) {
			// .homepage__banner
			grid-column: span 4;
			width: auto;
		}
		
		@supports (object-fit: cover) {
			// .homepage__banner
			height: calc(100vh - 136px);
			
//			&--title {
//				// .homepage__banner--title
//				top: auto;
//				bottom: 0;
//			}
			
			&--image {
				// .homepage__banner--image
				object-fit: cover;
				// filter: grayscale(100%);
				mix-blend-mode: soft-light;
				width: 100%;
				height: calc(100vh - 136px);
			}
		}
		
		&--contact {
			// .home__banner--contact
			@include btn-contact();
		}
	}
	
	&__work {
		// .homepage__work
		width: 100%;
		padding: $gutter;
		margin-bottom: $gutter * 2;
		@include media(">=screen600")  { padding-left: 10%; padding-right: 10%; }
		@include media(">=screen840")  { padding-left: 15%; padding-right: 15%; }
		@include media(">=screen1024") { padding-left: 20%; padding-right: 20%; }
		@include media(">=screen1600") { padding-left: 25%; padding-right: 25%; }
		
		@supports (display: grid) {
			grid-column: span 4;
			width: auto;
		}
	}
	
	&__portfolio {
		// .homepage__portfolio
		width: 100%;
		margin-bottom: $gutter * 2;
		@supports (display: grid) {
			grid-column: span 4;
			width: auto;
		}
		
		.feature {
			position: relative;
			display: block;
			min-height: 420px;
			margin: 0 $gutter;
			@include media(">=screen960") {
				width: 870px;
				margin-left: auto;
				margin-right: auto;
			}
			@include media(">=screen1170") {
				width: 1024px;
			}
			@include media(">=screen1920") {
				width: 1366px;
			}
			
			&__content {
				position: absolute;
				left: $gutter;
				right: $gutter;
				bottom: -#{$gutter};
				background: $color__white;
				box-shadow: 2px 2px 4px 0 fade-out($color__black, .95);
				min-height: 200px;
				padding: $base-spacing;
				overflow: hidden;
				z-index: 3;
				@include media(">=screen960") {
					top: 23px;
					left: auto;
					right: 0;
					bottom: auto;
					@include size(50%, 90%);
				}
			}
			
			.wp-post-image {
				@include media(">=screen960") {
					@include position(absolute, 0 null null 0);
					box-shadow: 2px 2px 4px 0 fade-out($color__black, .95);
					@include size(60%, 100%);
					object-fit: cover;
				}
			}
		}
	}
	
	&__dribbble {
		// .homepage__dribbble
		width: 100%;
		margin: 0 $gutter #{$gutter * 2};
		@supports (display: grid) {
			grid-column: span 4;
			width: auto;
		}
		
		&--title {
			// .homepage__dribbble--title
			@include underlined();
		}
		
		&--content {
			// .homepage__dribbble--content
			margin-bottom: $small-spacing;
			padding-right: $gutter;
			@include media(">=screen600")  { padding-right: 20%; }
			@include media(">=screen840")  { padding-right: 30%; }
			@include media(">=screen1024") { padding-right: 40%; }
			@include media(">=screen1600") { padding-right: 50%; }
		}
	}
	
	&__contact {
		// .homepage__contact
		width: 100%;
		margin: 0 $gutter #{$gutter * 2};
		@supports (display: grid) {
			grid-column: span 4;
			width: auto;
		}
		
		h2 {
			@include underlined();
		}
		
		p {
			padding-right: $gutter;
			@include media(">=screen600")  { padding-right: 20%; }
			@include media(">=screen840")  { padding-right: 30%; }
			@include media(">=screen1024") { padding-right: 40%; }
			@include media(">=screen1600") { padding-right: 50%; }
		}
	}
}