/*
* === PROJECTS ===
*/

.gallery {
	position: relative;
	
	&__banner {
		// .gallery__banner
		position: relative;
		background-color: $color__white--dark;
		@include size(100%, 300px);
		@include image-overlay();
		margin-bottom: $gutter * 2;
		@include media(">=screen768") {
			height: calc(100vh - 72px);
			margin-bottom: 0;
		}
		
		@supports (display: grid) {
			display: grid;
			grid-column: span 4;
			width: auto;
		}
		
		&--image {
			// .gallery__banner--image
			transform: translateY(-25%);
			z-index: 0;
			
			@supports (object-fit: cover) {
				object-fit: cover;
				transform: translate(0);
			}
		}
		
		&--title {
			// .gallery__banner--title
			z-index: 2;
			
			h2 {
				color: $color__white;
				@include title();
				@include text-shadow();
				margin-bottom: 0;
			}
			
			@supports (display: flex) {
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 0 $gutter;
			}
		}
		
		&--contact {
			// .gallery__banner--contact
			@include btn-contact();
		}
	}
	
	&__filter {
		// .gallery__filter
		position: sticky;
		top: 0;
		@include size(100%, 72px);
		margin-left: $gutter;
		margin-right: $gutter;
		transition: top $speed linear;
		z-index: 30;
		&.with-sticky {
			top: 100px;
		}
		
		@include media(">=screen768") {
			margin-left: $gutter * 2;
			margin-right: $gutter * 2;
		}
		@include media(">=screen1024") {
			margin-left: $gutter * 3;
			margin-right: $gutter * 3;
		}
		@include media(">=screen1440") {
			margin-left: $gutter * 4;
			margin-right: $gutter * 4;
		}
		
		@include media("<=screen600") {
			display: none;
		}
		
		@supports (display: grid) {
			grid-column: span 4;
			width: auto;
		}
		
		.arrays {
			display: flex;
			flex-direction: column;
			background-color: fade-out($color__white, 0.02);
			@include size(100%);
			padding-left: $small-spacing;
			padding-right: $small-spacing;
			@include media(">=screen1170") {
				flex-direction: row;
				justify-content: space-between;
			}
			
			.array {
				font-size: .5rem;
				padding-left: $small-spacing;
				padding-right: $small-spacing;
				
				@supports (display: flex) {
					display: flex;
					align-items: center;
				}
				
				&__item {
					// .array__item
					line-height: 72px;
					height: 72px;
					margin-left: $small-spacing;
					margin-right: $small-spacing;
				}
				
				&__title {
					// .array__title
					position: relative;
					color: $color__gray;
					&--before,
					&--after {
						// .array__title--before
						// .array__title--after
						transition: opacity $speed, position $speed;
					}
					&--before {
						// .array__title--before
						position: absolute;
						opacity: 0;
					}
					&--after {
						// .array__title--after
						position: relative;
						opacity: 1;
					}
					&.mixitup-control-active {
						.array__title--before
						.array__title--after {}
						
						.array__title--before {
							position: relative;
							opacity: 1;
						}
						.array__title--after {
							position: absolute;
							opacity: 0;
						}
					}
				}
				
				&__filter {
					// .array__filter
					position: relative;
					@include label();
					font-size: .75rem !important;
					height: 100%;
					padding: 0 $small-spacing;
					cursor: pointer;
					&::before {
						// .array__filter::before
						content: "";
						@include position(absolute, 75% 0 0 50%);
						display: block;
						background-color: $color__white--dark;
						border-radius: 8px;
						@include size(8px);
						transform: translate(-50%, -50%);
						transition: background-color $speed linear;
					}
					&:hover {
						background-color: transparent;
						color: inherit;
					}
					&:focus {
						outline: none;
						&::before {
							outline: 3px fade-out($color__yellow, 0.4) solid;
							outline-offset: 2px;
						}
					}
					
					&.mixitup-control-active {
						&::before {
							// .array__filter::before
							background-color: $color__yellow;
						}
					}
				}
				
				&__btn {
					// .array__btn
					@include label();
					border-radius: 0;
					font-size: .75rem !important;
					padding: 0;
					border: 0;
					@supports (display: flex) {
						margin-left: auto;
					}
				}
			
			}
		}
	}
	
	&__grid {
		// .gallery__grid
		position: relative;
		margin: 0 $gutter $gutter;
		transform: translateY(-#{$gutter * 2});
		&::before {
			content: "";
			position: absolute;
			top: 25%;
			left: 33.3%;
			right: $gutter;
			bottom: 15%;
			@include texture-grid();
		}
		@supports (display: flex) {
			display: flex;
			flex-flow: row wrap;
		}
		@supports (display: grid) {
			grid-column: span 4;
		}
	}
	
	&__project {
		// .gallery__project
		position: relative;
		background-color: $color__white--dark;
		@include size(100%, auto);
		min-height: 375px;
		padding: $small-spacing;
		margin-bottom: $gutter;
		overflow: hidden;
		@include media(">=screen840") {
			padding: $base-spacing;
			margin-left: $gutter;
			margin-right: $gutter;
		}
		@include media(">=screen1170") {
			height: 100vh;
			margin-left: $gutter * 2;
			margin-right: $gutter * 2;
			margin-bottom: 0;
		}
		@include media(">=screen1440") {
			margin-left: $gutter * 3;
			margin-right: $gutter * 3;
		}
		@include media(">=screen1920") {
			margin-left: $gutter * 4;
			margin-right: $gutter * 4;
		}
		@supports (display: flex) {
			display: flex;
			flex-flow: column nowrap;
			justify-content: center;
			align-items: center;
			text-align: center;
		}
		
		&--image {
			// .gallery__project--image
			@include position(absolute, 0 null null 50%);
			pointer-events: none;
			transform: translate(-50%, 0);
			z-index: 1;
			@supports (object-fit: cover) {
				@include size(100%, 200%);
				object-fit: cover;
			}
		}
		
		&--content {
			// .gallery__project--content
			z-index: 2;
		}
		
		&--header {
			// .gallery__project--header
			margin-bottom: $base-spacing;
			// @include ellipsis();
			a {
				&:hover,
				&:focus {}
			}
		}
		
		&--excerpt {
			// .gallery__project--excerpt
			font-weight: 700;
			letter-spacing: 1px;
			margin-bottom: $small-spacing;
		}
		
		&--link {
			// .gallery__project--link
			@include underline-link();
			&:hover,
			&:focus {
			}
		}
	}
	
	&__content {
		// .gallery__content
		grid-column: span 4;
		margin: 0 $gutter #{$gutter * 2};
		@include media(">=screen960") {
			grid-column: 2 / 4;
			margin-left: 0;
			margin-right: 0;
		}
	}
	
	&__dribbble {
		// .gallery__dribbble
		width: 100%;
		margin: 0 $gutter #{$gutter * 2};
		@supports(display: grid) {
			grid-column: span 4;
			width: auto;
			margin-left: $gutter;
			margin-right: $gutter;
		}
		
		&--title {
			// .gallery__dribbble--title
			@include underlined();
		}
		
		&--content {
			// .gallery__dribbble--content
			margin-bottom: $small-spacing;
			padding-right: $gutter;
			@include media(">=screen600")  { padding-right: 20%; }
			@include media(">=screen840")  { padding-right: 30%; }
			@include media(">=screen1024") { padding-right: 40%; }
			@include media(">=screen1600") { padding-right: 50%; }
		}
	}
}