button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.sd-button,
.btn {
    flex: 0 1 auto;
	cursor: pointer;
	outline: none;
	position: relative;
	white-space: nowrap;
	overflow: hidden;
	display: block;
    margin: 0;
	padding: 1em;
	font-family: @font__header;
	font-size: 1em;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
	text-transform: uppercase;
	background-color: transparent;
	border-radius: 3px;
    .btn-color; // mixin
    -webkit-appearance: none;
	   -moz-appearance: none;
    &::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        height: 4px;
        width: 0;
    }
    &.pull-left,
    &.pull-right {float: none;}
    @media @screen600 {
        &.pull-left {float: left;}
        &.pull-right {float: right;}
    }
    @media @screen400 {display: inline-block;}
    @media @screen960 {
        transition: all 300ms;
        &::after {transition: all 300ms;}
        &:hover {
            &::after {
                width: 100%;
                left: 0;
            }
        }
    }
}