button,
input,
select,
textarea {
	font-size: 100%; // Corrects font size not being inherited in all browsers
	margin: 0; // Addresses margins set differently in IE6/7, F3/4, S5, Chrome
	vertical-align: baseline; // Improves appearance and consistency in all browsers
}

@import "_buttons";
@import "_fields";

#nf-form-1-cont {}
.nf-form-cont {
    order: 1;
    position: relative;
    display: none;
    padding: 1em;
    background-color: @color__white;
    box-shadow: inset 0 1px 1px 0 fade(@color__black,10%),
                inset 0 -1px 1px 0 fade(@color__black,10%);
    h3 {
        font-size: 1.5em;
        @media @screen1024 {
            font-size: 2em;
        }
    }
    nf-fields-wrap {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        nf-field {
            flex: 0 1 auto;
            width: 100%;
            .textarea-container {margin-bottom: 1em !important;}
            .submit-container {margin-bottom: 0 !important;}
            @media @screen600 {
                &:nth-child(1),
                &:nth-child(2) {
                    width: calc(~"50% - 1em");
                }
            }
        }
    }
    @media @screen768 {
        order: 2;
        padding: 2em;
        width: 60%;
    }
    @media @screen1024 {
        width: 66.66666%
    }
}