body#tinymce {
	font-family: "Barlow", -apple-system, BlinkMacSystemFont, Avenir Next, Avenir, Segoe UI, Lucida Grande, Helvetica Neue, Helvetica, Fira Sans, Roboto, Noto, Droid Sans, Cantarell, Oxygen, Ubuntu, Franklin Gothic Medium, Century Gothic, Liberation Sans, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Barlow Semi Condensed", Helvetica Neue, Helvetica, Arial, sans-serif;
	font-weight: 700;
	text-transform: uppercase;
}

a {
	text-decoration: none;
}

p,
li {
	font-size: 1em;
	line-height: 1.5em;
}

p a,
li a {
	color: #ffc300;
	border-bottom: 2px #ffc300 solid;
}

.btn,
.c-button {
	display: block;
	border: 1px #171409 solid;
	color: #171409;
	text-align: center;
	padding: .75em 1.5em;
	margin-bottom: .75em;
}
