{# https://codepen.io/RobinBertilsson/pen/EPaLmo #}
<button type="button" id="menu_toggle" class="toggle__menu">
	<span class="m">M</span>
	<span class="e">
		<span class="bar"></span>
		<span class="bar"></span>
		<span class="bar"></span>
	</span>
	<span class="n">N</span>
	<span class="u">U</span>
</button>

{% include 'components/nav-primary.twig' with { menu : menu.get_items } %}

<a href="{{ site.link }}" id="logo" class="site__logo">
	{#<img src="{{ theme.link }}/assets/img/logo-ig.png" alt="Logo for {{ site.name }}" class="site__logo--logo" />#}
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 101.05 207.75" class="logo">
		<title>Logo</title>
		<g id="frame" data-name="Main layer">
			<g id="design">
				<path d="M54.59,0S58,9,0,64.74v96.09s0,28.87,46.47,46.92c0,0-3.39-9,54.58-64.74V46.92S101.05,18.05,54.59,0ZM67.37,171.24c-33.69-8.68-33.69-32.6-33.69-32.6V36.69c33.69,8.68,33.69,32.6,33.69,32.6Z" />
			</g>
		</g>
	</svg>
</a>
