{% if displaySidebar is defined and displaySidebar == true %}

<aside class="c-sidebar">

	<h3 class="c-sidebar__headline _wysiwyg">Talk to me &ldquo;Socially&rdquo;</h3>

	<ul class="c-sidebar__list">

		<li class="c-sidebar__list-item -ratio">
			<a href="//instagram.com/onemohrtimedesign" class="c-sidebar__link -instagram" target="_blank" rel="noopener nofollow">
				{% include '/assets/media/icons/logo-instagram.svg' %}
				<h3 class="c-sidebar__social">Instagram</h3>
				<p class="c-sidebar__social">@onemohrtimedesign</p>
			</a>
		</li>

		<li class="c-sidebar__list-item -ratio">
			<a href="//dribbble.com/onemohrtime" class="c-sidebar__link -dribbble" target="_blank" rel="noopener nofollow">
				{% include '/assets/media/icons/logo-dribbble.svg' %}
				<h3 class="c-sidebar__social">Dribbble</h3>
				<p class="c-sidebar__social">@OneMohrTime</p>
			</a>
		</li>

		<li class="c-sidebar__list-item -ratio">
			<a href="//twitter.com/onemohrtime" class="c-sidebar__link -twitter" target="_blank" rel="noopener nofollow">
				{% include '/assets/media/icons/logo-twitter.svg' %}
				<h3 class="c-sidebar__social">Twitter</h3>
				<p class="c-sidebar__social">@OneMohrTime</p>
			</a>
		</li>

		<li class="c-sidebar__list-item -ratio">
			<a href="//github.com/OneMohrTime" class="c-sidebar__link -github" target="_blank" rel="noopener nofollow">
				{% include '/assets/media/icons/logo-github.svg' %}
				<h3 class="c-sidebar__social">GitHub</h3>
				<p class="c-sidebar__social">@OneMohrTime</p>
			</a>
		</li>

	</ul>

</aside>

{% endif %}
