@import "_lists";

@import "_tables";

::selection {
    background-color: @color__yellow;
    color: @color__black;
    text-shadow: none;
}

img {
	height: auto; // Make sure images are scaled correctly.
	max-width: 100%; // Adhere to container width.
}

figure { margin: 0; }

hr {
	border: 0;
    border-bottom: 1px dashed @color__gray;
    background-color: @color__gray--light;
	margin: 0 auto 1.7em;
    width: 50%;
}

.site-content {
    background: no-repeat center center scroll;
    background-size: cover;
    @media(max-width: 768px) { background-image: none !important; }
}

.contact-section {
    display: flex;
    flex-flow: row wrap;
    position: absolute;
    bottom: 0;
    visibility: hidden;
    height: 1px;
    transition: height 300ms;
    &.said-hi {
        position: relative;
        visibility: visible;
        height: auto;
        @media @screen768 {
            .contact-section__profile {display: flex;}
        }
        .nf-form-cont {display: block;}
    }
    &__profile {
        order: 2;
        position: relative;
        display: none;
        flex-flow: column wrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        width: 100vw;
        padding: 2em;
        background-color: @color__yellow;
        box-shadow: inset 0 1px 1px 0 fade(@color__black,10%),
                    inset 0 -1px 1px 0 fade(@color__black,10%);
        img {
            flex: 0 1 auto;
            height: 200px;
            width: auto;
            pointer-events: none;
            @media @screen1024 {height: 300px;}
        }
        @media @screen768 {
            order: 1;
            width: 40%;
        }
        @media @screen1024 {
            width: 33.33333%;
        }
    }
    &__social {
        order: 3;
        display: none;
        @media @screen768 {
            display: block;
            position: absolute;
            bottom: 2em;
            right: 2em;
        }
    }
}

.byline {display: none;}

// Jetpack social sharing
.sharedaddy {
    .sd-title {
        display: inline-block;
        position: relative;
        font-size: 1em;
        margin-bottom: 1em;
        padding-bottom: .5em;
        &::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 0;
            height: 10px;
            width: 50%;
            background-color: @color__yellow;
        }
    }
    .sd-content {
        padding-top: calc(~"3.2em + 10px");
        ul {
            list-style: none;
            margin: 0;
        }
        li {
            display: inline-block;
            margin-right: 10px;
        }
        .btn {
            font-size: .75em;
            line-height: 1em;
            position: relative;
            span {
                margin-left: 1em;
            }
            &::before {
                position: absolute;
                font-family: FontAwesome;
                font-size: .75em;
                margin-left: -.25em;
            }
            &.share-facebook::before {content: "\f09a";}
            &.share-twitter::before {content: "\f099";}
            &.share-pinterest::before {content: "\f231";}
            &.share-tumblr::before {content: "\f173";}
        }
    }
}
// Jetpack related posts
#jp-relatedposts  {
    display: block;
    padding-top: 0;
    h3.jp-relatedposts-headline {
        float: none;
        font-size: .75em;
        em::before {
            border: 0 !important;
            height: 10px;
            background-color: @color__yellow;
            margin-bottom: 1em;
        }
    }
    .jp-relatedposts-items {
        clear: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-right: 0;
        .jp-relatedposts-post {
            flex: 0 1 auto;
            width: calc(~"33.33333% - 1em");
            padding-right: 0;
            opacity: 1;
            float: none;
            &-a {
                .unstyled();
            }
            .jp-relatedposts-post-title {
                font-family: @font__header;
            }
            @media @screen960 {
                .pseudo-border();
                &:hover {
                    .jp-relatedposts-post-a {
                        img {
                            opacity: .1;
                        }
                    }
                }
            }
        }
    }
}

//.comments-area {
//    margin: 0 1em 1.7em;
//    .comment-form {
//        margin-bottom: 0;
//        @media @screen600 {
//            &-author {
//                float: left;
//                width: 50%;
//                padding-right: 1em;
//            }
//            &-email {
//                float: left;
//                width: 50%;
//                padding-left: 1em;
//            }
//        }
//        
//    }
//    .form-submit {
//        margin-top: .5em;
//    }
//    @media @screen540 {margin: 0 2em 1.7em;}
//    @media @screen960 {
//        margin: 0 0 1.7em;
//    }
//    .single-post & {
//        @media @screen960 {
//            margin: 0 2em 1.7em;
//        }
//    }
//}

//.about {
//    &-me {
//        margin-bottom: 1.7em;
//        h3 {
//            position: relative;
//            display: block;
//            font-size: 1.25em;
//            cursor: pointer;
//            &::after {
//                content: "";
//                position: absolute;
//                bottom: 0;
//                left: 0;
//                width: 100%;
//                height: 2px;
//                background-color: @color__black;
//            }
//        }
//    }
//}

//.pull {
//    &-left {float: left;}
//    &-right {float: right;}
//}

//.toggle-show {
//    .fa {
//        transition: transform 250ms;
//        transform: rotate(0);
//    }
//}
//.toggle-active {
//    .toggle-show {
//        .fa{transform: rotate(180deg);}
//    }
//    .toggle-hidden {
//        display: block;
//    }
//}

.homepage {
    &-banner {
        width: 100%;
        width: 100vw;
        height: 250px;
        background: @color__yellow no-repeat center center scroll;
        background-size: cover;
        overflow: hidden;
        display: flex;
        align-items: center;
        h1 {
            color: @color__white;
            font-size: 1.5em;
            line-height: 1em;
            margin: 0;
            padding: 0 1em;
            span {
                font-size: inherit !important;
                font-family: @font__header !important;
                font-weight: 700 !important;
                text-transform: uppercase !important;
                padding: 0 5px;
                background-color: fade(@color__white, 85%);
                color: @color__yellow;
            }
            @media @screen768 {font-size: 2.25em;}
            @media @screen1280 {font-size: 3em;}
            @media @screen1600 {font-size: 3.75em;}
        }
        img {
            display: block;
            max-width: 100px;
            height: auto;
            pointer-events: none;
            @media @screen1024 {max-width: 175px;}
        }
        @media @screen1024 {height: 400px;}
    }
    &-intro {
        display: flex;
        flex-flow: row wrap;
        font-size: 1em;
        figure {
            order: 2;
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-content: center;
            align-items: center;
            width: 100vw;
            padding: 20px;
            background-color: @color__yellow;
            text-align: center;
            img {
                flex: 0 1 auto;
                height: 200px;
                width: auto;
                @media @screen1024 {height: 300px;}
            }
            .btn {
                flex: 0 1 auto;
                margin: 20px 0 0;
                .btn-color(@color__yellow--light, @color__yellow--light);
                @media @screen1024 {font-size: .75em;}
            }
            @media @screen768 {
                order: 1;
                width: 40%;
            }
            @media @screen1024 {
                width: 33.33333%;
            }
        }
        article {
            order: 1;
            width: 100vw;
            background-color: @color__white;
            padding: 20px;
            h2 {
                position: relative;
                font-size: 1.5em;
                line-height: 1em;
                margin-bottom: 30px;
                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: -15px;
                    height: 10px;
                    width: 100px;
                    background-color: @color__yellow;
                }
                span {
                    display: block;
                    @media @screen768 {line-height: 1em;}
                    @media @screen1280 {font-size: .5em;}
                }
                @media @screen768 {font-size: 2.25em;}
                @media @screen1440 {font-size: 3em;}
                @media @screen1600 {font-size: 3.75em;}
            }
            @media @screen768 {
                order: 2;
                width: 60%;
                padding: 30px;
            }
            @media @screen960 {padding: 30px 50px;}
            @media @screen1024 {width: 66.66666%; padding: 75px 100px;}
        }
        @media @screen768 {font-size: 1.125em;}
        @media @screen1024 {font-size: 1.313em;}
    }
    &-icons {
        width: 100vw;
        padding: 20px;
        background-color: @color__yellow--light;
        text-align: center;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        img {pointer-events: none;}
        .btn {
            margin: 0 0 1em;
            .btn-color(@color__yellow, @color__yellow);
            @media @screen1024 {margin-bottom: 2em;}
        }
    }
    &-services {
        width: 100vw;
        background-color: @color__yellow--light;
        display: flex;
        flex-flow: row wrap;
        padding: 1em;
        @media @screen600 { padding: 0; }
        .service {
            width: 100%;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            &:nth-child(1) {
                margin-bottom: 1em;
                @media @screen600 { margin-bottom: 0; }
            }
            @media @screen600 {
                background-color: transparent;
                width: 50%;
                padding: 2em;
                flex-flow: row wrap;
                justify-content: center;
                align-content: flex-start;
            }
            @media @screen960 {
                transition: background-color 300ms, color 300ms;
                &:nth-child(1) {
                    background-color: @color__yellow--light;
                    color: @color__yellow;
                    .service__img .designer-stroke {stroke: @color__yellow;}
                    .service__btn.btn {
                        .btn-color(@color__yellow,@color__yellow);
                    }
                    &:hover {
                        background-color: @color__white;
                        color: @color__black;
                        .service__img .designer-stroke {stroke: @color__yellow--dark;}
                        .service__btn.btn {
                            .btn-color(@color__black,@color__yellow);
                        }
                    }
                }
                &:nth-child(2) {
                    background-color: @color__yellow--dark;
                    color: @color__yellow--light;
                    .service__header::after {
                        background-color: @color__yellow--light;
                    }
                    .service__img .developer-stroke {stroke: @color__yellow--light;}
                    .service__btn.btn {
                        .btn-color(@color__yellow--light,@color__yellow--light);
                    }
                    &:hover {
                        background-color: @color__black;
                        color: @color__white;
                        .service__header::after {background-color: @color__yellow;}
                        .service__img .developer-fill {fill: @color__yellow;}
                        .service__btn.btn {
                            .btn-color(@color__white,@color__yellow);
                        }
                    }
                }
            }
            @media @screen1024 { padding: calc(~"100% / 12"); }
            &__img {
                height: auto;
                width: 100px;
                svg {
                    .designer {
                        &-stroke {
                            fill: none;
                            stroke: @color__yellow--dark;
                            stroke-width: 5;
                            stroke-linejoin: round;
                            stroke-miterlimit: 10;
                            
                        }
                        &-fill {
                            fill: @color__yellow;
                        }
                    }
                    .developer {
                        &-stroke {
                            fill: none;
                            stroke: @color__yellow--dark;
                            stroke-width: 5;
                            stroke-linejoin: round;
                            stroke-miterlimit: 10;
                            @media @screen960 {
                            }
                        }
                        &-fill {
                            fill: @color__yellow;
                            @media @screen960 {
                                fill: @color__yellow--light;
                            }
                        }
                    }
                }
            }
            &__header {
                position: relative;
                margin: 1em 0;
                padding-bottom: 10px;
                font-size: 1.375em;
                &::after {
                    content: "";
                    position: absolute;
                    top: 100%;
                    left: calc(~"50% - 50px");
                    width: 100px;
                    height: 10px;
                    background-color: @color__yellow;
                    margin-bottom: 1em;
                }
                @media @screen600 {
                    width: 100%;
                    text-align: center;
                }
                @media @screen960 {font-size: 1.875em;}
            }
            &__body {
                font-size: .875em;
                margin-bottom: 1em;
                @media @screen1024 {
                    font-size: 1em;
                }
            }
            &__btn {}
        }
    }
    &__work {
        width: 100vw;
        background-color: @color__white;
        padding: 2em;
        text-align: center;
        @media @screen840 {padding: 5em 2em;}
        .btn {
            .btn-color();
        }
    }
    &__slideshow {
        // .homepage__slideshow
        width: 100vw;
        max-width: 100%;
        margin: 0 0 1em;
        .slide {
            display: flex;
            flex-flow: column nowrap;
            background-color: @color__white;
            &__img {
                order: 1;
                @media @screen840 {
                    order: 2;
                    width: 50%;
                }
            }
            &__content {
                order: 2;
                position: relative;
                padding: 20px;
                &::before {
                    content: "";
                    position: absolute;
                    top: -1em;
                    left: calc(~"50% - 5px");
                    width: 10px;
                    height: calc(~"100% + 2em");
                    background-color: @color__yellow;
                    z-index: -1;
                }
                @media @screen840 {
                    order: 1;
                    width: 50%;
                    padding: 1em 50px;
                    text-align: center;
                }
                @media @screen1024 {
                    font-size: 1.3125em;
                    padding: 0;
                }
            }
            &__title {
                font-size: 1.375em;
                @media @screen1024 {font-size: 1.875em;}
            }
            &__text {
                margin-bottom: 1em;
                p {
                    @media @screen1024 {font-size: .75em;}
                }
                @media @screen840 {text-align: left;}
                @media @screen1024 {
                    width: 50%;
                    margin: 0 auto 1em;
                }
            }
            @media @screen840 {
                flex-direction: row;
                align-items: center;
            }
        }
        .swiper-pagination {
            &-progress {
                background-color: @color__yellow--light;
                top: auto;
                bottom: 0;
            }
            &-progressbar {background-color: @color__yellow;}
        }
        .swiper-button {
            &-prev,
            &-next {
                // display:none for now
                display: none;
                background-image: none;
                font-size: 25px;
                color: @color__black;
                opacity: 1;
            }
            &-prev {left: 1em;}
            &-next {right: 1em;}
        }
    }
    &__dribbble {
        // .homepage__dribbble
        h3 {
            display: block;
            text-align: center;
            font-size: 1.375em;
            margin-bottom: 1em;
            padding: 1em;
            @media @screen768 {font-size: 1.875em;}
            @media @screen960 {
                &::after {
                    content: "";
                    position: absolute;
                    left: calc(~"50% - 50px");
                    bottom: 0;
                    height: 10px;
                    width: 100px;
                    background-color: @color__yellow;
                }
            }
            @media @screen1024 {font-size: 2.75em;}
        }
    }
    &__contact {
        width: 100vw;
        padding: 50px 20px;
        background-color: @color__white;
        text-align: center;
        @media @screen960 {padding: 150px 0;}
        h3 {
            font-size: 1.375em;
            margin-bottom: 1em;
            padding: 1em;
            @media @screen768 {font-size: 1.875em;}
            @media @screen960 {
                &::after {
                    content: "";
                    position: absolute;
                    left: calc(~"50% - 50px");
                    bottom: 0;
                    height: 10px;
                    width: 100px;
                    background-color: @color__yellow;
                }
            }
            @media @screen1024 {font-size: 2.75em;}
        }
        .btn { display: inline-block; }
    }
}

.project-all-dribbble {
    margin: 1.7em 0 0;
    @media @screen600 {
        margin: 1.7em 1em 0;
    }
    h2 {
        font-size: 1.375em;
        text-align: center;
        margin-bottom: 1em;
        padding: 1em;
        @media @screen768 {font-size: 1.875em;}
        @media @screen960 {
            &::after {
                content: "";
                position: absolute;
                left: calc(~"50% - 50px");
                bottom: 0;
                height: 10px;
                width: 100px;
                background-color: @color__yellow;
            }
        }
        @media @screen1024 {font-size: 2.75em;}
    }
}

.dribbbles {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    @media @screen400 { margin: 0 1em; }
    .shot {
        flex: 1 1 100%;
        position: relative;
        margin: 0 1em 2em;
        overflow: hidden;
        @media @screen400 {
            flex: 0 1 calc(~"50% - 2em");
            margin: 0 1em 1em;
        }
        @media @screen600 { flex-basis: calc(~"33.33333% - 1em"); }
        @media @screen1024 {
            flex-basis: calc(~"33.33333% - 2em");
            margin-bottom: 2em;
            &:hover,
            &:focus {
                .shot__image { opacity: 0.1; }
                .shot__hover { opacity: 1; }
            }
        }
        @media @screen1440 { flex-basis: calc(~"25% - 1em"); }
        &__image {
            // .shot__image
            display: block;
            margin: 0 auto;
            transition: opacity 300ms;
        }
        &__hover {
            // .shot__hover
            @media @screen1024 {
                position: absolute;
                top: 0;
                left: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-content: center;
                align-items: center;
                height: 100%;
                width: 100%;
                padding: 1em;
                opacity: 0;
                transition: opacity 300ms;
                z-index: 1;
            }
        }
        &__title {
            // .shot__title
            font-family: @font__header;
            font-weight: 700;
            @media @screen1024 {
                text-align: center;
            }
        }
        &__count {
            // .shot__count
            flex: 1 0 100%;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            @media @screen1024 {
                flex: 0 1 auto;
                justify-content: center;
                margin-bottom: 0;
                span {
                    display: block;
                    padding: 5px 10px;
                    margin: 0 5px;
                    background-color: @color__black;
                    color: @color__white;
                    font-style: italic;
                }
            }
        }
        &__icon {
            // .shot__icon
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            font-size: 72px;
            color: @color__yellow;
            z-index: -1;
        }
        &__link {
            // .shot__link
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 100%;
            z-index: 2;
        }
    }
}

.background-attribution {
    @media @screen960 {
        position: absolute;
        left: 1em;
        bottom: 1em;
        padding: 5px 10px;
        background-color: fade(@color__white, 90%);
        border-radius: 3px;
        font-size: .75em;
        line-height: 1em;
    }
}

#loading {
    background-color: fade(@color__white, 95%);
    height: 100%;
    width: 100%;
    position: fixed;
    margin-top: 0;
    top: 0;
    z-index: 9999;
    &-center {
        width: 100%;
        height: 100%;
        position: relative;
        &-absolute {
            position: absolute;
            left: 50%;
            top: 50%;
            height: 150px;
            width: 150px;
            margin-top: -75px;
            margin-left: -75px;
            transform: rotate(45deg);
        }
    }
}

.object {
    width: 20px;
    height: 20px;
    background-color: @color__yellow;
    position: absolute;
    left: 65px;
    top: 65px;
    &:nth-child(2n+0) {margin-right: 0;}
}

#object {
    &_one {
        animation: object_one 2s infinite;
        animation-delay: 200ms;
    }
    &_two {
        animation: object_two 2s infinite;
        animation-delay: 300ms;
    }
    &_three {
        animation: object_three 2s infinite;
        animation-delay: 400ms;
    }
    &_four {
        animation: object_four 2s infinite;
        animation-delay: 500ms;
    }
    &_five {
        animation: object_five 2s infinite;
        animation-delay: 600ms;
    }
    &_six {
        animation: object_six 2s infinite;
        animation-delay: 700ms;
    }
    &_seven {
        animation: object_seven 2s infinite;
        animation-delay: 800ms;
    }
    &_eight {
        animation: object_eight 2s infinite;
        animation-delay: 900ms;
    }
    &_big {
        position: absolute;
        width: 50px;
        height: 50px;
        left: 50px;
        top: 50px;
        animation: object_big 2s infinite;
        animation-delay: 0.5s;
    }
}