@charset "UTF-8";

@font-face {
  font-family: "maca-theme";
  src:url("fonts/maca-theme.eot");
  src:url("fonts/maca-theme.eot?#iefix") format("embedded-opentype"),
    url("fonts/maca-theme.woff") format("woff"),
    url("fonts/maca-theme.ttf") format("truetype"),
    url("fonts/maca-theme.svg#maca-theme") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "maca-theme" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "maca-theme" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-elusive-icons:before {
  content: "a";
}
.icon-elusive-icons-2:before {
  content: "c";
}
.icon-elusive-icons-1:before {
  content: "b";
}
.icon-elusive-icons-4:before {
  content: "e";
}
.icon-elusive-icons-5:before {
  content: "f";
}
.icon-elusive-icons-8:before {
  content: "i";
}
.icon-elusive-icons-13:before {
  content: "n";
}
.icon-music-note-streamline:before {
  content: "r";
}
.icon-link:before {
  content: "v";
}
.icon-unlink:before {
  content: "w";
}
.icon-fontawesome-webfont-6:before {
  content: "D";
}
.icon-fontawesome-webfont-7:before {
  content: "E";
}
.icon-fontawesome-webfont-8:before {
  content: "F";
}
.icon-fontawesome-webfont-9:before {
  content: "G";
}
.icon-fontawesome-webfont-10:before {
  content: "H";
}
.icon-chat:before {
  content: "I";
}
.icon-comment:before {
  content: "J";
}
.icon-link-1:before {
  content: "K";
}
.icon-picture:before {
  content: "L";
}
.icon-users:before {
  content: "N";
}
.icon-link-2:before {
  content: "P";
}
.icon-tag:before {
  content: "Q";
}
.icon-behance:before {
  content: "R";
}
.icon-facebook-1:before {
  content: "S";
}
.icon-dribbble:before {
  content: "T";
}
.icon-google:before {
  content: "U";
}
.icon-linkedin:before {
  content: "V";
}
.icon-github-alt:before {
  content: "W";
}
.icon-myspace-alt:before {
  content: "X";
}
.icon-stumbleupon:before {
  content: "Y";
}
.icon-tumblr:before {
  content: "Z";
}
.icon-twitter-alt:before {
  content: "0";
}
.icon-youtube:before {
  content: "1";
}
.icon-video:before {
  content: "d";
}
.icon-discussion:before {
  content: "g";
}
.icon-quote:before {
  content: "j";
}
.icon-elusive-icons-3:before {
  content: "l";
}
.icon-elusive-icons-6:before {
  content: "m";
}
.icon-elusive-icons-9:before {
  content: "p";
}
.icon-elusive-icons-7:before {
  content: "o";
}
.icon-elusive-icons-9:before {
  content: "p";
}
.icon-path:before {
  content: "q";
}
.icon-video-1:before {
  content: "h";
}
.icon-picture-1:before {
  content: "r";
}
.icon-fontawesome-webfont:before {
  content: "k";
}
.icon-fontawesome-webfont-1:before {
  content: "s";
}
.icon-fontawesome-webfont-2:before {
  content: "t";
}
.icon-fontawesome-webfont-3:before {
  content: "u";
}
.icon-fontawesome-webfont-4:before {
  content: "x";
}
.icon-fontawesome-webfont-5:before {
  content: "y";
}
.icon-fontawesome-webfont-11:before {
  content: "z";
}
