.wp-caption {
    margin: 0 0 1.7em;
    max-width: 100%;
    position: relative;
    &-text {
        position: absolute;
        right: 1em;
        bottom: 1em;
        color: @color__white;
        font-size: .75em;
        font-weight: 700;
        .text-shadow;
        max-width: 50%;
    }
}