.flexslider {
    a {
        display: block !important;
        padding: 0 !important;
        border: 0;
    }
}

#gallery {
    margin-top: 1.7em;
    .page-list {
        &-ext {
            display: flex;
            flex-flow: row wrap;
            align-items: flex-start;
            &-item {
                flex: 0 1 auto;
                position: relative;
                width: 100%;
                margin: 0 1em 1em;
                color: @black;
                @media @screen400 {width: calc(~"50% - 2em");}
                @media @screen768 {
                    width: calc(~"50% - 4em");
                    margin: 0 2em 2em;
                }
                @media @screen1024 {
                    color: @white;
                    text-align: center;
                    &:hover {
                        .page-list-ext-image img {opacity: 0.2;}
                        .page-list-ext-title {
                            transform: translate3d(0,-1em,0);
                            text-shadow: none;
                        }
                        .page-list-ext-item-content {
                            opacity: 1;
                            transform: translate3d(0,0,0);
                        }
                    }
                }
                @media @screen1440 {width: 33.33333%;}
                @media @screen1920 {width: 25%;}
            }
            &-image {
                background-color: @yellow;
                margin: 0 0 1em;
                display: block;
                float: none;
                overflow: hidden;
                a {
                    padding: 0;
                    border: 0;
                    display: block;
                    &:hover {background-color: transparent;}
                }
                img {
                    float: left;
                    opacity: 1;
                    transition: opacity 250ms;
                }
            }
            &-title {
                font-size: 1.25em;
                margin: 0;
                a {
                    border-bottom: 0;
                    margin-bottom: 1em;
                    padding-bottom: 1em;
                    &:hover {background-color: transparent;}
                    &::after {
                        content: "";
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        background-color: @yellow;
                        height: 3px;
                        width: 100px;
                        @media @screen1024 {display: none;}
                    }
                    @media @screen1024 {
                        color: @white;
                        margin-bottom: 0;
                        padding-bottom: 0;
                    }
                }
                @media @screen960 {font-size: 1.5em;}
                @media @screen1024 {
                    position: absolute;
                    top: 50%;
                    left: 0;
                    width: 100%;
                    padding: 0 3em;
                    margin-top: -1em;
                    .text-shadow;
                    transform: translate3d(0,0,0);
                    transition: transform 250ms;
                }
            }
            &-item-content {
                font-size: .75em;
                line-height: 1.7em;
                @media @screen480 {
                    font-size: 1em;
                }
                @media @screen1024 {
                    position: absolute;
                    top: 50%;
                    left: 0;
                    width: 100%;
                    padding: 0 3em;
                    margin-bottom: -1em;
                    opacity: 0;
                    transform: translate3d(0,2em,0);
                    transition: opacity 250ms, transform 250ms;
                }
            }
        }
    }
}

.img {
    &-two {
        display: flex;
        flex-flow: column wrap;
        margin: 0 0 1.7em;
        img + img {margin-top: 1.7em;}
        @media @screen600 {margin: 0 -10% 1.7em;}
        @media @screen768 {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            img {
                flex: 0 1 auto;
                width: 50%;
                padding-right: .85em;
                &+ img {
                    margin-top: 0;
                    padding-left: .85em;
                }
            }
        }
        @media @screen840 {margin: 0 -15% 1.7em;}
        @media @screen1024 {margin: 0 -20% 1.7em;}
        @media @screen1600 {margin: 0 -25% 1.7em;}
    }
    &-full {
        margin: 0 0 1.7em;
        display: flex;
        flex-flow: row wrap;
        img {
            flex: 1 0 100%;
            height: auto !important;
            float: left;
        }
        @media @screen600 {margin: 0 -10% 1.7em;}
        @media @screen840 {margin: 0 -15% 1.7em;}
        @media @screen1024 {margin: 0 -20% 1.7em;}
        @media @screen1600 {margin: 0 -25% 1.7em;}
    }
    &-bg {
        background-color: @white;
        background-repeat: no-repeat;
        background-position: ~"center center !important";
        background-attachment: fixed;
        background-size: cover;
        height: 250px;
        margin: 0 -1.7em 1.7em;
        @media @screen600 {margin: 0 -20% 1.7em;}
        @media @screen768 {height: 350px;}
        @media @screen840 {margin: 0 -30% 1.7em;}
        @media @screen1024 {margin: 0 -40% 1.7em;}
        @media @screen1280 {height: 450px;}
        @media @screen1600 {margin: 0 -50% 1.7em;}
    }
}