.flexslider {
    a {
        display: block !important;
        padding: 0 !important;
        border: 0;
    }
}

.img {
    &-two {
        display: flex;
        flex-flow: column wrap;
        margin: 0 0 1.7em;
        img + img {margin-top: 1.7em;}
        @media @screen600 {margin: 0 -10% 1.7em;}
        @media @screen768 {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            img {
                flex: 0 1 auto;
                width: 50%;
                padding-right: .85em;
                &+ img {
                    margin-top: 0;
                    padding-left: .85em;
                }
            }
        }
        @media @screen840 {margin: 0 -15% 1.7em;}
        @media @screen1024 {margin: 0 -20% 1.7em;}
        @media @screen1600 {margin: 0 -25% 1.7em;}
    }
    &-full {
        margin: 0 0 1.7em;
        display: flex;
        flex-flow: row wrap;
        img {
            flex: 1 0 100%;
            height: auto !important;
            float: left;
        }
        @media @screen600 {margin: 0 -10% 1.7em;}
        @media @screen840 {margin: 0 -15% 1.7em;}
        @media @screen1024 {margin: 0 -20% 1.7em;}
        @media @screen1600 {margin: 0 -25% 1.7em;}
    }
    &-bg {
        background-color: @white;
        background-repeat: no-repeat;
        background-position: ~"center center !important";
        background-attachment: fixed;
        background-size: cover;
        height: 250px;
        margin: 0 -1.7em 1.7em;
        @media @screen600 {margin: 0 -20% 1.7em;}
        @media @screen768 {height: 350px;}
        @media @screen840 {margin: 0 -30% 1.7em;}
        @media @screen1024 {margin: 0 -40% 1.7em;}
        @media @screen1280 {height: 450px;}
        @media @screen1600 {margin: 0 -50% 1.7em;}
    }
}

.single-post {
    .img {
        &-two,
        &-full {
            margin: 0 0 1.7em;
        }
    }
}

// strp.js lightbox
.strp-window {
    font-family: @main-font;
    font-size: 1em;
    line-height: 1.7em;
    background: @black;
    box-shadow: -1px 0 2px 0 fade(@black,50%);
}
.strp-close {
    &:focus {outline: 0;}
    &:hover {
        .strp-close-background {background-color: transparent;}
    }
    &-background,
    &-icon {
        top: 0;
        left: 0;
        width: 48px;
        height: 48px;
        opacity: 1;
    }
    &-background {
        background-color: transparent;
        opacity: 1;
        border-left: 2px @white solid;
        border-bottom: 2px @white solid;
    }
}
.strp-info {
    background: @white;
    color: @black;
    font-weight: 500;
    &-padder {padding: 1em;}
}
.strp-position {
    color: @gray;
    line-height: 1.7em;
    opacity: 1;
}