{% extends "base.twig" %}

{% block content %}

<section class="daft-punk__content">

	<h1 class="daft-punk__content--title">Sorry&hellip;</h1>

	<div class="daft-punk__content--alert alert-warning">
		{{ __('Daft Punk broke a page on my website... one mohr time.', 'onemohrtime') }}
	</div>

	<a href="{{ site.link }}" class="btn">Go Home</a>
</section>

{% endblock %}
