{% extends 'layouts/base.twig' %}
{% set displaySidebar = true %}

{% block content %}

	<header class="posts__header">
		{% if categories is defined and categories is not empty %}
			<ul class="posts__categories _meta">
				{% for cat in categories %}
					{% if cat.slug != 'shit' and cat.slug != 'uncategorized' %}
						<li class="category">
							<a href="{{ cat.link }}" class="category__link btn btn--sm">{{ cat.name }}</a>
						</li>
					{% endif %}
				{% endfor %}
			</ul>
		{% endif %}
		{% include 'components/title.twig' %}
	</header>

	<section class="posts">
		{% for post in posts %}
			{% include 'components/article.twig' %}
		{% endfor %}
	</section>

{% endblock %}

{% block sidebar %}
	{% include 'blocks/sidebar.twig' %}
{% endblock %}
