{% extends 'layouts/base.twig' %}
{% set displaySidebar = true %}

{% block content %}

	<header class="o-page__header">
		{% include 'components/title.twig' %}
		{% if categories is defined and categories is not empty %}
			<ul class="c-definitionList -personalityTypes">
				{# {% if post and post.show_categories %} #}
				{% for cat in categories %}
					{% if cat.slug != 'shit' and cat.slug != 'uncategorized' %}
						<li class="category">
							<a href="{{ cat.link }}" class="category__link btn btn--sm">{{ cat.name }}</a>
						</li>
					{% endif %}
				{% endfor %}
			</ul>
		{% endif %}
	</header>

	<section id="all_posts" class="o-page__content">
		{% for post in posts %}
			{% include 'components/article.twig' %}
		{% endfor %}
	</section>

	<nav class="posts__pagination">
		{% include 'components/pagination.twig' %}
	</nav>

{% endblock %}

{% block sidebar %}
	{% include 'blocks/sidebar.twig' %}
{% endblock %}
