{% extends 'layouts/base.twig' %}
{% set displaySidebar = true %}

{% block content %}

	<header class="o-page__header">
		{% include 'components/title.twig' with {
			title: post.heading_headline|default(post.title)
		} only %}
		{% if categories is defined and categories is not empty %}
			<ul class="c-definitionList -personalityTypes">
				{# {% if post and post.show_categories %} #}
				{% for cat in categories %}
					{% if cat.slug != 'shit' and cat.slug != 'uncategorized' %}
						<li class="category">
							<a href="{{ cat.link }}" class="category__link c-button c-button--small">{{ cat.name }}</a>
						</li>
					{% endif %}
				{% endfor %}
			</ul>
		{% endif %}
	</header>

	<section class="o-page__content">
		{% for post in posts %}
			{% set article     = Post(post) %}
			{% set articleType = article.type.slug %}
			{% set articleMeta = articleType == 'design' ? article.get_field('project_header').subtitle :
				articleType == 'page' ? article.post_excerpt|truncate(16) :
				null
			%}
			{% set articleExcerpt = article.post_excerpt|default(null) %}
			{% include 'components/article.twig' with {
				params: {
					type: articleType,
					headline: article.headline ?? article.title,
					subheadline: articleMeta,
					excerpt: articleExcerpt,
					text: articleExcerpt ? articleExcerpt : article.content,
					image: article.thumbnail ? Image(article.thumbnail) : null,
					anchor: article.title,
					link: article.link,
					oddEven: loop.index is even ? ' -isEven' : ' -isOdd'
				}
			} only %}
		{% endfor %}
	</section>

	{# <nav class="posts__pagination">
		{% include 'components/pagination.twig' %}
	</nav> #}

	{# {% if posts.pagination %} #}

		{# <div class="pagination">
			<span class="prev">
				{% if posts.pagination.prev %}
					<a href="{{ posts.pagination.prev.link }}">Previous</a>
				{% endif %}
			</span>
			<span class="next">
				{% if posts.pagination.next %}
					<a href="{{ posts.pagination.next.link }}">Next</a>
				{% endif %}
			</span>
		</div> #}

	{# {% endif %} #}

{% endblock %}

{% block sidebar %}
	{% include 'blocks/sidebar.twig' %}
{% endblock %}
