{% extends 'layouts/base.twig' %}

{% block content %}
{% for post in posts %}
	<article {{ function('post_class') }}>

		<header class="o-page__header">

			{% if post.post_excerpt %}
				<p class="_meta _wysiwyg">{{ post.post_excerpt }}</p>
			{% endif %}

			{% include 'components/title.twig' %}
		</header>

		{% if post.content %}
			<div class="o-page__content u-get-faded _wysiwyg">
				{{ post.content }}
			</div>
		{% endif %}

		{# Add Section Repeater #}
		{% if post.sections|length %}
			<div class="o-page__builder">
				{% include 'partials/builder.twig' %}
			</div>
		{% endif %}

		<footer class="o-page__footer">
		</footer>

	</article>
{% endfor %}
{% endblock %}
