{% extends 'layouts/no-frame.twig' %}

{% block content %}

	<article class="o-page post-{{ post.id }} is-{{ post.type }}">
		<div class="o-page__content">
			{{ post.content }}
		</section>
	</div>

{% endblock %}
