{% extends 'layouts/base.twig' %}
{% set displaySidebar = true %}

{% block content %}
	<article class="post-{{ post.id }} -{{ post.type }}">

		<header class="entry__header">
			{% include "components/entry-meta.twig" %}
			{% include "components/title.twig" %}
		</header>

		<div class="entry__content _wysiwyg get-faded">
			{{ post.content }}
		</div>

		{# Add Section Repeater #}
		{% if post.sections|length %}
			<div class="entry__builder">
				{% include 'partials/builder.twig' %}
			</div>
		{% endif %}

		<footer class="entry__foooter get-faded">
			{{ wp_link_pages }}
		</footer>

	</article>
{% endblock %}

{% block sidebar %}
	{% include 'blocks/sidebar.twig' %}
{% endblock %}
