{% extends 'layouts/base.twig' %}
{% set displaySidebar = true %}

{% block content %}
	<article class="o-entry post-{{ post.id }} -{{ post.type }}">

		<header class="o-entry__header">
			{% include 'components/entry-meta.twig' %}
			{% include 'components/title.twig' with {
				title: post.heading_headline|default(post.title)
			} only %}
		</header>

		<div class="o-entry__content _wysiwyg u-get-faded">
			{{ post.content }}
		</div>

		{# Add Section Repeater #}
		{% if post.sections|length %}
			<div class="o-entry__builder">
				{% include 'partials/builder.twig' %}
			</div>
		{% endif %}

		{# Navigate between pagess #}
		{% if relatedPosts %}
			<footer class="o-entry__related has-{{ relatedPosts|length }}-columns">
				<h2 class="_subheadline">Related Reading</h2>
				{% include 'components/related-posts.twig' with {
					related: relatedPosts
				} only %}
			</footer>
		{% endif %}

	</article>
{% endblock %}

{% block sidebar %}
	{% include 'blocks/sidebar.twig' %}
{% endblock %}
