{% extends 'base.twig' %}
{% set displaySidebar = true %}

{% block content %}
	<article class="post-{{ post.id }} -{{ post.type }}">

		<header class="entry__header">
			{% include "components/entry-meta.twig" %}
			{% include "components/title.twig" %}
		</header>

		<div class="entry__content _wysiwyg get-faded">
			{{ post.content }}
		</div>

		{% if post.sections|length %}
			<div class="entry__builder">
				{% for block in builder %}
					{# Pick repeater block based on section handle #}
					{% set module = block.acf_fc_layout %}
					{# Set context, but don't let the templates "leak out" their generic variables #}
					{% include "_repeater/" ~ module ~ '.twig' with {
						block: block
					} only %}
				{% endfor %}
			</div>
		{% endif %}

		<footer class="entry__foooter get-faded">
			{{ wp_link_pages }}
		</footer>

	</article>
{% endblock %}

{% block sidebar %}
	{% include 'blocks/sidebar.twig' %}
{% endblock %}
