{% extends 'base.twig' %}

{% block content %}
{% for post in posts %}
	<article {{ function('post_class') }}>
		
		<header class="entry__header">
			{% include "components/entry-meta.twig" %}
			{% include "components/title.twig" %}
		</header>
		
		<div class="entry__content get-faded">
			{{ post.content }}
		</div>
		
		<footer class="entry__foooter get-faded">
			{{ wp_link_pages }}
		</footer>
		
	</article>
{% endfor %}
{% endblock %}