{% block html_head_container %}

{% include 'partials/html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

{% if term_page %}
	{% set postTypeClass  = 'archive' %}
	{% set postTitleClass = 'is-category' %}
{% else %}
	{% set postTypeClass  = post ? post.type.slug : 'error404' %}
	{% set postTitleClass = post ? 'is-' ~ post.slug : '' %}
{% endif %}

<body class="t-{{ postTypeClass }} {{ postTitleClass }}">
	<div id="page" class="o-site" data-load-container>

		{% include 'components/skip-to-content.twig' %}

		<header id="masthead" class="o-site__header" data-module-navigation>
			{% block header %}
				{% include 'partials/header.twig' %}
			{% endblock %}
		</header>

		<main id="main" class="o-site__main {% if post.slug is defined or term_page.slug is defined %} -{{ term_page.slug ?? post.slug ?? 'default' }}{% else %} daft-punk{% endif %}{% if displaySidebar == true %} -hasSidebar{% endif %}">
			{% block content %}
				Sorry, no content
			{% endblock %}
		</main>

		{% include 'partials/sidebar.twig' %}

		{% include 'components/contact.twig' %}

		{% block footer %}
			{% include 'partials/footer.twig' %}
			<!-- Start WP Footer Function -->
			{{ function('wp_footer') }}
			<!-- End WP Footer Function -->
		{% endblock %}

		<!--
		<script src="https://cdn.jsdelivr.net/gh/studio-freight/lenis@1.0.19/bundled/lenis.min.js"></script>
		<script>
		const lenis = new Lenis()
		lenis.on('scroll', (e) => {
		console.log(e)
		})
		function raf(time) {
		lenis.raf(time)
		requestAnimationFrame(raf)
		}
		requestAnimationFrame(raf)
		</script>
		-->

	</div>
	{# Add personal branding mark, just for funsies #}
	{% include 'components/html-comment.twig' %}
</body>

</html>
