{% block html_head_container %}
	{% include 'partials/html-header.twig' %}
	{% block head %}{% endblock %}
	</head>
{% endblock %}

<body class="is-instagram">
	<div id="page" class="o-site">

		<main id="main" class="o-site__main">
			{% block content %}
				Sorry, no content
			{% endblock %}
		</main>

		{% block footer %}
			<!-- Start WP Footer Function -->
			{{ function('wp_footer') }}
			<!-- End WP Footer Function -->
		{% endblock %}

	</div>
</body>

</html>
