/*
* === 3.2 TYPOGRAPHY ===
*/

/*
* — Mobile —
*/

.menu-toggle {
	@include media('>=screen1024') {
		display: none;
	}
}

.contact-toggle { display: none; }

/*
* — Desktop —
*/

.main-navigation {
	display: none;
	@include media('>=screen1024') {
		display: block;
	}
	.menu {
		display: flex;
		align-items: center;
		font-family: $font__header;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: uppercase;
		&-item {
			// .menu-item
			flex: 1 0 auto;
			position: relative;
			margin: 0 .5em;
			&::before {
				content: "";
				position: absolute;
				top: calc(100% + 5px);
				left: 25%;
				width: 70px;
				height: 5px;
				background-color: $color__yellow--light;
				transform: rotate3d(0,0,1,-45deg) scale3d(0,1,1);
				transform-origin: 0 50%;
				transition: transform 300ms;
			}
			&.current-menu-item,
			&.current-page-parent,
			&.current-page-ancestor,
			&.current_page_parent,
			&.current_page_ancestor {
				&::before { transform: rotate3d(0,0,1,-45deg) scale3d(1,1,1); }
				a {
					color: $color__yellow;
					&::after {
						opacity: 1;
						transform: translateY(0);
					}
				}
			}
			a {
				display: block;
				padding: .5em;
				&:hover,
				&:focus {
					color: $color__yellow;
					&::after {
						opacity: 1;
						transform: translateY(0);
					}
				}
			}
		}
	}
}

.menu__mobile {
	position: absolute;
	top: 100px;
	left: 0;
	display: none;
	background-color: $color__white;
	@include box-shadow();
	width: 100vw;
	&.is-visible {
		display: block;
		border-top: 1px $color__gray solid;
	}
	.menu-item {
		display: block;
		border-bottom: 1px $color__gray--light solid;
		&:last-child {
			border-bottom: none;
		}
		&.current-menu-item,
		&.current-page-parent {
			border-left: 10px $color__yellow solid;
		}
		a {
			display: block;
			font-size: .875em;
			padding: 1em $gutter;
		}
	}
	.sub-menu {
		background-color: $color__white--dark;
		a { font-size: .75em; }
		.sub-menu {
			background-color: $color__white--darker;
		}
	}
}