<section id="contact" class="site__contact">
	<div class="wysiwyg">
		<p>I am currently not taking on any new projects, but you can still <a href="mailto:derek@onemohrti.me">email me</a>.</p>
	</div>
</section>