<header id="masthead" class="site__header" role="banner">
	{% block header %}
	
	{# https://codepen.io/RobinBertilsson/pen/EPaLmo #}
	<div id="menu_toggle" class="toggle__menu">
		<span class="m">M</span>
		<span class="e">
			<span class="bar"></span>
			<span class="bar"></span>
			<span class="bar"></span>
		</span>
		<span class="n">N</span>
		<span class="u">U</span>
	</div>
	
	{% include 'blocks/nav-primary.twig' with { menu : menu.get_items } %}
	
	<a href="{{ site.link }}" class="site__header--logo">
		<img src="http://placehold.it/60?text=logo" alt="Logo for {{ site.name }}" class="logo" />
	</a>
	
	{% endblock %}
</header>