{% if menu %}

{# https://codepen.io/RobinBertilsson/pen/EPaLmo #}
<button type="button" role="button" id="menu_toggle" class="toggle__menu">
	<span class="m">M</span>
	<span class="e">
		<span class="bar"></span>
		<span class="bar"></span>
		<span class="bar"></span>
	</span>
	<span class="n">N</span>
	<span class="u">U</span>
</button>

<nav id="desktop" class="main-navigation" role="navigation">
    <ul id="desktop_menu" class="menu">
		
        {% for item in menu %}
		<li class="{{ item.classes | join(' ') }}">
			<a href="{{ item.get_link }}">
				{{ item.title }}
			</a>
			{# <img src="{{ item.master_object.thumbnail }} /> #}
			{# include 'blocks/nav-primary.twig' with { 'menu' : item.get_children } #}
		</li>
        {% endfor %}
		
    </ul>
</nav>

{% endif %}