<!doctype html>
<html {{ function('language_attributes') }}>
	
    {% include 'blocks/head.twig' %}
	
    <body {{ function('body_class') }}>
		<div id="page" class="site" role="document">
			
			{% include 'blocks/header.twig' %}
			
			<main id="main" class="site__main content-area" role="main">
				
				{% block content %}
				{% endblock %}
				
			</main><!-- /.site__main -->
			
			{% include 'blocks/sidebar.twig' %}
			
			{% include 'blocks/contact.twig' %}
			
			{% block footer %}
				{% include 'blocks/footer.twig' %}
				{{ function('wp_footer') }}
			{% endblock %}
			
		</div><!-- /.site -->
		
    </body>
	
</html>