<!doctype html>
<html {{ function('language_attributes') }}>
	
    {% include 'blocks/head.twig' %}
	
    <body {{ function('body_class') }}>
		<div id="page" class="site" role="document">
			
			{% include 'blocks/header.twig' %}
			
			<main id="main" class="site__main content-area
								   {% if view.is_front_page %} homepage
								   {% elseif view.is_home %} posts
								   {% elseif view.is_singular('design') %} project
								   {% elseif view.is_single %} blog-post
								   {% elseif view.is_page('design') %} gallery
								   {% elseif view.is_page %} halfie
								   {% elseif view.is_404 %} daft-punk
								   {% else %}
								   {% endif %}"
				  role="main">
				
				{% block content %}
				{% endblock %}
				
			</main><!-- /.site__main -->
			
			{% include 'blocks/sidebar.twig' %}
			
			{% include 'blocks/contact.twig' %}
			
			{% block footer %}
				{% include 'blocks/footer.twig' %}
				{{ function('wp_footer') }}
			{% endblock %}
			
		</div><!-- /.site -->
		
		<div id="background" class="background"></div>
    </body>
	
</html>