/**
 * === HELPERS ===
 */

.parallax {
	// parent element
	position: relative;
	overflow: hidden;

	&.parallax--scrolling {
		.parallax__image {
			opacity: 1;
		}
	}

	&__image {
		// .parallax__image
		// child element
		position: relative;
		@include size(100%);
		opacity: 1;
		@supports (object-fit: cover) {
			object-fit: cover;
		}
		pointer-events: none;
		transition: opacity $speed--slow;
		@include media(">=screen840") {
			top: -100%;
			height: 200%;
			opacity: 0;
		}

		html.no-js & {
			opacity: 1 !important;
		}
	}
}

.clearfix {
	@include clearfix();
	@supports (display: flex) {
		display: none;
	}
	@supports (display: grid) {
		display: none;
	}
}

.get-faded {
	position: relative;

	& > * {
		// get all children
		opacity: 0;
		transform: translate3d(0, 2em, 0);
		// transition: opacity $speed, transform $speed--slow;

		&.got-faded {
			// opacity: 1;
			// transform: translate3d(0, 0, 0);
		}

		html.no-js & {
			opacity: 1 !important;
			transform: translate3d(0,0,0) !important;
		}
	}
}

.svg-icon {
	$base: $color__black;
	font-size: 1em;
	line-height: 1em;
	@include size(1em);

	path,
	polygon,
	rect {
		fill: $base;
	}

	circle {
		stroke: $base;
		stroke-width: 1;
	}
}

.title--animated {
	@include animateTitle();
}
