/**
 * === MIXINS ===
 */

@mixin visually-hidden($focus: null) {
	position: absolute !important;
	border: 0;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	overflow: hidden;
	word-wrap: normal !important; // Many screen reader and browser combinations announce broken words as they would appear visually.

	$focus: null !default;
	@if $focus == null {
		// nothing, continue on
	} @else {
		&:focus {
			top: 5px;
			left: 5px;
			display: block;
			background-color: $color__yellow--light;
			color: #444;
			font-size: 1em;
			text-decoration: none;
			line-height: normal;
			width: auto;
			height: auto;
			padding: $gutter / 2 $gutter;
			clip: auto !important;
			clip-path: none;
			z-index: 100000; // Above WP toolbar.
		}
	}
}

@mixin hide-visually($toggle: "hide") {
	@if not index("hide" "unhide", $toggle) {
		@error "`#{$toggle}` is not a valid value for the `$toggle` argument in " +
			"the `hide-visually` mixin. Must be either `hide` or `unhide`.";
	} @else if $toggle == "hide" {
		border: 0;
		clip: rect(1px, 1px, 1px, 1px);
		clip-path: inset(100%);
		height: 1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		white-space: nowrap;
		width: 1px;
	} @else if $toggle == "unhide" {
		clip: auto;
		clip-path: none;
		height: auto;
		overflow: visible;
		position: static;
		white-space: inherit;
		width: auto;
	}
	// @example scss
	//   .element {
	//     @include hide-visually;
	//
	//     &:active,
	//     &:focus {
	//       @include hide-visually("unhide");
	//     }
	//   }
}

@mixin aspect-ratio($width, $height) {
	position: relative;
	&::before {
		display: block;
		content: "";
		width: 100%;
		padding-top: ($height / $width) * 100%;
	}
}

@mixin text-shadow() {
	text-shadow: 2px 2px 4px fade-out($color__black, 0.95);
}

@mixin box-shadow($inset: null) {
	@if $inset == 'inset' {
		box-shadow: inset 1px 2px 10px fade-out($color__black, 0.95);
	} @else {
		box-shadow: 1px 2px 10px fade-out($color__black, 0.95);
	}
}

@mixin white-shadow() {
	color: shade($color__white, 0.05);
	text-shadow: 0 13.36px 8.896px $color__white--darkest, 0 -2px 1px $color__white;
}

@mixin deep-shadow() {
	text-shadow: 1px -1px 0 shade($color__white, 50%),
				-1px 2px 1px shade($color__white, 48%),
				-2px 4px 1px shade($color__white, 46%),
				-3px 6px 1px shade($color__white, 44%),
				-4px 8px 1px shade($color__white, 42%),
				-5px 10px 1px shade($color__white, 40%),
				-6px 12px 1px shade($color__white, 38%),
				-7px 14px 1px shade($color__white, 36%),
				-8px 16px 1px shade($color__white, 34%),
				-9px 18px 1px shade($color__white, 32%),
				-10px 20px 1px shade($color__white, 30%),
				-11px 22px 1px shade($color__white, 28%),
				-12px 24px 1px shade($color__white, 26%),
				-13px 26px 1px shade($color__white, 24%),
				-14px 28px 1px shade($color__white, 22%),
				-15px 30px 1px shade($color__white, 20%),
				-16px 32px 1px shade($color__white, 18%),
				-17px 34px 1px shade($color__white, 16%),
				-18px 36px 1px shade($color__white, 14%),
				-19px 38px 1px shade($color__white, 12%),
				-20px 40px 1px shade($color__white, 10%),
				-21px 42px 1px shade($color__white, 8%),
				-22px 44px 1px shade($color__white, 6%),
				-23px 46px 1px shade($color__white, 4%),
				-24px 48px 1px shade($color__white, 2%);
}

@mixin deep-white-shadow() {
	color: shade($color__white, 0.05);
	text-shadow: 1px -1px 0 $color__white,
				-1px 2px 1px shade($color__white, 24%),
				-2px 4px 1px shade($color__white, 23%),
				-3px 6px 1px shade($color__white, 22%),
				-4px 8px 1px shade($color__white, 21%),
				-5px 10px 1px shade($color__white, 20%),
				-6px 12px 1px shade($color__white, 19%),
				-7px 14px 1px shade($color__white, 18%),
				-8px 16px 1px shade($color__white, 17%),
				-9px 18px 1px shade($color__white, 16%),
				-10px 20px 1px shade($color__white, 15%),
				-11px 22px 1px shade($color__white, 14%),
				-12px 24px 1px shade($color__white, 13%),
				-13px 26px 1px shade($color__white, 12%),
				-14px 28px 1px shade($color__white, 11%),
				-15px 30px 1px shade($color__white, 10%),
				-16px 32px 1px shade($color__white, 9%),
				-17px 34px 1px shade($color__white, 8%),
				-18px 36px 1px shade($color__white, 7%),
				-19px 38px 1px shade($color__white, 6%),
				-20px 40px 1px shade($color__white, 5%),
				-21px 42px 1px shade($color__white, 4%),
				-22px 44px 1px shade($color__white, 3%),
				-23px 46px 1px shade($color__white, 2%),
				-24px 48px 1px shade($color__white, 1%);
}

@mixin condensed-shadow() {
	text-shadow: -15px 5px 20px $color__white--darkest;
	color: $color__white;
	letter-spacing: -0.05em;
}

@mixin retro-text() {
	position: relative;
	color: $color__white;
	text-shadow:
		-1px -1px 0 $color__black,
		1px -1px 0 $color__black,
		-1px 1px 0 $color__black,
		1px 1px 0 $color__black,

		1px 0px 0px $color__yellow,
		0px 1px 0px $color__yellow,
		2px 1px 0px $color__yellow,
		1px 2px 0px $color__yellow,
		3px 2px 0px $color__yellow,
		2px 3px 0px $color__yellow,
		4px 3px 0px $color__yellow,
		3px 4px 0px $color__yellow,
		5px 4px 0px $color__yellow,

		3px 5px 0px $color__black,
		6px 5px 0px $color__black,
		-1px 2px 0 $color__black,
		0 3px 0 $color__black,
		1px 4px 0 $color__black,
		2px 5px 0px $color__black,
		2px -1px 0 $color__black,
		3px 0 0 $color__black,
		4px 1px 0 $color__black,
		5px 2px 0px $color__black,
		6px 3px 0 $color__black,
		7px 4px 0 $color__black,
		10px 10px 4px $color__white--darkest;
	font-weight: 700;
	letter-spacing: 5px;
	-webkit-text-stroke: 1px $color__black;
			text-stroke: 1px $color__black;
}

/**
 * — Type Styles —
 */

@mixin type() {
	color: inherit;
	font-family: inherit;
	font-weight: normal;
	line-height: $base-line-height;
	widows: 3;
	orphans: 3;
	// hyphens: auto;
}

@mixin responsive-type() {
	// Scale text responsively
	$up-to-screen:   1500px !default;
	$down-to-screen: 500px !default;
	$range:          $up-to-screen - $down-to-screen !default;
	$intervals:      25 !default;
	$interval-size:  $range / $intervals !default;

	$i: 0;
	@while $i <= $intervals {
		@media only screen and (min-width: 360 + ($i * $interval-size)) {
			font-size: 1.2rem * (1 + (.02 * $i));
		}
		$i: $i + 1;
	}
	// Handle below 320px screen
	@include media("<=screen320") {
		font-size: 1.2rem;
	}
}

@mixin title($underline: null) {
	font-size: ms(3);
	letter-spacing: 5px;
	@if $underline == "underlined" {
		@include underlined();
	}
}

@mixin subtitle($underline: null) {
	font-size: ms(2);
	letter-spacing: 2px;
	@if $underline == "underlined" {
		@include underlined();
	}
}

@mixin paragraph($underline: null) {
	font-size: ms(1);
	@include media("<=screen320") {
		font-size: 1rem;
	}
	@if $underline == "underlined" {
		@include underlined();
	}
}

@mixin body-copy($underline: null) {
	font-size: ms(0);
	@if $underline == "underlined" {
		@include underlined();
	}
}

@mixin base-font-size() {
	font-size: 1rem;
	@include media(">=screen1170") {
		font-size: 1.618rem;
	}
}

@mixin small-font-size() {
	font-size: ms(-1);
}

@mixin smaller-font-size() {
	font-size: ms(-1);
}

@mixin smallest-font-size() {
	font-size: ms(-2);
}

@mixin label() {
	@include base-font-size();
	font-family: $font__header;
	font-weight: 700;
	line-height: 1em;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin: 0;
}

@mixin caption() {
	@include small-font-size();
	font-family: $font__header;
	font-weight: 700;
	line-height: 1em;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin: 0;
}

@mixin underlined() {
	position: relative;
	padding-bottom: calc(.5em + 10px);
	margin-bottom: .5em;

	&::after {
		content: "";
		@include position(absolute, null null 0 0);
		background-color: $color__yellow;
		@include size(50px, 10px);
		transition: background-color $speed, width $speed;

		@include media(">=screen600") {
			width: 100px;
		}
	}
}

@mixin drop-cap() {
	&:first-letter {
		margin: 0 0.25em 0 0;
		float: left;
		font-family: $font__secondary;
		font-size: 3.25em;
		// font-size: 3.375em;
		// font-size: 2em;
		font-size: 5.5em;
		line-height: 0.9em;
		color: $color__yellow;
	}
}

@mixin animateTitle() {
	[class^="word"] {
		display: inline-block;
		margin-right: 30px; // for non breaking spaces
	}
	[class^="char"] {
		display: inline-block;
		opacity: 0;
		animation: fadeInTitle $speed-slow 1 forwards;
	}
}

/**
 * — Texture effects —
 */

@mixin texture-grid() {
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="3" height="3" viewBox="0 0 9 9" fill="#171409"><circle cx="2" cy="2" r="2" style="opacity:0.15" /></svg>') repeat;
}

@mixin image-overlay() {
	@supports (background-blend-mode: multiply) {
		z-index: 0;
		&::before {
			content: "";
			@include position(absolute, 0 null null 0);
			display: block;
			background: transparent url("../img/img-texture.png") repeat center center;
			background-blend-mode: multiply;
			@include size(100%);
			overflow: hidden;
			z-index: 1;
		}
	}
}

@mixin mask-texture() {
	-webkit-mask-image: url("../img/rough-texture.png");
			mask-image: url("../img/rough-texture.png");
}

/**
 * — Buttons and links —
 */

@mixin inline() {
	position: relative;
	color: inherit;
	line-height: $base-line-height;
	z-index: 1;

	@include media(">=screen1170") {
		&:hover,
		&:focus {
			color: inherit;

			&::before {
				left: -4px;
				right: -4px;
				bottom: 4px;
				width: calc(100% + 8px);
				height: 80%;
				transform: translateY(2px) scaleY(1.2);
				animation: inline-expand;
			}

			.svg-icon {
				transform: translateX($small-spacing);
			}
		}
	}

	&::before {
		content: "";
		position: absolute;
		bottom: 8px;
		background-color: $color__yellow;
		@include size(auto, 8px);
		transition: $speed;
		animation: dancemonkey 2s infinite;
		z-index: -1;
	}

	.svg-icon {
		position: relative;
		transition: $speed-slow cubic-bezier(.455,.03,.515,.955);
	}
}

@mixin block-link($border: null) {
	@include position(absolute, 0 0 0 0);
	display: block;
	background: none;
	@if $border == "has-border" {
		top: 10px;
		left: 10px;
		right: 10px;
		bottom: 10px;
		border: 10px transparent solid;
		transition: border $speed;
		&:hover,
		&:focus {
			border-color: fade-out($color__yellow, 0.15);
		}
	} @else {
		// nothing, continue on
	}
}

@mixin underline-link() {
	border-bottom: 3px $color__black solid;
	font-weight: 700;
	letter-spacing: 1px;
	padding-left: $small-spacing;
	padding-right: $small-spacing;
	padding-bottom: .25em;
}

@mixin btn-color($buttoncolor: $color__black, $hover: $color__yellow) {
	border: 3px $buttoncolor solid;
	color: $buttoncolor;

	&::after {
		background-color: $hover;
	}
}

@mixin btn-contact() {
	position: absolute;
	top: 50%;
	right: $base-spacing;
	@include btn-color($color__white);
	@include caption();
	transform: rotate(-90deg) !important;
	transform-origin: center top 0;
	z-index: 2;

	&:focus {
		@include btn-color($color__white);
	}

	@include media(">=screen600") {
		transform: rotate(-90deg) translateY(-50%) !important;
	}

	@include media(">=screen1024") {
		transform: rotate(-90deg) translateY(-100%) !important;
	}

	@include media(">=screen1170") {
		&:hover {
			@include btn-color($color__white);
		}
	}
}
