/* ==========================================================================
    About
========================================================================== */

.t-page.is-about {

    // Work & Education History
    .o-page__sections {
        @include padding();
        padding-bottom: $gutter;
    }

    // Instagram Section
    .o-section.is-social-feed {
        @include padding();

        #sb_instagram {
            padding-bottom: 0 !important;
            #sbi_images {
                padding-top: $gutter;
                padding-bottom: $gutter;
            }
        }
    }

}
