/**
 * === ABOUT ===
 */

.o-page.is-about {
	display: block;

	.repeater {
		padding-top: $gutter;

		& + .repeater {
			border-top: 4px $white--dark solid;
		}

		&[open] {
			.repeater__title {
				margin-bottom: 0.5em;
			}
		}
	}

	.repeater__title {
		margin-bottom: 0;
		padding-right: 115px;
		text-transform: none;
	}

	@include media(">=screen1280") {
		.o-page__repeater {
			margin-bottom: $gutter-xl;
		}
	}
}

.-personalityTypes {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	@include small-font-size();

	// space top on mobile
	& > div {
		margin-top: $gutter-sm;
		&:not(:first-child) {
			margin-top: 0;
		}
	}

	@include media('>=screen600') {
		position: absolute;
		bottom: $gutter;
		flex-direction: row;

		& > div {
			margin-top: 0;
			margin-right: $gutter-sm;
		}
	}
}
