/* ==========================================================================
    Contact
========================================================================== */

.t-page.is-contact {

    // Contact Form
    .c-contact {
        @include padding();

        .wpforms-container {
            margin-left: 0;
            margin-right: auto;
        }
    }

    // Sections
    .o-page__sections {
        padding-top: 0;
        padding-bottom: $gutter;
    }

}
