/**
 * === ERROR PAGES ===
 */

.daft-punk {
	position: relative;
	width: 100%;
	height: 100vh;
	max-width: 100%;
	padding-top: $gutter;
	padding-top: 0;
	text-align: center;
	background: transparent url("../img/daft-punk-404.gif") repeat center center fixed;
	background-size: cover;
	color: $white;

	&__content {
		// .daft-punk__content
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
		width: 100%;
		height: 100%;
		padding-bottom: $gutter;
		@include text-shadow();

		&--title {
			// .daft-punk__content--title
			@include underlined();
			margin-bottom: $gutter-sm;
			padding-bottom: $gutter-sm;
			// font-family: $font-secondary;
			font-size: 5em;
			text-transform: lowercase;

			&::after {
				left: 50%;
				margin-left: -50px;
			}

			@include media(">=screen768")  { font-size: 6em; }
			@include media(">=screen960")  { font-size: 7em; }
			@include media(">=screen1024") { font-size: 8em; }
			@include media(">=screen1280") { font-size: 9em; }
			@include media(">=screen1440") { font-size: 10em; }
		}

		&--alert {
			// .daft-punk__content--alert
			margin-bottom: $small-spacing;
		}

		.btn {
			@include btn-color($white);
		}
	}
}

.error404 {
	.o-site__header,
	.o-site__footer {
		display: none;
	}
}
