/**
* === HOME ===
*/

.homepage {

	&__about {
		// .homepage__about
		@include base-font-size();
		background-color: $black;
		background-image: url("../img/concrete-dark.png");
		background-position: center center;
		color: $white;

		@include media(">=screen960") {
			display: flex;
			align-items: flex-start;
			min-height: 100vh;
		}

		&--image {
			// .homepage__about--image
			@include media("<screen960") {
				width: 100%;
			}
			@include media(">=screen960") {
				flex-basis: 40%;
				max-width: 40%;
				position: sticky;
				top: 0;
				height: 100vh;
				object-fit: cover;
			}
		}

		&--content {
			// .homepage__about--content
			padding: #{$gutter * 3} $gutter;

			@include media(">=screen768") {
				padding-left: $gutter * 2;
				padding-right: $gutter * 2;
			}

			@include media(">=screen960") {
				flex-basis: 60%;
				max-width: 60%;
			}

			@include media(">=screen1024") {
				padding-left: $gutter * 3;
				padding-right: $gutter * 3;
			}

			h1, h2, h3, h4, h5, h6 {
				// headers in a wysiwyg section only...hopefully
				margin-bottom: $heading-line-height;
				&:not(:first-child) {
					margin-top: $base-line-height;
				}
			}

			a {
				&::before {
					background-color: $black--lightest !important;
					background-color: $gray--dark !important;
				}
			}
		}
	}

	&__dribbble {
		// .homepage__dribbble
		width: auto;
		margin: 0 $gutter #{$gutter * 3};

		@include media(">=screen768") {
			margin-left: $gutter * 2;
			margin-right: $gutter * 2;
		}

		@include media(">=screen1024") {
			margin-left: $gutter * 3;
			margin-right: $gutter * 3;
		}

		@include media(">=screen1440") {
			margin-left: $gutter * 4;
			margin-right: $gutter * 4;
		}
	}

	&__builder {
		// .homepage__builder
		background-color: $white;
		background-image: url("../img/concrete-light.png");
		background-position: center center;
		margin-bottom: 0;

		.builder__section {
			margin-top: 0;
			margin-bottom: 0;
			padding-top: $gutter-lg;
			padding-bottom: $gutter-lg;

			// these styles assume a two section text/card layout _only_
			@include first(1) {
				padding-bottom: 0;
			}
			@include last(1) {
				padding-top: 0;
			}
		}
	}
}

.dribbble__title,
.homepage__work--title {
	display: inline-block;
	margin-bottom: $gutter;
	@include paragraph();
	color: $black--light;

	@include media(">=screen840") {
		@include body-copy();
	}

	@include media(">=screen1170") {
		position: relative;
		margin-bottom: $gutter-lg;
		padding: $gutter / 3 $gutter;
		transform: translate(-#{$gutter}) rotate(-3deg);
		text-shadow: none;
		line-height: 1em;
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;
		background-color: $black;
		background-image: url("../img/concrete-dark.png");
		background-position: center center;
		color: fade-out($white, 0.05);
		@include box-shadow();
	}
}
