/**
* === HOME ===
*/

.homepage {

	&__about {
		// .homepage__about
		background: linear-gradient(to top left, $color__black 85%, $color__black--light);
		@include texture($color__black, 54, 1);
		color: $color__white;
		@include base-font-size();
		@include media(">=screen960") {
			display: flex;
			align-items: flex-start;
			min-height: 100vh;
		}

		&--image {
			// .homepage__about--image
			@include media("<screen960") {
				width: 100%;
			}
			@include media(">=screen960") {
				flex-basis: 40%;
				max-width: 40%;
				position: sticky;
				top: 0;
				height: 100vh;
				object-fit: cover;
			}
		}

		&--content {
			// .homepage__about--content
			padding: #{$gutter * 3} $gutter;

			@include media(">=screen768") {
				padding-left: $gutter * 2;
				padding-right: $gutter * 2;
			}

			@include media(">=screen960") {
				flex-basis: 60%;
				max-width: 60%;
			}

			@include media(">=screen1024") {
				padding-left: $gutter * 3;
				padding-right: $gutter * 3;
			}

			h1, h2, h3, h4, h5, h6 {
				// headers in a wysiwyg section only...hopefully
				margin-bottom: $heading-line-height;
				&:not(:first-child) {
					margin-top: $base-line-height;
				}
			}

			a {
				&::before {
					background-color: $color__black--lightest !important;
				}

				&:hover {
					&::before {
						background-color: $color__gray--dark !important;
					}
				}
			}
		}
	}

	&__dribbble {
		// .homepage__dribbble
		width: auto;
		margin: 0 $gutter #{$gutter * 3};

		@include media(">=screen768") {
			margin-left: $gutter * 2;
			margin-right: $gutter * 2;
		}

		@include media(">=screen1024") {
			margin-left: $gutter * 3;
			margin-right: $gutter * 3;
		}

		@include media(">=screen1440") {
			margin-left: $gutter * 4;
			margin-right: $gutter * 4;
		}
	}

	&__builder {
		// .homepage__builder
		@include texture($color__white, 54, 0);
		margin-bottom: 0;

		.builder__section {
			margin-top: 0;
			margin-bottom: 0;
			padding-top: $gutter-lg;
			padding-bottom: $gutter-lg;

			// these styles assume a two section text/card layout _only_
			@include first(1) {
				padding-bottom: 0;
			}
			@include last(1) {
				padding-top: 0;
			}
		}
	}
}

body.home {

	&.sidebar-primary {
		.site__sidebar {
			background: linear-gradient(to bottom right, $color__white 85%, $color__white--dark);
			color: $color__black;
		}
	}
}

.dribbble__title,
.homepage__work--title {
	display: inline-block;
	margin-bottom: $gutter;
	@include paragraph();
	color: $color__black--light;

	@include media(">=screen840") {
		@include body-copy();
	}

	@include media(">=screen1170") {
		position: relative;
		margin-bottom: $gutter-lg;
		padding: $gutter / 3 $gutter $gutter / 3 0;
		text-shadow: none;
		line-height: 1em;
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;
		@include texture($color__black, 54, 1);
		color: fade-out($color__white, 0.05);
		@include box-shadow();

		&::before {
			content: "";
			position: absolute;
			top: 0;
			right: 100%;
			height: 100%;
			width: 100vw;
			max-width: $gutter * 4; // keep within frame of 1600px screens
			@include texture($color__black, 54, 1);
		}
	}
}
