/**
 * === INSTAGRAM ===
 */

body.-instagram {
	position: relative;

	.site {
		padding: 0;
	}

	.site__header,
	.site__footer {
		display: none;
	}

	.site__main {
		background-color: $yellow;
	}

	.page__content {
		height: 100vh;
		margin-top: 0;
		margin-bottom: $gutter;
	}

	ul {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		height: 100%;
		margin: 0;
		padding: 0;
		li {
			display: block;
			width: 100%;
			margin-bottom: $gutter-sm;
			a {
				position: relative;
				display: block;
				overflow: hidden;
				appearance: none;
				@include btn-color($black, $white);
				border-radius: $base-border-radius;
				@include body-copy();
				font-family: $font__header;
				font-weight: 700;
				letter-spacing: 1px;
				text-align: center;
				text-transform: uppercase;
				padding: $small-spacing $base-spacing;

				&::after {
					content: "";
					position: absolute;
					right: 0;
					bottom: 0;
					width: 0;
					height: 10px;
				}

				&:disabled {
					background-color: transparent;
				}

				@include media(">=screen960") {
					&::after { transition: all $speed; }
				}

				&:hover,
				&:focus {
					background-color: transparent;
					color: inherit;

					@include media(">=screen960") {
						transition: all $speed;
						&::after {
							left: 0;
							width: 100%;
						}
					}
				}
			}
		}
	}
}
