/**
 * === INSTAGRAM ===
 */

body.is-instagram {
	position: relative;

	#wpadminbar,
	.o-site__header,
	.o-site__footer {
		display: none;
	}

	.o-site {
		padding: 0;
	}

	.o-site__main {
		background-color: $yellow;
	}

	.o-page__content {
		height: 100vh;
		margin-top: 0;
		margin-bottom: $gutter;
		padding-top: $gutter;
	}

	ul {
		display: flex;
		max-width: 100%;
		margin: 0;
		padding: 0;

		li {
			margin-bottom: $gutter-sm;

			a {
				position: relative;
				display: block;
				overflow: hidden;
				appearance: none;
				@include btn-color($black, $white);
				border-radius: $base-border-radius;
				@include body-copy();
				font-family: $font-header;
				font-weight: 700;
				text-align: center;
				text-transform: uppercase;
				padding: $small-spacing $base-spacing;

				&::after {
					content: "";
					position: absolute;
					right: 0;
					bottom: 0;
					width: 0;
					height: 10px;
				}

				&:disabled {
					background-color: transparent;
				}

				@include media(">=screen960") {
					&::after { transition: all $speed; }
				}

				&:hover,
				&:focus {
					background-color: transparent;
					color: inherit;

					@include media(">=screen960") {
						transition: all $speed;
						&::after {
							left: 0;
							width: 100%;
						}
					}
				}
			}
		}
	}

	ul:first-child {
		flex-direction: column;
		justify-content: flex-end;

		li {
			display: block;
			width: 100%;
		}
	}

	ul:nth-child(2) {
		flex-wrap: wrap;
		justify-content: center;
		column-gap: $gutter-sm;

		li {
			a {
				padding: 0.5em 1em;
			}
		}
	}
}
