/* ==========================================================================
	Logos
========================================================================== */

.-logo-design {

	.o-page__gallery {
		@include block-width();
		@include content-width();
		display: flex;
		// background-color: $white--darkest;
		// box-shadow: 0 0 0 1px $gray--light;

		@include media(">=screen1170") {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-auto-rows: auto;
		}
	}
}
