/* ==========================================================================
	Logos
========================================================================== */

.-logo-design {

	.o-page__gallery {
		@include block-width();
		@include content-width();
		// width: auto;

		@include media(">screen1170") {
			// .media {
			// 	width: calc(25% - #{$gutter});
			// }
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-auto-rows: auto;
		}
	}
}
