/* ==========================================================================
	Logos
========================================================================== */

.-logo-design {

	.o-page__gallery {
		@include block-width();
		@include content-width();
		width: auto;

		@include media(">screen1170") {
			.media {
				width: calc(25% - #{$gutter});
			}
		}

		// zoom icon
		.image.-svg {
			position: relative;
			display: block;
			width: 1em;
			height: 1em;
			margin-right: 0.5em;

			path {
				width: 1em;
				height: 1em;
			}
		}
	}
}
