/* ==========================================================================
    Services
========================================================================== */

.t-page.is-services {

    // Sections
    .o-page__sections {
        padding-top: 0;
        padding-bottom: $gutter;

        // // screen at or above 900px
        // @include media(">=medium") {
        //     padding-top: $gutter;
        //     padding-bottom: $gutter-lg;
        // }
    }

    // Services
    .o-section.is-services {
        @include padding();
        display: flex;
        flex-direction: column;
        row-gap: $gutter;
    }

}
