/* ==========================================================================
	Projects
========================================================================== */

.c-gallery__banner {
	position: relative;
	width: 100%;
	height: 300px;
	margin-bottom: $gutter;
	padding-left: $gutter;
	padding-right: $gutter;
	overflow: hidden;
	text-align: left;
	background-color: $gray--darkest;

	@include media(">=screen768") {
		height: calc(100vh - 72px);
		height: 100vh;
		margin-bottom: 0;
		padding-left: $gutter-lg;
		padding-right: $gutter-lg;
	}

	@include media(">=screen1024") {
		padding-left: $gutter-xl;
		padding-right: $gutter-xl;
	}

	@include media(">=screen1440") {
		padding-left: $gutter * 4;
		padding-right: $gutter * 4;
	}

	&--image {
		// .c-gallery__banner--image
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate3d(-50%, -50%, 0);
		width: 100%;
		height: 100%;

		@supports (object-fit: cover) {
			object-fit: cover;
		}
	}

	&--title {
		// .c-gallery__banner--title
		display: flex;
		justify-content: flex-start;
		align-items: center;
		height: 100%;
		max-width: 1115px;
		padding: 0 #{$gutter-lg} 0 $gutter;
		z-index: 2;

		@include media(">=screen768") {
			padding-left: 0;
		}

		h2 {
			@include subtitle();
			color: $white;
			@include text-shadow();
			margin-bottom: 0;

			@include media(">=screen600") {
				@include title();
			}
		}
	}
}

.c-gallery__banner--contact {
	@include btn-contact();
}

.c-gallery__grid {
	position: relative;
	margin: 0 $gutter $gutter;

	&::before {
		content: "";
		position: absolute;
		top: 25%;
		left: 33.3%;
		right: $gutter;
		bottom: 15%;
		@include texture-grid();
	}

	@include media(">=screen600") {
		margin-left: $gutter-lg;
		margin-right: $gutter-lg;
	}

	// @include media(">=screen768") {}

	@include media(">=screen1024") {
		margin-left: $gutter-xl;
		margin-right: $gutter-xl;
	}

	@include media(">=screen1440") {
		margin-left: $gutter * 4;
		margin-right: $gutter * 4;
	}
}

.c-gallery__content {
	margin: 0 $gutter;
	padding-bottom: $base-spacing;

	@include media(">=screen840") {
		max-width: $copy-width;
		margin-left: $gutter-lg;
		margin-right: auto;
		padding-bottom: $gutter-lg;
	}

	@include media(">=screen1170") {
		margin-left: $gutter-xl;
		padding-bottom: $gutter-xl;
	}

	@include media(">=screen1440") {
		margin-left: $gutter * 4;
		padding-bottom: $gutter * 4;
	}

	@include media(">=screen1920") {
		margin-left: $gutter * 5;
		padding-bottom: $gutter * 5;
	}
}
