/*
* === 3.1 BASE ===
*/

html {
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}

body {
	position: relative;
	width: 100vw;
	height: auto;
	min-height: 100vh;
	color: $color__black;
	background-color: $color__white;
	font-family: $font__main;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    &::before,
    &::after { box-sizing: border-box; }
}

.site {
	display: grid;
	grid-template-rows: 100px 1fr auto;
	grid-row-gap: 0;
	grid-column-gap: $gutter;
	width: 100vw;
	min-height: 100vh;
	&__main {
		// .site__main
		// sizes template layouts depending on body parent
		grid-column: span 4;
		display: grid;
		grid-template-columns: repeat(4, 25%);
		width: 100vw;
		.blog & {
			display: grid;
			grid-template-columns: 3fr 1fr;
			width: calc(100vw - #{$gutter*2});
			margin: 0 $gutter;
			@include media('>=screen960') {
				grid-column-gap: $gutter;
			}
		}
	}
}

.content-area {
	grid-column: span 4;
	&.halfie {
		display: grid;
		grid-template-columns: 1fr;
		@include media('>=screen768') {
			grid-template-columns: 1fr 1fr;
			grid-column-gap: $gutter;
		}
	}
	.blog & {
		grid-column: span 2;
		@include media('>=screen960') {
			grid-column: span 1;
			
		}
	}
}

.widget-area {
	.blog & {
		grid-column: span 2;
		@include media('>=screen960') {
			grid-column: span 1;
			margin-top: $gutter;
			margin-bottom: $gutter;
		}
//		h2, h3 {
//			@extend h4;
//		}
	}
}

//.frame {
//	position: fixed;
//	top: 0;
//	left: 0;
//	width: 100%;
//	height: 100%;
//	border: 10px $color__yellow solid;
//	z-index: 10;
//	@include media('>=screen840') {
//		top: $gutter/2;
//		bottom: $gutter/2;
//		left: $gutter/2;
//		right: $gutter/2;
//		width: auto;
//		height: auto;
//		mix-blend-mode: multiply;
//	}
//}

::selection {
	color: $color__yellow;
	background-color: $color__black;
	text-shadow: none;
}