/*
* === 3.2 TYPOGRAPHY ===
*/

.content-area {
	font-size: .75em;
    @include media('>=screen400') { font-size: .875em; }
    @include media('>=screen600') { font-size: 1em; }
    @include media('>=screen768') { font-size: 1.125em; }
    @include media('>=screen960') { font-size: 1.25em; }
    @include media('>=screen1280') { font-size: 1.3125em; }
	@include media('>=screen2560') { font-size: 1.5em; }
}

/*
* — Headers —
*/

@for $i from 1 through 6 {
	h#{$i} {
		position: relative;
		display: block;
		color: inherit;
		font-family: $font__header;
        font-size: modular-scale((6 - $i), 1em, $major-third);
		font-weight: 700;
		text-transform: uppercase;
		margin: 0 0 .5em;
		a {
			.wysiwyg & {
				color: inherit;
				&::before { display: none; }
			}
		}
		span:not(.typing) {
			font-family: $font__main;
			font-size: .75em;
			font-weight: 400;
			text-transform: none;
		}
    }
}

/*
* — Body Copy —
*/

p {
	@extend %type;
	margin: 0 0 1.7em;
    &:last-child,
    &:only-child { margin-bottom: 0; }
}

b, strong { font-weight: 700; }

i, em { font-style: italic; }

sub, sup {
    font-size: .75em;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup { top: -0.5em; }
sub { bottom: -0.25em; }

mark {
	background-color: $color__yellow--light;
	color: $color__yellow--dark;
}

/*
* — Lists —
*/

ul, ol, dl {
	list-style: none;
	margin: 0;
	padding: 0;
	.wysiwyg & {
		@extend %type;
		margin: 0 0 1.7em;
		padding-left: 1.7em;
		& #{&} {
			margin: 0;
		}
	}
}

.wysiwyg ul { list-style: disc; }
.wysiwyg ol { list-style: decimal; }

/*
* — Links —
*/

a {
	position: relative;
	display: inline-block;
	text-decoration: none;
	outline: none;
	cursor: pointer;
	color: inherit;
	vertical-align: baseline;
	&:hover {
		color: inherit;
	}
	&:focus {
		outline: 0;
	}
	@include media('>=screen1170') {
		transition: all $speed;
	}
	&:not(.btn) {
		.wysiwyg & {
			@include inline();
		}
	}
}

/*
* — Code —
*/

pre, code {
    display: inline-block;
    font-family: $font__code;
    font-size: .875em;
    background-color: $color__white--dark;
    border: 1px $color__white--darker solid;
    color: $color__yellow;
    padding: 1em;
}

abbr {
    cursor: help;
    padding: 2px 4px;
    border-bottom: 1px $color__black dotted;
}

blockquote {
    padding: 5px 0 10px 1em;
    margin-bottom: 1.7em;
    border-left: 10px $color__yellow solid;
    font-size: .75em;
    p {
        margin-bottom: 0;
    }
    footer {
        font-size: .75em;
        color: $color__gray;
        cite {font-weight: 700;}
        &::before {
            content: "\2014 \00A0";
        }
    }
}

hr {
	@extend %bar;
}