@charset "utf-8";

/*--------------------------------------------------------------
=== 1.0 Base ===
--------------------------------------------------------------*/
@use "sass:color";
@use "sass:list";
// @use "sass:map";
@use "sass:math";
// @use "sass:meta";
@use "sass:selector";
@use "sass:string";

/* CSS Reset + Normalize */
@import "../../../../../node_modules/css-reset-and-normalize/scss/reset-and-normalize";
/* Full vendor mixins + variables */
// @import "../../node_modules/normalize-scss/sass/normalize";
@import "../../../../../node_modules/bourbon/core/bourbon";
@import "vendor/base/base";
// @import "../../node_modules/font-awesome/scss/font-awesome";
// @import "../../node_modules/@fancyapps/fancybox/dist/jquery.fancybox";
// @import "../../node_modules/swiper/swiper";
/* Needs variables */
@import "../../../../../node_modules/include-media/dist/include-media";
// @import "vendor/modularscale";
// @import "vendor/texture-mixin";
/* Custom tools like family, functions, and mixins are included here for reuse throughout the theme. */
@import "tools/family";
@import "tools/functions";
@import "tools/mixins";

@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/helpers";
@import "helpers/ratio";
@import "helpers/animations";
/* The 'base' styles provide the fundamental styling for the theme, such as typography and media rules. */
@import "base/base";
@import "base/typography";
@import "base/links";
@import "base/media";

/*--------------------------------------------------------------
=== 2.0 Layout ===
--------------------------------------------------------------*/
/* This section includes styles for building layout components like the header, footer, sidebar, and post layout. */

@import "layout/builder";
@import "layout/footer";
@import "layout/forms";
@import "layout/header";
@import "layout/post";
@import "layout/project";
@import "layout/sidebar";

/*--------------------------------------------------------------
=== 3.0 Components ===
--------------------------------------------------------------*/
/* This section contains styles for various reusable components like articles, banners, buttons, cards, and more. */

@import"components/article";
@import"components/banner";
@import"components/blockquote";
@import"components/buttons";
@import"components/card";
@import"components/case-studies";
@import"components/contact";
@import"components/css-design-award";
@import"components/embed";
@import"components/forms";
@import"components/gallery";
@import"components/logo";
@import"components/nav";
@import"components/pagination";
@import"components/parallax";
@import"components/prism";
@import"components/related-posts";
@import"components/repeater";
@import"components/text-image";

/*--------------------------------------------------------------
=== 4.0 Pages ===
--------------------------------------------------------------*/
/* This section includes styles specific to different pages of the website, such as about, blog, home, work, etc. */

@import "pages/about";
@import "pages/archives";
@import "pages/errors";
@import "pages/blog";
@import "pages/home";
@import "pages/instagram";
@import "pages/logos";
@import "pages/top-10s";
@import "pages/work";
