@charset "utf-8";

/*--------------------------------------------------------------
=== 1.0 Base ===
--------------------------------------------------------------*/
@use "sass:color";
@use "sass:list";
// @use "sass:map";
@use "sass:math";
// @use "sass:meta";
@use "sass:selector";
@use "sass:string";

/* CSS Reset + Normalize */
@import "../../../../../node_modules/css-reset-and-normalize/scss/reset-and-normalize";

/* Custom tools like family, functions, and mixins are included here for reuse throughout the theme. */
@import "../../../../../node_modules/bourbon/core/bourbon";
@import "tools/family";
@import "tools/functions";
@import "tools/variables";
@import "tools/mixins";
@import "tools/helpers";
@import "tools/ratio";
@import "tools/animations";

/* Full vendor mixins + variables */
@import "../../../../../node_modules/include-media/dist/include-media";
// @import "../../node_modules/swiper/swiper";

/* The 'base' styles provide the fundamental styling for the theme, such as typography and media rules. */
@import "base/base";
@import "base/typography";
@import "base/links";
@import "base/media";
@import "base/inputs";
@import "components/buttons"; // technically a component, but used like an element

/*--------------------------------------------------------------
=== 2.0 Layout ===
--------------------------------------------------------------*/
/* This section includes styles for building layout components like the header, footer, sidebar, and post layout. */

@import "layout/archives";
@import "layout/cart";
@import "layout/event";
@import "layout/header";
@import "layout/footer";
@import "layout/page";
@import "layout/post";
@import "layout/product";
@import "layout/project";
@import "layout/sidebar";

/*--------------------------------------------------------------
=== 3.0 Components ===
--------------------------------------------------------------*/
/* This section contains styles for various reusable components like articles, banners, buttons, cards, and more. */

@import "components/404";
@import "components/alert";
@import "components/article";
@import "components/banner";
@import "components/blog";
// @import "components/buttons";
@import "components/call-to-action";
@import "components/caption";
@import "components/card";
@import "components/content";
@import "components/cursor";
@import "components/details";
@import "components/dropdowns";
@import "components/embed";
// @import "components/fittext";
@import "components/footer";
@import "components/form";
@import "components/gallery";
@import "components/grid";
@import "components/hamburger";
@import "components/image";
@import "components/intro";
@import "components/list";
@import "components/loader";
@import "components/marqee";
@import "components/masonry";
@import "components/menu";
@import "components/modal";
@import "components/nav-keyboard";
@import "components/nav-primary";
@import "components/nav-mega";
@import "components/nav-utility";
@import "components/pagination";
@import "components/quotes";
@import "components/related";
@import "components/repeater";
@import "components/specifications";
@import "components/tease";
@import "components/text-media";
@import "components/tooltip";
@import "components/video";

/*--------------------------------------------------------------
=== 4.0 Pages ===
--------------------------------------------------------------*/
/* This section includes styles specific to different pages of the website, such as about, blog, home, work, etc. */

@import "pages/about";
@import "pages/archive";
@import "pages/blog";
@import "pages/contact";
@import "pages/design";
@import "pages/errors";
@import "pages/contact";
@import "pages/events";
@import "pages/home";
@import "pages/logos";
@import "pages/modeling";
@import "pages/power-rankings";
@import "pages/services";
@import "pages/travel";
