h1, h2, h3, h4, h5, h6 {
	color: inherit;
	font-family: @font__header;
    font-weight: 700;
	line-height: 1.2em;
    text-transform: uppercase;
	margin: 0 0 0.5em;
    span:not(#typed) {
        font-family: @font__main;
        font-size: .75em;
        font-weight: 400;
        text-transform: none;
    }
    a {
        .unstyled;
    }
}

.project-header,
.project-all-header,
.halfie__header {
    h1 {
        font-size: 1.875em;
        @media @screen768 {font-size: 2.625em;}
        @media @screen1280 {font-size: 3.375em;}
    }
}

.entry-header,
.error-header {
    h1 {
        font-size: 1.875em;
        @media @screen768 {font-size: 2.625em;}
        @media @screen1440 {font-size: 3.375em;}
    }
}

.posts-header {
    h2 {
        font-size: 1.5em;
        @media @screen768 {font-size: 2.5em;}
        @media @screen1280 {font-size: 2.875em;}
    }
}

.entry-content,
.project-description {
    h3:not(.jp-relatedposts-headline),
    h4:not(.jp-relatedposts-post-title) {
        position: absolute;
        color: @color__yellow;
        line-height: 1em;
        margin-bottom: 0;
        padding-bottom: 1em;
        transform: translate3d(-.5em,-.25em,0);
        z-index: -1;
        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            height: 10px;
            width: 100px;
            background-color: @color__yellow;
        }
    }
    h3 {font-size: 1.75em;}
    h4 {font-size: 1.25em;}
}

.typed-cursor {
    font-size: 1em !important;
    font-weight: 700 !important;
    line-height: 1em;
    opacity: 1;
    animation: blink 1s infinite ease-in-out;
}

@keyframes blink {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}