{% set section = block %}

{#
 # Code Block
 #}

{% set language = section.language ?? null %}
{% set snippet  = section.snippet ?? null %}

<div class="c-builder__section -code" data-module-prism>
	{# don't stack tags, whitespace throws off code #}
	<pre><code class="code{% if language %} language-{{ language }}{% endif %}">{{ snippet|e }}</code></pre>
</div>
