/*
* === FOOTER ===
*/

.site__footer {
	position: relative;
	background-color: $color__black--light;
	color: $color__white;
	@include size(100%, auto);
	padding: $gutter;
	@include clearfix();
	
	@supports (display: grid) {
		grid-column: span 4;
		display: grid;
		grid-template-columns: repeat(12, auto);
		grid-template-rows: auto, auto;
		grid-column-gap: $gutter;
		align-items: start;
		width: auto;
	}
	
	&--column {
		// .site__footer--column
		width: 100%;
		margin-bottom: $base-spacing;
		&:last-child {
			margin-bottom: 0;
		}
		@include media(">=screen600") {
			float: left;
			width: 50%;
		}
		@include media(">=screen960") {
			width: 30%;
		}
		
		@supports (display: grid) {
			// .site__footer--column
			grid-column: span 12;
			grid-row: 1 / 2;
			width: auto !important;
			@include media(">=screen600") {
				grid-column: span 6;
			}
			@include media(">=screen960") {
				grid-column: span 2;
				&.social-media {
					grid-column: span 4;
					margin-left: 50%;
				}
			}
//			@include media(">=screen1280") {
//				grid-column: minmax(auto, 2fr);
//				&.social-media {
//					grid-column: span 1;
//				}
//			}
		}
		
		h3 {
			border-bottom: 3px $color__black--lighter solid;
			font-size: 1em;
			padding-bottom: $small-spacing;
		}
		
		ul {
			@include type();
			color: $color__white--dark;
			a {
				@include inline();
				&::before {
					background-color: transparent;
				}
				&:hover {
					&::before {
						background-color: $color__black--lightest;
					}
				}
			}
			&.icons {
				display: flex;
				align-items: center;
				li {
					margin-right: .5em;
				}
				a {
					&:hover,
					&:focus { transform: translateX(0); }
				}
			}
		}
	}
	
	.copyright {
		@supports (display: grid) {
			grid-column: span 12;
			grid-row: 2 / 3;
		}
	}
}