/*
* === FOOTER ===
*/

.site__footer {
	position: relative;
	background: linear-gradient(to top left, $color__black 85%, $color__black--light);
	@include texture($color__black, 54, 1);
	color: $color__white;
	@include size(100%, auto);
	padding: $gutter;
	@include clearfix();
	
	@supports (display: grid) {
		grid-column: span 4;
		display: grid;
		grid-template-columns: repeat(12, auto);
		align-items: start;
		width: auto;
		@include media(">=screen600") {
			grid-column-gap: $small-spacing;
		}
		@include media(">=screen960") {
			grid-template-columns: repeat(12, 1fr);
			grid-column-gap: $gutter;
		}
	}
	
	&--column {
		// .site__footer--column
		width: 100%;
		margin-bottom: $base-spacing;
		&:last-child {
			margin-bottom: 0;
		}
		@include media(">=screen600") {
			float: left;
			width: 50%;
		}
		@include media(">=screen960") {
			width: 30%;
		}
		
		@supports (display: grid) {
			// .site__footer--column
			grid-column: span 12;
			width: auto !important;
			@include media(">=screen600") {
				grid-column: span 6;
			}
			@include media(">=screen960") {
//				grid-column: span 2;
				grid-column: minmax(1fr, 2fr);
				&.projects {
					grid-column: span 4;
				}
				&.about-site {
					grid-column: span 4;
				}
				&.social-media {
					grid-column: span 4;
				}
			}
			@include media(">=screen1280") {
				&.projects {
					grid-column: span 3;
				}
				&.about-site {
					grid-column: span 3;
				}
				&.social-media {
					grid-column: 10 / 13;
				}
			}
		}
		
		h3 {
			border-bottom: 1px $color__yellow solid;
			font-size: 1em;
			padding-bottom: $small-spacing;
		}
		
		ul {
			@include type();
			color: $color__white--dark;
			a {
				@include inline();
				&::before {
					background-color: $color__black--lightest;
				}
				&:hover {
					&::before {
						background-color: $color__gray--dark;
					}
				}
			}
			&.icons {
				display: flex;
				align-items: center;
				li {
					margin-right: .5em;
				}
				a {
					&:hover,
					&:focus {
						.fa { 
							transform: translateX(0);
						}
					}
					.fa {
						transition: none;
					}
				}
			}
		}
		
	}
	
	.copyright {
		@supports (display: grid) {
			grid-column: span 12;
			grid-row: span 1;
		}
	}
	
	.wysiwyg {
		a {
			&::before {
				background-color: $color__black--lightest;
			}
			&:hover {
				&::before {
					background-color: $color__gray--dark;
				}
			}
		}
	}
}