/*
* === HALF PAGE ===
*/

.halfie {
    &__img {
        // .halfie__img
		grid-column: span 4;
        background: $color__white--dark no-repeat center center;
        background-size: cover;
		border: $gutter $color__white solid;
        height: 300px;
        @include media(">=screen768") {
			grid-column: span 2;
			@supports (position: sticky) {
				position: -webkit-sticky;
				position: sticky;
				top: 0;
			}
			border-right: 0;
            height: 100vh;
        }
    }
    &__content {
        // .halfie__content
		grid-column: span 4;
		margin: 0 $gutter $gutter;
		@include media(">=screen768") {
			grid-column: span 2;
			margin-left: 0;
		}
    }
    &__header {
        // .halfie__header
		margin-bottom: $gutter;
		@include media(">=screen768") {
			margin: $gutter 0;
		}
    }
    &__title {
        // .halfie__title
        @include underlined();
    }
    &__breadcrumb {
        display: block;
		margin-top: $gutter;
    }
}