/*
* === HEADER ===
*/

.site__header {
	position: fixed;
	@include size(100%, 100px);
	z-index: 20;
}

.site__logo {
	@include position(absolute, 30px 36px null null);
	z-index: 35;
	
	.logo {
		display: block;
		@include size(auto, 40px);
		
		#design {
			path {
				fill: #171409;
				transition: $speed linear;
			}
		}
	}
	
	&.inverted {
		#design {
			path {
				fill: #fffefa;
			}
		}
	}
}