/*
* === HEADER ===
*/

.site__header {
	position: fixed;
	background-color: transparent;
	background-color: fade-out($color__black--light, 0.05);
	background-blend-mode: multiply;
	color: $color__white;
	padding-left: $gutter;
	padding-right: $gutter;
	width: 100%;
	z-index: 20;
	
	&--logo {
		// .site__header--logo
		padding-top: 20px;
		padding-bottom: 20px;
		margin-left: auto;
		
		img {
			@include size(60px);
		}
	}
	
	@supports (display: flex) {
		// .site__header
		display: flex;
		align-items: center;
		&--logo {
			// .site__header--logo
			flex: 0 1 60px;
		}
	}
}