/*
* === POSTS ===
*/

.blog-post {
	display: block;
	&__categories {
		// .blog-post__categories
		font-size: .75em;
		margin: $gutter/2 0;
		@include media(">=screen540") {
			margin: $gutter 0;
		}
		ul {
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			.cat-item,
			.cat-item-all {
				flex: 0 1 auto;
				background-color: $color__black;
				color: $color__white;
				margin-right: 10px;
				&.current-cat {
					& > a {
						font-style: italic;
					}
				}
				& > a {
					display: block;
					padding: 5px 10px;
				}
			}
		}
	}
	.post {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: $gutter;
	}
}

.entry {
	&__featured-image {
		// .entry__featured-image
		&.is_stuck {
		}
		&--frame {
			// .entry__featured-image--frame (parent)
			background: $color__white--dark no-repeat center center;
			background-size: cover;
			border: $gutter $color__white solid;
			border-bottom: 0;
			height: 300px;
			@include media(">=screen768") {
				border-right: 0;
				border-bottom: $gutter $color__white solid;
				@include size(50%, 100vh);
				float: left;
			}
		}
	}
    &__content {
		// .entry__content
		margin: 0 $gutter $gutter;
		background-color: $color__white;
		@include media(">=screen960") {
			width: 50%;
			float: right;
			margin: 0;
			padding: 0 $gutter;
		}
	}
	&__header {
		// .entry__header
		margin: $gutter 0;
	}
	&__title {
		// .entry__title
		@include underlined();
	}
	&__breadcrumb {
		// .entry__breadcrumb
		font-size: .75em;
		margin-bottom: $gutter;
		.breadcrumb_last { display: none; }
	}
	&__meta {
		// .entry__meta
		font-size: .75em;
		.updated { display: none; }
	}
	&__footer {
		// .entry__footer
		span { display: block; }
	}
}