/*
* === PROJECTS ===
*/

.project {
	&__header {
		// .project__header
		grid-column: span 4;
		position: relative;
	}
	&__banner {
		// .project__banner
		grid-column: span 4;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
//		background: no-repeat center center, linear-gradient(to right top, $color__yellow, tint($color__yellow, 50%));
		color: $color__white;
		height: 250px;
		@include media(">=screen600") { height: 350px; }
		@include media(">=screen960") {
			align-items: flex-start;
			justify-content: flex-end;
			height: calc(100vh - 100px);
		}
		&--image {
			// .project__banner--image
			position: absolute;
			@supports (object-fit: cover) {
				object-fit: cover;
//				filter: grayscale(100%);
//				mix-blend-mode: soft-light;
				@include size(100vw, 100%);
			}
		}
	}
	&__subtitle {
        // .project__subtitle
        color: $color__yellow;
        background-color: $color__white;
		font-size: .75em;
        font-family: $font__main;
        font-style: italic;
        font-weight: 400;
        text-transform: none;
        margin: 0 $gutter;
        padding: 5px 10px;
    }
	&__title {
		// .project__title
		margin: 0;
		@include media(">=screen960") {
			@include underlined();
			margin: 20px $gutter 30px;
			padding-bottom: 30px;
			&::after {
				background-color: $color__white;
			}
		}
    }
	&__breadcrumb {
        // .project__breadcrumb
        display: flex;
        align-items: center;
        margin: 0 $gutter;
		@include media(">=screen960") { margin-bottom: 1em; }
        font-size: .75em;
        span {
            margin-left: 5px;
            & > span {
                display: flex;
                align-items: center;
            }
        }
        a,
        .breadcrumb_last {
            background-color: $color__white;
            color: $color__yellow;
            padding: 5px 10px;
            margin-right: 10px;
        }
        a {
            &:hover,
            &:focus { color: $color__black; }
        }
        .breadcrumb_last {
            margin-right: 0;
            font-style: italic;
        }
	}
	&__story {
		// .project__story
		grid-column: span 4;
//        display: flex;
//        flex-direction: column;
//        align-items: center;
	}
	&__section {
		// .project__section
		flex: 1 0 auto;
		position: relative;
		display: flex;
		flex-flow: row wrap;
	}
	&__text {
		// .project__text
		padding: 0 $gutter 1.7em;
		@include media(">=screen600") { padding: 0 10% 1.7em; }
		@include media(">=screen840") { padding: 0 15% 1.7em; }
		@include media(">=screen1024") { padding: 0 20% 1.7em; }
		@include media(">=screen1600") { padding: 0 25% 1.7em; }
	}
	&__text-image {
        // .project__text-image
        padding: 0 $gutter;
        margin-bottom: 1.7em;
        @include media(">=screen768") {
            align-items: center;
            padding: 0;
        }
        .content--half {
            order: 1;
            margin: 0 0 1.7em;
            @include media(">=screen768") {
                flex: 0 1 50%;
                margin: 0;
                padding: $gutter;
            }
            @include media(">=screen1024") {
				font-size: .75em;
			}
        }
        .image--half {
            order: 2;
            margin: 0;
            @include media(">=screen768") {
                flex: 0 1 50%;
            }
            img {
                display: block;
                margin: 0 auto;
            }
        }
        &--reversed {
            // .project__text-image--reversed
            .content--half {
                order: 2;
                margin: 0;
            }
            .image--half {
                order: 1;
                margin: 0 0 1.7em;
                @include media(">=screen768") {
                    margin: 0;
                }
            }
        }
    }
    &__image {
        align-items: center;
        margin-bottom: 1.7em;
        // .project__image
        &--default {
            // .project__image--default
            padding: 0 $gutter;
            margin-bottom: 1.7em;
        }
        &--wide {
            // .project__image--wide
            padding: 0;
        }
        &--fixed {
            // .project__image--fixed
            background: $color__yellow no-repeat center center fixed;
            background-size: cover;
            background-blend-mode: multiply;
            width: 100%;
            height: 300px;
            margin-bottom: 1.7em;
        }
    }
    &__gallery {
        // .project__gallery
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        margin-bottom: 1.7em;
        a {
            float: left;
        }
        img {
            display: block;
        }
        figure {
            overflow: hidden;
            width: 100%;
            @include media(">=screen600") { width: 50%; }
            @include media(">=screen840") { width: 33.33333%; }
            @include media(">=screen1024") { width: 25%; }
        }
    }
	&__specs {
		// .project__specs
		grid-column: span 4;
		margin: 0 $gutter $gutter;
		@include media(">=screen600") {
			margin-left: 0;
			margin-right: 0;
			padding-left: 10%;
			padding-right: 10%;
		}
		@include media(">=screen840") {
			padding-left: 15%;
			padding-right: 15%;
		}
		@include media(">=screen1024") {
			padding-left: 20%;
			padding-right: 20%;
		}
		@include media(">=screen1600") {
			padding-left: 25%;
			padding-right: 25%;
		}
		&--title {
			// .project__specs--title
			@include underlined();
		}
		ul {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			@include type();
			@include media(">=screen540") {
				flex-flow: row wrap;
				align-items: flex-end;
			}
			li {
				margin-bottom: .5em;
				@include media(">=screen540") {
					flex: 0 0 50%;
					margin-bottom: $gutter / 4;
					padding-bottom: $gutter / 4;
					border-bottom: 2px $color__white--dark solid;
				}
				&:nth-of-type(odd) {
					flex: 1 0 auto;
					color: $color__gray--light;
					font-family: $font__header;
					font-weight: 700;
					text-transform: uppercase;
					letter-spacing: 1px;
					@include media(">=screen540") {
						flex: 0 1 50%;
						font-size: .75em;
					}
					@include media(">=screen1440") {
						font-size: .5em;
					}
				}
				&:nth-of-type(even) {
					flex: 1 0 auto;
					@include media(">=screen540") { flex: 1 0 50%;}
				}
//				&:nth-last-child(-n+2) { margin-bottom: 1.5em; }
				span {
					&::after { content: ", "; }
					&:last-child::after { content: ""; }
				}
			}
		}
	}
}