/*
* === PROJECTS ===
*/

.project {
	
	&__section {
		// .project__section
		position: relative;
		margin-left: $gutter;
		margin-right: $gutter;
		@include media(">=screen840") {
			margin-left: $gutter * 2;
			margin-right: $gutter * 2;
		}
	}
	
	&__header {
		// .project__header
		position: relative;
		width: 100%;
		@supports (display: grid) {
			grid-column: span 4;
			width: auto;
		}
	}
	&__banner {
		// .project__banner
		position: relative;
		@include image-overlay();
		@include size(100%, 250px);
		@include media(">=screen600") {
			height: 350px;
		}
		@include media(">=screen960") {
			height: 500px;
		}
		@supports (display: grid) {
			grid-column: span 4;
			width: auto;
		}
		@supports (display: flex) {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			@include media(">=screen960") {
				align-items: flex-start;
				justify-content: flex-end;
				height: calc(100vh - 100px);
			}
		}
		
		&--image {
			// .project__banner--image
			position: absolute;
			pointer-events: none;
			z-index: 0;
			@supports (object-fit: cover) {
				object-fit: cover;
				@include size(100vw, 100%);
			}
		}
		
		&--contact.btn {
			// .project__banner--contact
			@include btn-contact();
		}
	}
	
	&__subtitle {
		// .project__subtitle
		color: $color__black;
		background-color: $color__white;
		font-size: .75em;
		font-family: $font__secondary;
		font-style: italic;
		text-transform: none;
		margin: 0 $gutter;
		padding: 10px 15px;
		z-index: 2;
		@include media(">=screen1024") {
			padding: 1em 2em;
			margin: 0;
			transform: rotate(-4deg) translate(1em, 1em);
		}
	}
	
	&__title {
		// .project__title
		@include title($color__white);
		text-align: left;
		@include text-shadow();
		margin: 0 $gutter 20px;
		z-index: 2;
		@include media(">=screen960") {
			max-width: 50vw;
			margin: 0 $gutter $gutter;
			padding-bottom: $gutter;
			&::after {
				background-color: $color__white;
			}
		}
		@include media(">=screen1280") {
			max-width: 75vw;
		}
	}
	
	&__breadcrumb {
		// .project__breadcrumb
		display: flex;
		align-items: center;
		font-family: $font__header;
		font-size: .75em;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 2px;
		margin: 0 $gutter;
		z-index: 2;
		@include media(">=screen960") {
			margin-bottom: $small-spacing;
			padding-bottom: $small-spacing;
		}
		@include media(">=screen1170") { margin-bottom: $base-spacing; }
		
		a,
		.breadcrumb_last {
			background-color: $color__white;
			color: $color__black;
			padding: .5em;
		}
		
		a {
			display: inline;
			&:hover,
			&:focus { color: $color__yellow; }
		}
	}
	
	&__story {
		// .project__story
		grid-column: span 4;
	}
	
	&__text {
		// .project__text
//		padding: 0 $gutter $base-spacing;
//		@include media(">=screen600")  { padding: 0 10% $base-spacing; }
//		@include media(">=screen840")  { padding: 0 15% $base-spacing; }
//		@include media(">=screen1024") { padding: 0 20% $base-spacing; }
//		@include media(">=screen1600") { padding: 0 25% $base-spacing; }
		margin-bottom: $base-spacing;
	}
	
	&__text-image {
		// .project__text-image
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin: 0 0 $base-spacing;
		@include media(">=screen768") {
			flex-direction: row;
			align-items: center;
		}
		
		.content--half {
			order: 1;
			margin: $gutter;
			@include media(">=screen768") {
				flex: 0 1 50%;
				margin: 0;
				padding: $gutter;
			}
		}
		
		.image--half {
			order: 2;
			margin: 0;
			width: 100%;
			@include media(">=screen768") {
				flex: 0 1 50%;
				width: auto;
			}
			
			img {
				width: 100%;
				pointer-events: none;
			}
		}
		
		&--reversed {
			// .project__text-image--reversed
			
			.content--half {
				order: 2;
				margin: 0;
			}
			
			.image--half {
				order: 1;
				margin: 0 0 $base-spacing;
				@include media(">=screen768") {
					margin: 0;
				}
			}
		}
	}
	
	&__image {
		// .project__image
		align-items: center;
		margin-bottom: $base-spacing;
		@include media(">=screen1440") { margin-bottom: $base-spacing * 2; }
		
		img {
			width: 100%;
			pointer-events: none;
		}
		
		&--default {
			// .project__image--default
			padding: 0 $gutter;
			@include media(">=screen1440") {
				padding: 0 $gutter * 2;
			}
		}
		
		&--wide {
			// .project__image--wide
			padding: 0;
		}
		
		&--fixed {
			// .project__image--fixed
			@include size(100%, 100vh);
			padding: 0;
			opacity: 1 !important;
			overflow: hidden;
			img {
				@include size(auto, 150vh);
				max-width: none !important;
			}
		}
	}
	
	&__gallery {
		// .project__gallery
		column-count: 1;
		column-gap: 0;
		counter-reset: item-counter;
		margin-left: $gutter / 2;
		margin-right: $gutter / 2;
		margin-bottom: $base-spacing;
		
		@include media(">=screen400")  { column-count: 2; }
		@include media(">=screen840")  {
			margin-left: $gutter;
			margin-right: $gutter;
		}
		@include media(">=screen960")  { column-count: 3; }
		@include media(">=screen1440") { column-count: 4; }
		@include media(">=screen1920") { column-count: 5; }
		
		a {
			
		}
		
		img {
			width: 100%;
		}
		
		.image {
			position: relative;
			break-inside: avoid;
			counter-increment: item-counter;
			margin-left: $gutter / 2;
			margin-right: $gutter / 2;
			margin-bottom: $gutter;
			
			&__caption {
				@include position(absolute, 0 0 0 0);
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: fade-out($color__black--light, 0.4);
				color: $color__white;
				padding: $small-spacing;
				@include media(">=screen840") {
					padding: $base-spacing;
				}
			}
			
			&__link {
				// .image_link
				@include block-link();
			}
		}
	}
	
	&__specs {
		// .project__specs
		grid-column: span 4;
//		margin: 0 $gutter $gutter;
		margin-bottom: $gutter;
//		@include media(">=screen600") {}
//		@include media(">=screen840") {
//			margin-left: $gutter * 2;
//			margin-right: $gutter * 2;
//		}
//		@include media(">=screen1024") {}
//		@include media(">=screen1600") {}
		
		&--title {
			// .project__specs--title
			@include underlined();
		}
		
		ul {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			@include type();
			@include media(">=screen540") {
				flex-flow: row wrap;
				align-items: flex-end;
			}
			
			li {
				margin-bottom: .5em;
				@include media(">=screen540") {
					flex: 0 0 50%;
					margin-bottom: $gutter / 4;
					padding-bottom: $gutter / 4;
					border-bottom: 2px $color__white--dark solid;
				}
				&:nth-of-type(odd) {
					flex: 1 0 auto;
					color: $color__gray--light;
					font-family: $font__header;
					font-weight: 700;
					text-transform: uppercase;
					letter-spacing: 1px;
					@include media(">=screen540") {
						flex: 0 1 50%;
						font-size: .75em;
					}
					@include media(">=screen1440") {
						font-size: .5em;
					}
				}
				&:nth-of-type(even) {
					flex: 1 0 auto;
					@include media(">=screen540") { flex: 1 0 50%;}
				}
//				&:nth-last-child(-n+2) { margin-bottom: 1.5em; }
				
				span {
					&::after { content: ", "; }
					&:last-child::after { content: ""; }
				}
			}
		}
	}
}