/*
* === PROJECTS ===
*/

.project {
	
	&__section {
		// .project__section
		position: relative;
		margin-left: $gutter;
		margin-right: $gutter;
		@include media(">=screen768") {
			margin-left: $gutter * 2;
			margin-right: $gutter * 2;
		}
		@include media(">=screen1024") {
			margin-left: $gutter * 3;
			margin-right: $gutter * 3;
		}
		@include media(">=screen1440") {
			margin-left: $gutter * 4;
			margin-right: $gutter * 4;
		}
	}
	
	&__header {
		// .project__header
		position: relative;
		width: 100%;
		@supports (display: grid) {
			grid-column: span 4;
			width: auto;
		}
	}
	
	&__banner {
		// .project__banner
		position: relative;
		@include image-overlay();
		width: 100%;
		height: calc(100vh - 72px);
		@include media(">=screen600") {
			height: 100vh;
		}
		@supports (display: grid) {
			grid-column: span 4;
			width: auto;
		}
		@supports (display: flex) {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			@include media(">=screen960") {
				align-items: flex-start;
				justify-content: flex-end;
			}
		}
		
		&--image {
			// .project__banner--image
			position: absolute;
			top: 0 !important; // .fade-content
			pointer-events: none;
			z-index: 0;
			@supports (object-fit: cover) {
				object-fit: cover;
				@include size(100vw, 100%);
			}
		}
		
		&--contact.btn {
			// .project__banner--contact
			@include btn-contact();
		}
	}
	
	&__subtitle {
		// .project__subtitle
		color: $color__black;
		background-color: $color__white;
		@include box-shadow();
		@include small-font-size();
		font-family: $font__secondary;
		text-transform: lowercase;
		letter-spacing: .075em;
		margin: 0 $gutter;
		padding: $small-spacing $base-spacing;
		z-index: 2;
		@include media(">=screen768") {
			transform: rotate(-4deg) translate($gutter * 2, 1em) !important; // .fade-content
		}
		@include media(">=screen1024") {
			padding: 1em 2em;
			margin-left: $gutter * 3;
			margin: 0;
			transform: rotate(-4deg) translate($gutter * 3, 1em) !important; // .fade-content
		}
		@include media(">=screen1440") {
			transform: rotate(-4deg) translate($gutter * 4, 1em) !important; // .fade-content
		}
	}
	
	&__title {
		// .project__title
		color: $color__white;
		@include title();
		text-align: left;
		@include text-shadow();
		margin: 0 $gutter;
		z-index: 2;
		@include media(">=screen768") {
			margin-left: $gutter * 2;
		}
		@include media(">=screen960") {
			max-width: 50vw;
			margin: 0 $gutter 0 $gutter * 2;
			padding-bottom: $gutter;
			&::after {
				background-color: $color__white;
			}
		}
		@include media(">=screen1024") {
			margin-left: $gutter * 3;
		}
		@include media(">=screen1280") {
			max-width: 75vw;
		}
		@include media(">=screen1440") {
			margin-left: $gutter * 4;
		}
	}
	
	&__breadcrumb {
		// .project__breadcrumb
		display: flex;
		align-items: center;
		font-family: $font__header;
		font-size: .75em;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 2px;
		margin: 0 $gutter;
		z-index: 2;
		@include media(">=screen960") {
			margin-bottom: $small-spacing;
			padding-bottom: $small-spacing;
		}
		@include media(">=screen1170") { margin-bottom: $base-spacing; }
		
		a,
		.breadcrumb_last {
			background-color: $color__white;
			color: $color__black;
			padding: .5em;
		}
		
		a {
			display: inline;
			&:hover,
			&:focus { color: $color__yellow; }
		}
	}
	
	&__story {
		// .project__story
		grid-column: span 4;
	}
	
	&__text {
		// .project__text
		@include drop-cap();
		margin-bottom: $base-spacing;
		@include media(">=screen768") {
			margin-left: $gutter * 2;
			margin-right: $gutter * 2;
		}
		@include media(">=screen1024") {
			margin-left: $gutter * 3;
			margin-right: $gutter * 3;
		}
		@include media(">=screen1440") {
			margin-left: $gutter * 4;
			margin-right: $gutter * 4;
		}
	}
	
	&__text-image {
		// .project__text-image
		display: flex;
		flex-direction: column;
		margin-left: 0;
		margin-right: 0;
		margin-bottom: $base-spacing;
		@include media(">=screen768") {
			flex-direction: row;
			align-items: center;
		}
		
		.content--half {
			order: 1;
			flex: 0 0 100%;
			max-width: 100%;
			padding: $gutter;
			@include media(">=screen768") {
				flex-basis: 50%;
				max-width: 50%;
				padding-top: $base-spacing;
				padding-left: $gutter * 2;
				padding-bottom: $base-spacing;
			}
			@include media(">=screen1024") {
				padding-left: $gutter * 3;
			}
			@include media(">=screen1440") {
				padding-left: $gutter * 4;
			}
		}
		
		.image--half {
			order: 2;
			flex: 0 0 100%;
			max-width: 100%;
			margin: 0;
			@include media(">=screen768") {
				flex-basis: 50%;
				max-width: 50%;
			}
			
			img {
				width: 100%;
				pointer-events: none;
			}
		}
		
		&--reversed {
			// .project__text-image--reversed
			
			.content--half {
				order: 2;
				padding: $gutter;
				@include media(">=screen768") {
					padding-left: $gutter * 2;
				}
				@include media(">=screen1024") {
					padding-left: $gutter * 3;
				}
				@include media(">=screen1440") {
					padding-left: $gutter * 4;
				}
			}
			
			.image--half {
				order: 1;
			}
		}
	}
	
	&__image {
		// .project__image
		align-items: center;
		margin-bottom: $base-spacing;
		@include media(">=screen1440") {
			margin-bottom: $base-spacing * 2;
		}
		
		img {
			width: 100%;
			pointer-events: none;
		}
		
		&--default {
			// .project__image--default
			@include media(">=screen1440") {}
		}
		
		&--wide {
			// .project__image--wide
			margin-left: 0;
			margin-right: 0;
		}
		
		&--fixed {
			// .project__image--fixed
			@include size(auto, 100vh);
			margin-left: 0;
			margin-right: 0;
			overflow: hidden;
			
			@supports (object-fit: cover) {
				img {
					@include size(auto, 150vh);
					min-width: 100vw;
					object-fit: cover;
				}
			}
		}
	}
	
	&__blockquote {
		// .project__blockquote
		margin: 0 0 $gutter;
		overflow: hidden;
		@include media(">=screen768") {
			margin-top: $gutter * 2;
			margin-bottom: $gutter * 2;
		}
		@include media(">=screen1024") {
			margin-top: $gutter * 3;
			margin-bottom: $gutter * 3;
		}
		@include media(">=screen1440") {
			margin-top: $gutter * 4;
			margin-bottom: $gutter * 4;
		}
		
		.blockquote {
			// undo some styles in _typography.scss
			border: 0;
			margin: 0;
			padding: 0;
			
			&__defualt {
				// .blockquote__default
				padding: $gutter;
				@include media(">=screen768")  { padding: $gutter * 2; }
				@include media(">=screen1024") { padding: $gutter * 3; }
				@include media(">=screen1440") { padding: $gutter * 4; }
				&::before {
					content: "\f10d";
					display: block;
					color: $color__yellow;
					font-family: FontAwesome;
					font-size: 1.5em;
				}
				
				& > p {
					color: shade($color__yellow, 67%);
					display: inline;
					background: linear-gradient(to bottom, fade-out($color__white, 1) 0%, fade-out($color__white, 1) 49%, $color__yellow 50%, $color__yellow 100%);
					@include responsive-type();
				}
			}
			
			&__image {
				// .blockquote__image
				position: relative;
				background-color: fade-out($color__white, 0.15);
				padding: $gutter;
				margin: $gutter;
				@include media(">=screen768") {
					padding: $gutter * 2;
					margin: $gutter * 2;
				}
				@include media(">=screen1024") {
					padding: $gutter * 3;
					margin: $gutter * 3;
				}
				@include media(">=screen1440") {
					padding: $gutter * 4;
					margin: $gutter * 4;
				}
				
				& > *:first-child {
					position: relative;
					padding-top: 1.5em;
					&::before {
						content: "\f10d";
						@include position(absolute, 0 null null 0);
						display: block;
						color: $color__yellow;
						font-family: FontAwesome;
						font-size: 1.5em;
					}
				}
				
				& > p {
					@include responsive-type();
				}
				
				&__image {
					// .blockquote__image__image
					@include position(absolute, 0);
					z-index: -1;
				}
			}
		}
	}
	
	&__gallery {
		// .project__gallery
		column-count: 1;
		column-gap: $gutter;
		counter-reset: item-counter;
		margin-left: $gutter;
		margin-right: $gutter;
		margin-bottom: $base-spacing;
		
		@include media(">=screen400")  { column-count: 2; }
		@include media(">=screen768") {
			margin-left: $gutter * 2;
			margin-right: $gutter * 2;
		}
		@include media(">=screen960")  { column-count: 3; }
		@include media(">=screen1024") {
			margin-left: $gutter * 3;
			margin-right: $gutter * 3;
		}
		@include media(">=screen1440") {
			column-count: 4;
			margin-left: $gutter * 4;
			margin-right: $gutter * 4;
		}
		@include media(">=screen1920") { column-count: 5; }
		
		a {
			
		}
		
		img {
			width: 100%;
		}
		
		.image {
			position: relative;
			break-inside: avoid;
			counter-increment: item-counter;
			margin-bottom: $gutter;
			
			&__caption {
				// .image__caption
				@include position(absolute, 0 0 0 0);
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: fade-out($color__black--light, 0.4);
				color: $color__white;
				@include label();
				@include small-font-size();
				padding: $small-spacing;
				opacity: 0;
				transition: opacity $speed;
				z-index: 1;
				@include media(">=screen840") {
					padding: $base-spacing;
				}
			}
			
			&__link {
				// .image_link
				@include block-link();
				z-index: 2;
			}
			
			&:hover,
			&:focus {
				.image__caption {
					opacity: 1;
				}
			}
		}
	}
	
	&__specs {
		// .project__specs
		grid-column: span 4;
		@include texture($color__white--dark, 25, 0);
		padding: $gutter;
		
		&--title {
			// .project__specs--title
			@include underlined();
		}
		
		ul {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			@include type();
			@include media(">=screen540") {
				flex-flow: row wrap;
				align-items: flex-end;
			}
			
			li {
				margin-bottom: .5em;
				@include media(">=screen540") {
					flex: 0 0 50%;
					margin-bottom: $gutter / 4;
					padding-bottom: $gutter / 4;
					border-bottom: 2px $color__white--dark solid;
				}
				&:nth-of-type(odd) {
					flex: 1 0 auto;
					color: $color__gray--light;
					font-family: $font__header;
					font-weight: 700;
					text-transform: uppercase;
					letter-spacing: 1px;
					@include media(">=screen540") {
						flex: 0 1 50%;
						font-size: .75em;
					}
					@include media(">=screen1440") {
						font-size: .5em;
					}
				}
				&:nth-of-type(even) {
					flex: 1 0 auto;
					@include media(">=screen540") { flex: 1 0 50%;}
				}
//				&:nth-last-child(-n+2) { margin-bottom: 1.5em; }
				
				span {
					&::after { content: ", "; }
					&:last-child::after { content: ""; }
				}
			}
		}
	}
}