/*
* === SIDEBAR ===
*/

.site__sidebar {
	position: relative;
	width: 100%;
	@supports (display: grid) {
		grid-column: span 4;
		width: auto;
	}
}

.widget {
	margin-bottom: $gutter;
	&__instagram {
		// .widget__instagram
		margin-left: $gutter;
		margin-right: $gutter;
		
		&--title {
			// .widget__instagram--title
			width: 100%;
			@include underlined();
			margin-bottom: 1em;
		}
		
		&--feed {
			// .widget__instagram--feed
			position: relative;
			&::before {
				// halftone background
				content: "";
				position: absolute;
				top: -#{$gutter / 2};
				left: -#{$gutter / 2};
				right: -#{$gutter / 2};
				bottom: 50%;
				@include texture-grid();
			}
		}
		
		&--image {
			// .widget__instagram--image
			position: relative;
			width: 100%;
			float: left;
			overflow: hidden;
			@include media(">=screen400") { width: 50%; }
			@include media(">=screen768") { width: 25%; }
			@include media(">=screen1170") {
				&:hover,
				&:focus {
					img {
						transform: translateY(-$gutter);
					}
					.widget__instagram--caption {
						transform: translateY(0);
					}
				}
			}
			
			img {
				transform: translateY(0);
				transition: transform $speed;
				@supports (object-fit: cover) {
					@include size(100%);
					object-fit: cover;
				}
			}
		}
		
		&--caption {
			// .widget__instagram--caption
			@include position(absolute, null 0 0 0);
			background-color: $color__white;
			text-align: center;
			padding: $small-spacing;
			transform: translateY(100%);
			transition: transform $speed;
			
			p {
				@include ellipsis();
			}
		}
		
		&--link {
			// .widget__instagram--link
			@include block-link();
			@include media(">=screen1170") { display: none; }
		}
		
		@supports (display: grid) {
			&--title {
				// .widget__instagram--title
				grid-column: span 4;
				width: auto;
			}
			&--feed {
				// .widget__instagram--feed
				display: grid;
				grid-template-columns: repeat(4, 1fr);
				grid-gap: $base-spacing;
			}
			&--image {
				// .widget__instagram--image
				grid-column: span 4;
				width: auto !important;
				@include media(">=screen400") { grid-column: span 2; }
				@include media(">=screen768") { grid-column: span 1; }
			}
		}
	}
}