/*
* === SIDEBAR ===
*/

.site__sidebar {
	position: relative;
	width: 100%;
	@supports (display: grid) {
		grid-column: span 4;
		width: auto;
	}
}

.widget {
	margin-bottom: $gutter;
	&__instagram {
		// .widget__instagram
		margin-left: $gutter;
		margin-right: $gutter;
		&--title {
			// .widget__instagram--title
			grid-column: span 4;
			@include underlined();
			margin-bottom: 1em;
		}
		&--feed {
			// .widget__instagram--feed
			position: relative;
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-gap: $base-spacing;
			&::before {
				content: "";
				position: absolute;
				top: -#{$gutter / 2};
				left: -#{$gutter / 2};
				right: -#{$gutter / 2};
				bottom: 50%;
				@include texture();
//				@include size(100%);
			}
		}
		&--image {
			// .widget__instagram--image
			grid-column: span 4;
			position: relative;
			@include media(">=screen400") { grid-column: span 2; }
			@include media(">=screen768") { grid-column: span 1; }
			@supports (object-fit: cover) {
				img {
					@include size(100%);
					object-fit: cover;
				}
			}
		}
		&--link {
			// .widget__instagram--link
			@include block-link(has-border);
			&:focus { outline-offset: 12px; }
		}
	}
}