/**
 * === REPEATER ===
 */

.repeater {
	position: relative;
	max-width: 840px;
	margin-bottom: $gutter;
	@include base-font-size();

	&.-current {
		&::before {
			content: attr(data-end);
		}
	}

	// &[open] {}

	&__summary {
		// .repeater__summary
		@include paragraph();
		list-style: none;
		cursor: pointer;

		&:focus {
			outline: $focus-outline;
			outline-offset: $focus-outline-offset;
		}

		&::-webkit-details-marker {
			display: none;
		}
	}

	&__title {
		// .repeater__title
		@include body-copy();
	}

	&__body {
		// .repeater__body

		._subheadline {
			@include caption();
			margin-bottom: $base-spacing;
		}
	}

	&__link {
		// .repeater__link
		font-weight: 700;
	}

	&::before {
		content: attr(data-start) " – " attr(data-end);
		position: absolute;
		top: 0;
		right: 0;
		display: block;
		@include caption();
		margin-top: 1.75em;
	}
}
