{% if display_sidebar %}
<aside class="site__sidebar">
	
	<div class="widget widget__instagram">
		<h3 class="widget__instagram--title wysiwyg"><i class="fab fa-instagram"></i> Instagram : <span><a href="//instagram.com/onemohrtimedesign" target="_blank">@onemohrtimedesign</a></span></h3>
		<div id="latest_instagram" class="widget__instagram--feed get-faded"></div>
	</div>
			{{ sidebar }}
	
	{% if dynamic_sidebar %}
		{% block sidebar %}
			{{ dynamic_sidebar }}
		{% endblock %}
	{% endif %}
	
</aside>
{% endif %}