/*
* === CONTACT ===
*/

.site__contact {
	grid-column: span 4;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 $gutter;
	transition: min-height $speed--slow, height $speed--slow;
	@include media(">=screen768") {
		padding-left: $gutter * 2;
		padding-right: $gutter * 2;
	}
	@include media(">=screen1024") {
		padding-left: $gutter * 3;
		padding-right: $gutter * 3;
	}
	@include media(">=screen1440") {
		padding-left: $gutter * 4;
		padding-right: $gutter * 4;
	}
	
	body.home & {
		// add bg color on home page, not yellow
		@include texture($color__white, 54, 0);
		color: $color__black;
	}
	
	.wysiwyg {
		display: none;
		@include paragraph();
		font-family: $font__code;
		text-align: center;
	}
	
	&.said-hi {
		// triggered
		min-height: 50vh;
		.wysiwyg {
			display: block;
		}
	}
}