/*
* === DRIBBBLE ===
*/

.dribbbles {
	position: relative;
	width: 100%;

	@supports (display: grid) {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-column-gap: $gutter;
		grid-row-gap: $gutter;
		justify-items: center;
		width: auto;
	}

	.shot {
		width: 98%;
		float: left;
		margin: 0 1% 1%;
		@include media(">=screen400") { width: 48%; }
		@include media(">=screen768") { width: 31%; }
		@supports (display: grid) {
			grid-column: span 6;
			width: auto !important;
			margin: 0;
			@include media(">=screen400") { grid-column: span 3; }
			@include media(">=screen768") { grid-column: span 2; }
		}
		position: relative;
		// @include box-shadow();
		overflow: hidden;
		transition: box-shadow $speed;

		&:hover,
		&:focus {
			// .shot::hover
			// .shot::focus
			.shot {
				@include box-shadow();
			}
			.shot--hover {
				opacity: 0;
			}
		}

		&--hover {
			// .shot--hover
			@include position(absolute, 0);
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: fade-out($color__yellow, 0.1);
			color: $color__black--light;
			@include caption();
			text-align: center;
			padding: $gutter;
			opacity: 1;
			transition: opacity $speed;

			@include media("<screen1024") {
				// hide only on small screens
				@include visually-hidden();
			}
		}

		&__image {
			// .shot__image
			display: block;
			width: 100%;
			margin: 0 auto;
			transition: opacity 300ms;
		}

		&__description {
			// .shot__description
			@include visually-hidden();
		}

		&__link {
			// .shot__link
			@include block-link();
		}
	}

	& > code {
		grid-column: span 6;
		background-color: fade-out($color__white, 0.85);
		border: 0;
		color: fade-out($color__black, 0.05);
		@include body-copy();
		text-align: center;
		padding: $small-spacing $base-spacing;
		transition: background-color $speed;

		&:hover,
		&:focus {
			background-color: fade-out($color__white, 0.15);
		}

		& > a {
			@include inline();
		}
	}
}
