/*
* === DRIBBBLE ===
*/

.dribbbles {
	position: relative;
	width: 100%;

	@supports (display: grid) {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-column-gap: $gutter;
		grid-row-gap: $gutter;
		justify-items: center;
		width: auto;
	}

	.shot {
		width: 98%;
		margin: 0 1% 1%;
		float: left;

		@include media(">=screen400") {
			width: 48%;
		}

		@include media(">=screen768") {
			width: 31%;
		}

		@supports (display: grid) {
			grid-column: span 6;
			width: auto !important;
			margin: 0;
			@include media(">=screen400") { grid-column: span 3; }
			@include media(">=screen768") { grid-column: span 2; }
		}

		position: relative;
		transition: box-shadow $speed;

		&--hover {
			// .shot--hover
			@include position(absolute, 0);
			display: flex;
			justify-content: center;
			align-items: center;
			height: auto;
			max-height: 100%;
			padding: $gutter;
			transform: translateX(0);
			transition: margin $speed, max-height $speed, padding $speed, transform $speed;
			@include caption();
			text-align: center;
			background-color: fade-out($color__yellow, 0.1);
			color: $color__black--light;
			z-index: 10;

			@include media("<screen1024") {
				// hide only on small screens
				@include visually-hidden();
			}
		}

		&__link {
			// .shot__link
			@include block-link();
			z-index: 20;

			&:hover,
			&:focus {
				// .shot__link:hover
				// .shot__link:focus

				& ~ .shot--hover {
					// .shot__link:hover ~ .shot--hover
					// .shot__link:focus ~ .shot--hover
					max-height: 50%;
					transform: translateY( -#{$gutter} );
					margin-left: $gutter;
					margin-right: $gutter;
					padding: $gutter / 2;
					@include texture($color__white, 54, 0);
					@include box-shadow();
				}
			}
		}

		&__image {
			// .shot__image
			display: block;
			width: 100%;
			margin: 0 auto;
			// transition: opacity 300ms;
		}

		&__description {
			// .shot__description
			@include visually-hidden();
		}
	}

	// & > code {
	// 	grid-column: span 6;
	// 	background-color: fade-out($color__white, 0.85);
	// 	border: 0;
	// 	color: fade-out($color__black, 0.05);
	// 	@include body-copy();
	// 	text-align: center;
	// 	padding: $small-spacing $base-spacing;
	// 	transition: background-color $speed;

	// 	&:hover,
	// 	&:focus {
	// 		background-color: fade-out($color__white, 0.15);
	// 	}

	// 	& > a {
	// 		@include inline();
	// 	}
	// }
}
