/*
* === INSTAGRAM FEED ===
*/

.widget__instagram {

	&--title {
		// .widget__instagram--title
		width: 100%;
		margin-bottom: $gutter;
		@include label();
		line-height: $base-line-height;
		color: $color__black--light;

		@include media(">=screen768") {
			margin-top: $gutter;
			margin-bottom: $gutter;
		}

		@include media(">=screen1440") {
			margin-top: $gutter * 1.5;
			margin-bottom: $gutter * 1.5;
		}
	}

	@supports (display: grid) {
		&--title {
			// .widget__instagram--title
			grid-column: span 4;
			width: auto;
		}
	}
}

@supports (display: flex) {
	#sb_instagram {

		#sbi_images {
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			align-items: flex-start;
		}

		// 4 column layout on smash balloon
		&.sbi_col_4.sbi_disable_mobile {
			#sbi_images {
				.sbi_item {
					width: calc(25% - #{$gutter});
					margin-bottom: $gutter !important;

					@media (max-width: 768px) {
						margin-bottom: $base-spacing !important;
						width: calc(50% - #{$gutter});
					}
				}
			}
		}
	}
}
