/*
* === POSTS & DEFAULT PAGES ===
*/

.type-post,
.type-page {
	@supports (display: grid) {
		grid-column: span 4;
	}
}

.page,
.entry {
	
	&__header {
		// .page__header
		// .entry__header
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		margin: 0 $gutter;
		height: 100vh;
		@include media(">=screen768") {
			margin-left: $gutter * 2;
			margin-right: $gutter * 2;
		}
		@include media(">=screen1024") {
			margin-left: $gutter * 3;
			margin-right: $gutter * 3;
		}
		@include media(">=screen1440") {
			margin-left: $gutter * 4;
			margin-right: $gutter * 4;
		}
		
		.title {
			@include title();
			// @include deep-shadow();
			// @include deep-white-shadow();
			// @include white-shadow();
			// @include retro-text();
			// @include condensed-shadow();
			margin-bottom: 0;
		}
		
		.meta {
			@include small-font-size();
			margin-bottom: $small-spacing;
			width: 100%;
			
			& > time {
				position: relative;
				display: inline-block;
				
				&::after {
					content: " | ";
					margin: 0 $small-spacing;
				}
			}
			
			// & > *:not(.fa) {}
			& > .fa {
				@include position(absolute, null);
				color: $color__yellow;
				font-size: 2em;
				transform: translateX(-10px);
				z-index: -1;
			}
		}
	}
	
	&__content {
		// .page__content
		// .entry__content
		@include drop-cap();
		margin: 0 $gutter $gutter * 2;
		@include media(">=screen768") {
			margin-left: $gutter * 2;
			margin-right: $gutter * 2;
		}
		@include media(">=screen1024") {
			margin-left: $gutter * 3;
			margin-right: $gutter * 3;
		}
		@include media(">=screen1440") {
			margin-left: $gutter * 4;
			margin-right: $gutter * 4;
		}
		
		.gallery {
			// yes, exact class as '/design' page I know
			column-count: 2;
			column-gap: $gutter;
			counter-reset: item-counter;
			margin-bottom: $base-spacing;
			
			&.gallery-columns-3,
			&.gallery-columns-4,
			&.gallery-columns-5 {
				@include media(">=screen960")  { column-count: 3; }
			}
			&.gallery-columns-4,
			&.gallery-columns-5 {
				@include media(">=screen1440") { column-count: 4; }
			}
			&.gallery-columns-5 {
				@include media(">=screen1920") { column-count: 5; }
			}
			
			&-item {
				// .gallery-item
				position: relative;
				@include box-shadow();
				break-inside: avoid;
				counter-increment: item-counter;
				margin-bottom: $gutter;
				&:hover,
				&:focus {
//					.gallery-caption {
//						opacity: 1;
//					}
				}
				
				a {
					display: block;
					pointer-events: all;
					z-index: 1;
				}
				
				img {
					width: 100%;
				}
			}
			
			&-caption {
				// .gallery-caption
				color: $color__gray;
				@include small-font-size();
				transition: $speed;
				@include media(">=screen840") {
					display: none;
//					@include position(absolute, 0 0 0 0);
//					display: flex;
//					justify-content: center;
//					align-items: center;
//					background-color: fade-out($color__black--light, 0.4);
//					color: $color__white;
//					@include text-shadow();
//					padding: $base-spacing;
//					opacity: 0;
//					pointer-events: none;
//					z-index: 1;
				}
			}
		}
	}
}

body.single-post,
body.page-template-default {
	@include texture($color__white, 54, 0);
}