{% extends 'templates/base.twig' %}

{% block content %}
{% for post in posts %}
	<article {{ function('post_class') }}>
		
		<header class="page__header fade-content">
			{% if post.post_excerpt %}
				<p class="meta">{{ post.post_excerpt }}</p>
			{% endif %}
			{% include 'blocks/page-header.twig' %}
		</header>
		
		<div class="page__content fade-content wysiwyg">
			{{ post.content }}
		</div>
		
		<footer class="page__footer">
		</footer>
		
	</article>
{% endfor %}
{% endblock %}