{% extends "base.twig" %}

{% block content %}
{% for post in posts %}

<header class="project__header">
	<figure class="project__banner">
		<img src="{{ TimberImage(post.get_field('hero_image')).src }}"
			 alt=""
			 class="project__banner--image" />
	</figure>
	<h1 class="entry-title">{{ post.title }}</h1>
	{% include "blocks/entry-meta.twig" %}
</header>
<div class="entry-content">
	{{ post.content }}
</div>
<footer>
	{{ wp_link_pages }}
	{% include "blocks/comment.twig" %}
	{% include "blocks/comment-form.twig" %}
</footer>

{% endfor %}
{% endblock %}