/*
* === 4.4 SIDEBAR ===
*/

.widget {
	margin-top: $small-spacing;
	@include media(">=screen1170") { margin-top: $base-spacing; }
	&__instagram {
		// .widget__instagram
		&--feed {
			// .widget__instagram--feed
//			display: grid;
//			grid-template-columns: repeat(10, 1fr);
//			grid-gap: $small-spacing;
//			@include media(">=screen1170") { grid-gap: $base-spacing; }
		}
		&--title {
			// .widget__instagram--title
//			font-size: 1em;
//			@include underlined();
//			margin-bottom: 1em;
		}
		&--image {
			// .widget__instagram--image
//			position: relative;
//			grid-column: span 10;
//			display: flex;
//			align-items: center;
//			@include media(">=screen480") { grid-column: span 5; }
//			@include media(">=screen768") { grid-column: span 2; }
//			@include media(">=screen1170") { grid-column: span 5; }
//			img { width: 100%; }
//			
//			.single-post & {
//				@include media(">=screen1170") { grid-column: span 2; }
//			}
		}
		&--link {
			// .widget__instagram--link
//			@extend %block-link;
//			top: 10px;
//			left: 10px;
//			right: 10px;
//			bottom: 10px;
//			border: 10px transparent solid;
//			transition: border $speed;
//			&:hover,
//			&:focus {
//				border-color: fade-out($color__yellow, 0.15);
//			}
		}
	}
}