/**
 * === About ===
 */

.-personalityTypes {
	position: absolute;
	bottom: $gutter;
	display: grid;
	grid-template-rows: auto auto;
	grid-auto-columns: 1fr;
	grid-auto-flow: column;
	@include small-font-size();

	dt,
	dd {
		margin-right: $gutter / 2;
	}
}
