{# -- Base Page Layout -- #}
{# ----------------------------------------------------------------- #}
{% extends '_base/body.twig' %}

{# -- Page Variables -- #}
{# ----------------------------------------------------------------- #}

{# -- Page Template -- #}
{# ----------------------------------------------------------------- #}
{% block content %}

    <article class="o-page is-search-results">

        {% include '_components/banner.twig' with {
            params: {
                headline: 'Search results',
                text: title
            }
        } only %}

        <section class="o-section is-list" data-module-scroll>
            {% include '_components/list.twig' with {
                style: 'search',
                params: {
                    items: posts,
                }
            } %}
        </section>

        {% include '_components/pagination.twig' with {
            params: {
                pagination: pagination
            }
        } %}

        <section class="o-section is-contact" data-module-scroll>
            {% include '_components/cta.twig' with {
                params: {
                    headline: 'Get In Touch',
                    text: 'Looking to work on something? A brand refresh? A new website? An interview or podcast episode? A new logo?',
                    button: {
                        url: '/contact',
                        title: 'Contact Me'
                    },
                }
            } only %}
        </section>

    </article>

    {# <div class="content-wrapper">
        {% for post in posts %}
            {% include ['_components/tease-' ~ post.post_type ~ '.twig', '_components/tease.twig'] %}
        {% endfor %}

        {% include '_components/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
    </div> #}
{% endblock %}
