{# -- Base Page Layout -- #}
{# ----------------------------------------------------------------- #}
{% extends '_base/body.twig' %}

{# -- Page Variables -- #}
{# ----------------------------------------------------------------- #}

{# -- Page Template -- #}
{# ----------------------------------------------------------------- #}
{% block content %}

    <article class="o-page is-search-results">

        {% include '_components/banner.twig' with {
            params: {
                headline: 'Search results',
                text: title
            }
        } only %}

        <section class="o-section is-list" data-module-scroll>
            {% if posts|length < 1 %}
                <p>Nothing appears to match your search. Try something else!</p>
            {% else %}
                {% include '_components/list.twig' with {
                    style: 'search',
                    params: {
                        items: posts,
                    }
                } %}
            {% endif %}
        </section>

        {% include '_components/pagination.twig' with {
            params: {
                pagination: pagination
            }
        } %}

        <section class="o-section is-contact" data-module-scroll>
            {% include '_components/cta.twig' with {
                params: {
                    headline: 'Get In Touch',
                    text: 'Looking to work on something? A brand refresh? A new website? An interview or podcast episode? A new logo?',
                    button: {
                        url: '/contact',
                        title: 'Contact Me'
                    },
                }
            } only %}
        </section>

    </article>

{% endblock %}
