/*
* === HOME ===
*/

.homepage {

	&__banner {
		// .homepage__banner
		position: relative;
		display: flex;
		flex-flow: column nowrap;
		justify-content: flex-end;
		align-items: center;
		min-height: 100vh;

		@include media(">=screen840") {
			align-items: flex-end;
		}

		.banner {
			position: relative;
			overflow: hidden;

			&__item {
				// .banner__item
				padding: $gutter / 3;
				overflow: hidden;
				background-color: $color__white--dark;
				
				@include media(">=screen1170") {
					&:nth-child(1n) {
						animation: cardHover 5s infinite alternate;
					}
					&:nth-child(2n) {
						animation: cardHover 3s infinite alternate;
					}
					&:nth-child(3n) {
						animation: cardHover 4s infinite alternate;
					}
					&:nth-child(4n) {
						animation: cardHover 2s infinite alternate;
					}
				}
			}

			&__link {
				// .banner__link
				display: block;
				max-height: 100%;
				overflow: hidden;

				&:focus,
				&:hover {
					.banner__image {
						opacity: 0;
					}
				}
			}

			&__image {
				// .banner__image
				@include size(100%);
				opacity: 1;
				transform: translateZ(0);
				object-fit: cover;
				transition: opacity $speed;
				z-index: 2;
			}

			&__title {
				// .banner__title
				position: absolute;
				top: 0;
				left: 0;
				display: flex;
				justify-content: center;
				align-items: center;
				@include size(100%);
				@include small-font-size();
				color: $color__black--light;
				z-index: 1;
			}
		}

		.banner.is-mobile {
			@include size(100%, auto);
			margin-left: auto;
			margin-right: auto;

			@include media("<screen840") {
				display: block;
			}

			@include media(">=screen840") {
				display: none;
			}
		}

		.banner.is-desktop {
			position: absolute;
			top: 0;
			left: 0;
			@include size(50vw, 100vh);
			padding: $gutter / 2;

			@include media("<screen840") {
				display: none;
			}

			@include media(">=screen840") {
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				grid-template-rows: repeat(4, minmax(auto, 25vh));
				grid-gap: $gutter / 2;
			}

			@include media(">=screen1170") {
				padding: 0;
				transform: perspective(3000px) translate3d( 0, #{$gutter * 2}, 0 ) scale3d(1, 1, 1) rotateY(45deg) rotateZ(-10deg);
				transform-origin: 50% 50%;
				transform-style: preserve-3d;
			}

			@include media(">=screen1440") {
				height: 120vh;
				transform: perspective(3000px) translate3d( -#{$gutter * 2}, #{$gutter * 2}, 0 ) scale3d(1, 1, 1) rotateY(45deg) rotateZ(-10deg);
				transform-origin: 50% 100%;
			}
			
			@include media(">=screen1920") {
				transform: perspective(3000px) translate3d( -#{$gutter * 6}, #{$gutter * 2}, 0 ) scale3d(1, 1, 1) rotateY(45deg) rotateZ(-10deg);
			}
			
			@include media(">=screen2560") {
				transform: perspective(3000px) translate3d( -#{$gutter * 8}, #{$gutter * 2}, 0 ) scale3d(1, 1, 1) rotateY(45deg) rotateZ(-10deg);
			}
		}

		.intro {
			@include position(absolute, 0 null null 0);
			color: fade-out($color__white, 0.05);
			text-align: left;
			@include text-shadow();
			padding: $gutter $gutter 100px;
			margin-bottom: $base-spacing;

			@include media(">=screen840") {
				left: auto;
				right: 0;
				display: flex;
				flex-flow: column nowrap;
				justify-content: center;
				align-items: flex-end;
				text-align: right;
				width: 50vw;
				height: 100vh;
				padding-left: 0;
				padding-right: $gutter * 2;
				padding-bottom: $gutter;
			}

			@include media(">=screen1024") {
				padding-right: $gutter * 3;
			}
			
			@include media(">=screen1170") {
				width: auto;
			}

			&__title {
				// .intro__title
				@include paragraph();

				@include media(">=screen840") {
					@include body-copy();
				}
				
				@include media(">=screen1170") {
					@include paragraph();
				}
				
				@include media(">=screen1600") {
					@include subtitle();
				}

				& > span {
					// two lines
					display: block;
				}

				span[class^="word"] {
					// split words to blocks
					display: inline-block;
				}

				a {
					// @include inline();
					// style links manually
//					transition: background-color $speed;
//					&:hover,
//					&:focus {
//						background-color: fade-out($color__yellow, 0.15);
//					}
				}
			}

			&__link {
				// .intro__link
				 @include inline();
			}

			&__description {
				// .intro__description
				@include body-copy();
				
				@include media(">=screen840") {
					@include small-font-size();
				}

				@include media(">=screen1170") {
					@include body-copy();
					width: 50%;
				}

				@include media(">=screen1600") {
					@include paragraph();
					width: 67%;
				}

				a {
					&::before {
						background-color: fade-out($color__white--dark, 0.15);
					}
					&:hover {
						&::before {
							background-color: fade-out($color__yellow, 0.15);
						}
					}
				}
			}

			.line {
				background-color: fade-out($color__white, 0.05);
				@include size(0, 4px);
				margin-bottom: 0.5em;
			}
		}
	}

	&__work {
		// .homepage__work
		background: linear-gradient(10deg, $color__white 55%, $color__yellow 55%);
		color: $color__black;
		width: 100%;
		padding: $gutter * 2 $gutter;

		@include media(">=screen540") {
			padding: $gutter * 3 $gutter;
		}

		@include media(">=screen768") {
			padding: $gutter * 4 $gutter * 2;
		}

		@include media(">=screen1024") {
			padding: $gutter * 5 $gutter * 3;
		}

		@include media(">=screen1280") {
			padding-top: $gutter * 6;
			padding-bottom: $gutter * 6;
		}

		@include media(">=screen1440") {
			padding-top: $gutter * 7;
			padding-bottom: $gutter * 7;
		}

		@include media(">=screen1920") {
			padding-top: $gutter * 8;
			padding-bottom: $gutter * 8;
		}

		@supports (display: grid) {
			grid-column: span 4;
			width: auto;
		}
	}

	&__portfolio {
		// .homepage__portfolio
		background-color: $color__yellow;
		width: 100%;
		padding-top: $gutter;
		@supports (display: grid) {
			grid-column: span 4;
			width: auto;
		}
		@include media(">=screen400") {
			display: flex;
			flex-wrap: wrap;
			padding-left: $gutter / 2;
			padding-right: $gutter / 2;
		}
		@include media(">=screen768") {
			padding: $gutter * 2 $gutter;
		}
		@include media(">=screen960") {
			padding-left: $gutter * 2;
			padding-right: $gutter * 2;
		}
		@include media(">=screen1440") {
			padding-left: $gutter * 3;
			padding-right: $gutter * 3;
		}

		.feature {
			position: relative;
			display: block;
			background: linear-gradient(to bottom right, $color__white 85%, $color__white--dark);
			color: $color__black;
			@include box-shadow();
			@include small-font-size();
			margin: 0 $gutter / 2 $gutter;
			padding: $base-spacing;
			transition: $speed;
			@include media(">=screen540") {
				flex: 0 0 calc(50% - #{$gutter});
				max-width: calc(50% - #{$gutter});
				margin-left: $gutter / 2;
				margin-right: $gutter / 2;
			}
			@include media(">=screen840") {
				flex-basis: calc(33.33% - #{$gutter});
				max-width: calc(33.33% - #{$gutter});
			}
			@include media(">=screen1440") {
				padding: $base-spacing * 2;
			}

			&:hover,
			&:focus {
				// .feature:hover
				// .feature:focus
				background: transparent;
				color: $color__white;
				box-shadow: none;
				.feature__image {
					opacity: 1 !important;
				}
				.feature__content--title::after {
					background-color: $color__white;
				}
				.feature__read-more {
					border-color: $color__white;
				}
			}

			&__content {
				// .feature__content
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				height: 100%;

				&--title {
					// .feature__content--title
					@include paragraph();
					@include underlined();
					&::after {
						width: 100%;
					}

					@include media(">=screen768") {
						letter-spacing: 2px;
					}
				}

				.wysiwyg {
					margin-bottom: $small-spacing;
				}
			}

			&__image {
				// .feature__image
				@include position(absolute, 0);
				opacity: 0 !important;
				transition: opacity $speed;
				@supports (object-fit: cover) {
					@include size(100%);
					min-height: 100%;
					object-fit: cover;
					@include media(">=screen1170") {
						height: 250px;
					}
				}
			}

			&__read-more {
				// feature__read-more
				border-top: 2px $color__yellow solid;
				font-weight: 400;
				text-align: right;
				margin-top: auto;
				padding-top: $small-spacing;
				transition: border-color $speed;
			}

			&__link {
				// .feature__link
				@include block-link();
			}
		}
	}

	&__about {
		// .homepage__about
		background: linear-gradient(to top left, $color__black 85%, $color__black--light);
		@include texture($color__black, 54, 1);
		color: $color__white;
		@include base-font-size();
		@include media(">=screen960") {
			display: flex;
			align-items: flex-start;
			min-height: 100vh;
		}

		&--image {
			// .homepage__about--image
			@include media(">=screen960") {
				flex-basis: 50%;
				max-width: 50%;
				position: sticky;
				top: 0;
				height: 100vh;
				object-fit: cover;
			}
		}

		&--content {
			// .homepage__about--content
			padding: $gutter;
			@include media(">=screen960") {
				flex-basis: 50%;
				max-width: 50%;
				padding-left: $gutter * 2;
				padding-right: $gutter * 2;
			}
			@include media(">=screen1280") {
				padding-left: $gutter * 3;
				padding-right: $gutter * 3;
			}
			@include media(">=screen1920") {
				padding-left: $gutter * 4;
				padding-right: $gutter * 4;
			}
		}
	}

	&__dribbble {
		// .homepage__dribbble
		width: 100%;
		margin: 0 $gutter #{$gutter * 2};
		@include media(">=screen768") {
			margin-left: $gutter * 2;
			margin-right: $gutter * 2;
		}
		@include media(">=screen1024") {
			margin-left: $gutter * 3;
			margin-right: $gutter * 3;
		}
		@include media(">=screen1440") {
			margin-left: $gutter * 4;
			margin-right: $gutter * 4;
		}

		@supports (display: grid) {
			grid-column: span 4;
			width: auto;
		}
	}

	&__contact {
		// .homepage__contact
		width: 100%;
		margin: 0 $gutter #{$gutter * 2};
		@supports (display: grid) {
			grid-column: span 4;
			width: auto;
		}

		h2 {
			@include underlined();
		}

		p {
			padding-right: $gutter;
			@include media(">=screen600")  { padding-right: 20%; }
			@include media(">=screen840")  { padding-right: 30%; }
			@include media(">=screen1024") { padding-right: 40%; }
			@include media(">=screen1600") { padding-right: 50%; }
		}
	}
}

body.home {
	background-color: $color__yellow;
	background-image: none;
	color: $color__white;

	&.sidebar-primary {
		.site__sidebar {
//			background: linear-gradient(to bottom, $color__yellow--light 10%, $color__white);
			background: linear-gradient(to bottom right, $color__white 85%, $color__white--dark);
			color: $color__black;
		}
	}
}