/*
* === 3.1 BASE ===
*/

html {
	height: 100%;
	background-color: $color__black;
	overflow-x: hidden;
	overflow-y: auto;
}

body {
	position: relative;
	background-color: $color__white;
	color: $color__black;
	font-family: $font__main;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	@include size(100vw, auto);
	min-height: 100vh;
}

* {
    box-sizing: border-box;
    &::before,
    &::after { box-sizing: border-box; }
}

.site {
	display: grid;
	grid-template-rows: 100px auto;
//	grid-template-rows: 100px 1fr auto;
	grid-template-columns: repeat(4, 1fr);
//	grid-row-gap: 0;
//	grid-column-gap: $gutter;
	width: 100vw;
	min-height: 100vh;
	
	.sidebar-primary & {
		// when sidebar template is activated on `body`
	}
	
	&__main {
		// .site__main
		grid-column: span 4;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-column-gap: $gutter;
		.blog &,
		.archive & {
//			display: grid;
//			grid-template-columns: 3fr 1fr;
//			width: calc(100vw - #{$gutter*2});
//			margin: 0 $gutter;
//			@include media(">=screen960") {
//				grid-column-gap: $gutter;
//			}
		}
	}
}

.content-area {
//	grid-column: span 4;
	&.halfie {
//		grid-column: auto;
//		display: grid;
//		grid-template-columns: 1fr;
//		@include media(">=screen768") {
//			grid-template-columns: 1fr 1fr;
//			grid-column-gap: $gutter;
//		}
	}
	.blog &,
	.archive & {
//		grid-column: span 2;
//		@include media(">=screen960") {
//			grid-column: span 1;
//			
//		}
	}
}

//.widget-area {
//	.blog &
//	.archive & {
//		grid-column: span 2;
//		@include media(">=screen960") {
//			grid-column: span 1;
//			margin-top: $gutter;
//			margin-bottom: $gutter;
//		}
//	}
//	.single-post & {
//		grid-column: span 4;
//		margin: 0 $gutter $gutter;
//	}
//}