{# -- Component Variables -- #}

{% set this = {
    headline: params.headline ?? null,
    body: params.text ?? null,
    button: params.button ?? null,
} %}

{# -- Component Template -- #}

<div class="c-call-to-action">

    <div class="c-call-to-action__primary">
        <h2 class="u-headline">{{ this.headline }}</h2>
    </div>

    <div class="c-call-to-action__secondary">
        {% if this.body or this.button %}

            <div class="u-wysiwyg">
                {{ this.body }}
                {% if this.button %}
                    {% include '_elements/button.twig' with {
                        params: {
                            url: this.button.url,
                            text: this.button.title,
                            target: this.button.target,
                            primary: true
                        }
                    } only %}
                {% endif %}
            </div>

        {% endif %}
    </div>

</div>
