{# -- Component Variables -- #}

{% set this = {
    images: params.images|default(null)
} %}

{# -- Component Template -- #}

{% if this.images %}
<figure class="c-gallery" data-module-fancybox>
    {# Slider main container #}
    <div class="swiper is-gallery" data-module-swiper>

        {# Additional required wrapper #}
        <ul class="swiper-wrapper">
            {% for image in this.images %}

                {# Slides #}
                <li class="swiper-slide c-gallery__image">
                    {% set image = get_image(image) %}
                    <a href="{{ image.src('large') }}" class="c-gallery__image-link" data-fancybox="gallery-{{ this.images|length }}">
                        {% include '_elements/picture.twig' with {
                            params: {
                                src: image,
                                ratio: '4:3'
                            }
                        } only %}
                    </a>
                </li>

            {% endfor %}
        </ul>

        {# If we need pagination #}
        <div class="swiper-pagination"></div>

        {# If we need navigation buttons #}
        <button class="swiper-button-prev"></button>
        <button class="swiper-button-next"></button>

        {# If we need scrollbar #}
        <div class="swiper-scrollbar"></div>

    </div>
</figure>
{% endif %}
