{# -- Component Variables -- #}

{# -- Component Template -- #}

<div class="c-tab-nav">
    <a class="u-screen-reader-text is-focusable" href="#masthead">Skip to navigation</a>
    <a class="u-screen-reader-text is-focusable" href="#main">Skip to content</a>
    <a class="u-screen-reader-text is-focusable" href="#colophon">Skip to footer</a>
</div>
