{# -- Component Variables -- #}

{# -- Component Template -- #}

<div class="c-tab-nav" data-module-keyboard-menu>
    <a class="u-screen-reader-text is-focusable" href="#masthead" data-skip-link>Skip to navigation</a>
    <a class="u-screen-reader-text is-focusable" href="#main" data-skip-link>Skip to content</a>
    <a class="u-screen-reader-text is-focusable" href="#colophon" data-skip-link>Skip to footer</a>
</div>
