{# -- Component Variables -- #}

{% set this = {
    mediaSection: params.section|default(null),
    order: params.order,
} %}
{% set imageFrame = this.mediaSection.image_type ?? 'default' %}

{# -- Component Template -- #}

{% if this.mediaSection %}
<section class="o-section is-{{ this.mediaSection.media_type }}{% if imageFrame == 'full' or imageFrame == 'fixed' %} is-full-width{% endif %}"{% if imageFrame != 'fixed' %} data-scroll-trigger{% endif %}>
    {% switch this.mediaSection.media_type %}

        {% case 'image' %}
            {% if imageFrame == 'fixed' %}
                <figure class="c-media__fixed-container" data-module-parallax>
                    {% include '_elements/picture.twig' with {
                        params: {
                            src: this.mediaSection.image,
                            sizes: '(min-width: 1200px) 85vw, 100vw'
                        }
                    } only %}
                </figure>
            {% else %}
                {% switch this.mediaSection.aspect_ratio %}
                    {% case 'landscape' %}
                        {% set aspectRatio = '4:3' %}
                    {% case 'square' %}
                        {% set aspectRatio = '1:1' %}
                    {% case 'portrait' %}
                        {% set aspectRatio = '3:4' %}
                    {% default %}
                        {% set aspectRatio = null %}
                {% endswitch %}
                {% include '_elements/picture.twig' with {
                    params: {
                        src: this.mediaSection.image,
                        ratio: aspectRatio,
                        sizes: '(min-width: 1200px) 85vw, 100vw'
                    }
                } only %}
            {% endif %}
            {% if hasCaption %}
                <aside class="c-caption">
                    {{ hasCaption }}
                </aside>
            {% endif %}

        {% case 'video' %}
            {% if this.mediaSection.video_type == 'embedded' %}
                {% include '_elements/embed.twig' with {
                    params: {
                        src: this.mediaSection.video_embed,
                        type: 'video'
                    },
                } only %}

            {% elseif this.mediaSection.video_type == 'internal' %}
                {% include '_elements/video.twig' with {
                    params: {
                        src: this.mediaSection.video_file,
                        thumbnail: this.mediaSection.image,
                        controls: true
                    },
                } only %}
                {% if this.mediaSection.video_file.caption %}
                    <aside class="c-caption">
                        {{ this.mediaSection.video_file.caption }}
                    </aside>
                {% endif %}

            {% endif %}

        {% case 'audio' %}
            {% include '_elements/embed.twig' with {
                params: {
                    src: this.mediaSection.audio_file,
                    type: 'audio'
                },
            } only %}

        {% default %}
        {# no default configured #}

    {% endswitch %}
</section>
{% endif %}
