{# -- Component Variables -- #}

{% set this = {
    textSection: params.section|default(null)
} %}

{# -- Component Template -- #}

{% if this.textSection %}
<section class="o-section is-text">

    {% include '_components/content.twig' with {
        params: {
            eyebrow: this.textSection.eyebrow|default(null),
            headline: this.textSection.headline|default(null),
            headlineSize: this.textSection.headline_size ?? null,
            text: this.textSection.text|default(null),
            textSize: this.textSection.text_size ?? null,
            button: this.textSection.button|default(null)
        },
    } only %}

</section>
{% endif %}
