{# -- Component Variables -- #}

{% set this = {
    text: params.text|default(null),
    name: params.name|default(null),
    photo: params.photo|default(null)
} %}

{# -- Component Template -- #}

<div class="c-testimonial swiper-slide">

    {% include '_elements/picture.twig' with {
        params: {
            src: get_image(this.photo),
            ratio: '1:1',
        }
    } only %}
    <q class="u-wysiwyg">
        {{ this.text }}
        <cite class="u-label">{{ this.name }}</cite>
    </q>

</div>
