{% block html_head_container %}

{% include 'partials/html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{ body_class }}">
		<div id="page" class="site">

			<a class="skip-link screen-reader-text" href="#main">{{ _e( 'Skip to main') }}</a>

			<header id="masthead" class="site__header">
				{% block header %}
					{% include 'partials/header.twig' %}
				{% endblock %}
			</header>

			<main id="main" class="site__main content-area{% if post.slug is defined or term_page.slug is defined %} -{{ term_page.slug ?? post.slug ?? 'default' }}{% else %} daft-punk{% endif %}{% if displaySidebar == true %} -hasSidebar{% endif %}">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</main>

			{% include 'partials/sidebar.twig' %}

			{% include 'components/contact.twig' %}

			{% block footer %}
				{% include 'partials/footer.twig' %}
				{{ function('wp_footer') }}
			{% endblock %}

		</div>
	</body>
</html>
