{% block html_head_container %}

{% include 'partials/html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{ body_class }}">
		<div id="page" class="site">

			<a class="skip-link screen-reader-text" href="#content">{{ _e( 'Skip to content') }}</a>

			<header id="masthead" class="site__header" role="banner">
				{% block header %}
					{% include 'partials/header.twig' %}
				{% endblock %}
			</header>

			<main id="main" class="site__main content-area{{ ' -' ~ post.slug ?? '' }}{% if displaySidebar == true %} -hasSidebar{% endif %}" role="main">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</main>

			{% include 'partials/sidebar.twig' %}

			{% include 'components/contact.twig' %}

			{% block footer %}
				{% include 'partials/footer.twig' %}
				{{ function('wp_footer') }}
			{% endblock %}

		</div>
	</body>
</html>
