/*
* === 4.2 FOOTER ===
*/

.site__footer {
	grid-row: span 2;
	grid-column: span 4;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-column-gap: $gutter;
	align-items: start;
	@include clearfix();
	background-color: $color__black;
	color: $color__white;
	width: 100vw;
	padding: $gutter;
	&--column {
		grid-column: span 4;
		margin-bottom: $base-spacing;
		&:last-child { margin-bottom: 0; }
		@include media(">=screen600") {
			grid-column: span 2;
			float: left;
			width: 50%;
			@supports (display: grid) { width: auto; }
		}
		@include media(">=screen960") {
			grid-column: span 1;
			width: 30%;
			@supports (display: grid) { width: auto; }
			&.social-media {
				grid-column: 4 / 5;
			}
		}
		h3 {
			border-bottom: 3px $color__black--light solid;
			font-size: 1em;
			padding-bottom: $small-spacing;
		}
		ul {
			@include type();
			color: $color__white--dark;
			font-family: $font__header;
			a {
				@include inline();
				&::before {
					background-color: transparent;
				}
				&:hover {
					&::before {
						background-color: $color__black--lightest;
					}
				}
			}
			&.icons {
				display: flex;
				align-items: center;
				li {
					margin-right: .5em;
				}
			}
		}
	}
}