/*
* === 4.6 POSTS ===
*/

.blog-post {
	&__categories {
		// .blog-post__categories
		font-size: .75em;
		margin: $gutter/2 0;
		@include media(">=screen540") {
			margin: $gutter 0;
		}
		ul {
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			.cat-item,
			.cat-item-all {
				flex: 0 1 auto;
				background-color: $color__black;
				color: $color__white;
				margin-right: 10px;
				&.current-cat {
					& > a {
						font-style: italic;
					}
				}
				& > a {
					display: block;
					padding: 5px 10px;
				}
			}
		}
	}
	.post {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: $gutter;
	}
}

.entry {
	&__featured-image {
		// .entry__featured-image
		&.is_stuck {
		}
		&--frame {
			// .entry__featured-image--frame (parent)
			grid-column: span 2;
			background: $color__yellow no-repeat center center;
			background-size: cover;
			height: 300px;
			border: $gutter $color__white solid;
			border-bottom: 0;
			@include media(">=screen768") {
				grid-column: span 1;
				height: 100vh;
				border-right: 0;
				border-bottom: $gutter $color__white solid;
			}
		}
	}
    &__content {
		// .entry__content
		grid-column: span 2;
		margin: 0 $gutter $gutter;
		background-color: $color__white;
		@include media(">=screen960") {
			grid-column: span 1;
			margin-left: 0;
		}
	}
	&__header {
		// .entry__header
		margin: $gutter 0;
	}
	&__title {
		// .entry__title
		@include underlined();
	}
	&__breadcrumb {
		// .entry__breadcrumb
		font-size: .75em;
		margin-bottom: $gutter;
		.breadcrumb_last { display: none; }
	}
	&__meta {
		// .entry__meta
		font-size: .75em;
		.updated { display: none; }
	}
	&__footer {
		// .entry__footer
		span { display: block; }
	}
}