/*
* === 4.4 SIDEBAR ===
*/

.widget {
	&__instagram {
		// .widget__instagram
		&--feed {
			// .widget__instagram--feed
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			align-items: center;
		}
		&--title {
			// .widget__instagram--title
			font-size: 1em;
		}
		&--image {
			// .widget__instagram--image
			flex: 1 0 auto;
			position: relative;
			margin-bottom: $gutter/2;
			@include media('>=screen400') {
				flex: 0 1 calc(50% - #{$gutter/2});
			}
			@include media('>=screen768', '<screen960') {
				flex-basis: calc(20% - #{$gutter/2});
			}
			img { margin: 0 auto; }
		}
		&--link {
			// .widget__instagram--link
			@extend %block-link;
			top: 10px;
			left: 10px;
			right: 10px;
			bottom: 10px;
			border: 10px transparent solid;
			transition: border $speed;
			&:hover,
			&:focus {
				border-color: fade-out($color__yellow, 0.15);
			}
		}
	}
}

//.widget {
//	margin: 0 0 $gutter;
//    @include media('>=screen540') {
//		margin-left: 25%;
//		margin-right: 25%;
//	}
//    @include media('>=screen960') {
//		margin-left: 0;
//		margin-right: 0;
//	}
//}

// Recent Posts Widget Extended
//.rpwe {
//    &-img {
//        @include unstyled();
//        @include pseudo-border();
//        margin-bottom: 1em;
//        img { display: block; }
//    }
//    &-title {
//        position: relative;
//        &::after {
//            content: "";
//            position: absolute;
//            bottom: 0;
//            left: 0;
//            height: 10px;
//            width: 100px;
//            background-color: $color__yellow;
//        }
//        a {margin-bottom: 1em;}
//    }
//    &-time {
//        color: $color__gray;
//        font-size: .75em;
//        font-weight: 700;
//    }
//}