.site {
    background-color: @color__white;
    &-content {
        // .site-content
        padding-top: 100px;
    }
}

.content-area {
    @media @screen768 {
        background: no-repeat center center fixed;
        background-size: cover;
    }
}

.project,
.project-all,
.page-content,
.error-content,
.entry-content,
.entry-summary,
.halfie__content {
    font-size: 1em;
    @media @screen1024 {
        font-size: 1.3125em;
    }
}

.project-all {
    &-header {
        // .project-all-header
        padding: 0 1em;
        text-align: center;
    }
    &-title {
        // .project-all-title
        margin: 1em 0;
    }
    &-content {
        // .project-all-content
        padding: 0 1em 1.7em;
        @media @screen600 {padding: 0 10% 1.7em;}
        @media @screen840 {padding: 0 15% 1.7em;}
        @media @screen1024 {padding: 0 20% 1.7em;}
        @media @screen1600 {padding: 0 25% 1.7em;}
    }
}

.project {
    display: flex;
    flex-direction: column;
    &__story {
        // .project__story
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__section {
        // .project__section
        flex: 1 1 100%;
        position: relative;
        display: flex;
        flex-flow: row wrap;
    }
    &__header {
        // .project__header
        position: relative;
        margin-bottom: 1.7em;
    }
    &__banner {
        // .project__banner
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: @color__yellow no-repeat center center scroll;
        background-size: cover;
        background-blend-mode: multiply;
        color: @color__white;
        padding: 50px 1em;
        @media @screen600 {padding: 100px 1em;}
        @media @screen960 {
            align-items: flex-start;
            justify-content: flex-end;
            padding: 0 1em;
            height: calc(~"100vh - 100px");
        }
    }
    &__title {
        // .project__title
        margin: 0;
        @media @screen960 {
            position: relative;
            max-width: 75%;
            line-height: 1em;
            margin-top: 20px;
            margin-bottom: 30px;
            padding-bottom: 30px;
            &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100px;
                height: 10px;
                background-color: @color__white;
            }
        }
        @media @screen1440 {
//            margin-top: 30px;
//            margin-bottom: 30px;
//            padding-bottom: 25px;
        }
    }
    &__subtitle {
        // .project__subtitle
        color: @color__yellow;
        background-color: @color__white;
        font-family: @font__main;
        font-style: italic;
        font-weight: 400;
        text-transform: none;
        margin: 0;
        padding: 5px 10px;
    }
    &__breadcrumb {
        // .project__breadcrumb
        display: flex;
        align-items: center;
        margin: 0 0 1em;
        font-size: .75em;
        span {
            margin-left: 5px;
            & > span {
                display: flex;
                align-items: center;
            }
        }
        a,
        .breadcrumb_last {
            background-color: @color__white;
            color: @color__yellow;
            padding: 5px 10px;
            margin-right: 10px;
        }
        a {
            &:hover,
            &:focus { color: @color__black; }
        }
        .breadcrumb_last {
            margin-right: 0;
            font-style: italic;
        }
    }
    &__text {
        // .project__text
        padding: 0 1em 1.7em;
        @media @screen600 { padding: 0 10% 1.7em; }
        @media @screen840 { padding: 0 15% 1.7em; }
        @media @screen1024 { padding: 0 20% 1.7em; }
        @media @screen1600 { padding: 0 25% 1.7em; }
    }
    &__text-image {
        // .project__text-image
        padding: 0 1em;
        margin-bottom: 1.7em;
        @media @screen768 {
            align-items: center;
            padding: 0;
        }
        .content--half {
            order: 1;
            margin: 0 0 1em;
            @media @screen768 {
                flex: 0 1 50%;
                margin: 0;
                padding: 1em;
            }
            @media @screen1024 {
                padding: 2em;
            }
            @media @screen1024 {
                padding: 3em;
            }
        }
        .image--half {
            order: 2;
            margin: 0;
            @media @screen768 {
                flex: 0 1 50%;
            }
            img {
                display: block;
                margin: 0 auto;
            }
        }
        &--reversed {
            // .project__text-image--reversed
            .content--half {
                order: 2;
                margin: 0;
            }
            .image--half {
                order: 1;
                margin: 0 0 1em;
                @media @screen768 {
                    margin: 0;
                }
            }
        }
    }
    &__image {
        align-items: center;
        margin-bottom: 1.7em;
        // .project__image
        &--default {
            // .project__image--default
            padding: 1em;
            margin-bottom: 1.7em;
        }
        &--wide {
            // .project__image--wide
            padding: 0;
        }
        &--fixed {
            // .project__image--fixed
            background: @color__yellow no-repeat center center fixed;
            background-size: cover;
            background-blend-mode: multiply;
            width: 100%;
            height: 300px;
            margin-bottom: 1.7em;
        }
    }
    &__gallery {
        // .project__gallery
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        margin-bottom: 1.7em;
        a {
            float: left;
        }
        img {
            display: block;
        }
        figure {
            overflow: hidden;
            width: 100%;
            @media @screen600 {width: 50%;}
            @media @screen840 {width: 33.33333%;}
            @media @screen1024 {width: 25%;}
        }
    }
    &-specs {
        padding: 0 1em 1.7em;
        h4 {margin-bottom: 1em;}
        ul {
            list-style: none;
            margin: 0;
            li {
                display: block;
                width: 100%;
                span {
                    &::after {
                        content: ", ";
                    }
                    &:last-child::after {
                        content: "";
                    }
                }
                &:nth-of-type(odd) {font-weight: 700;}
                &:nth-of-type(even) {padding-bottom: .5em;}
                @media @screen480 {padding: .5em;}
            }
            @media @screen480 {
                display: flex;
                flex-flow: row wrap;
                li {
                    flex: 1 0 50%;
                    border-bottom: 1px @color__gray--light solid;
                    &:nth-last-child(-n+2) {border-bottom: 0;}
                }
            }
        }
        @media @screen600 {padding: 0 10% 1.7em;}
        @media @screen840 {padding: 0 15% 1.7em;}
        @media @screen1024 {padding: 0 20% 1.7em;}
        @media @screen1600 {padding: 0 25% 1.7em;}
    }
}

.gallery {
    margin: 1.7em 0 0;
    @media @screen600 {
        margin: 1.7em 1em 0;
        display: flex;
        flex-flow: row wrap;
    }
    &__project {
        // .gallery__project
        position: relative;
        margin: 0 1em 1.7em;
        @media @screen960 {
            background-color: @color__white;
        }
        &--image {
            // .gallery__project--image
            display: block;
            margin-bottom: 1em;
            @media @screen960 {
                margin-bottom: 0;
                opacity: 1;
                transition: opacity 300ms;
            }
        }
        &--header {
            // .gallery__project--header
            position: relative;
            padding-bottom: 10px;
            margin-bottom: 1em;
            font-size: 1.375em;
            &::after {
                content: "";
                position: absolute;
                top: 100%;
                left: 0;
                height: 10px;
                width: 100px;
                background-color: @color__yellow;
            }
            @media @screen960 {
                margin: 0;
                padding: 0;
                &::after {display: none;}
            }
        }
        &--content {
            // .gallery__project--content
            @media @screen960 {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                padding: 2em;
                &::after {
                    content: "";
                    position: absolute;
                    bottom: 1em;
                    left: 1em;
                    right: 1em;
                    height: calc(~"50% - 1em");
                    border: 10px @color__black solid;
                    transform: translate3d(0,-100%,0);
                    transition: border-color 300ms, transform 300ms;
                }
            }
        }
        &--excerpt {
            // .gallery__project--excerpt
            margin-bottom: 1em;
            @media @screen960 {
                margin-bottom: 0;
                position: absolute;
                bottom: 2em;
                left: calc(~"2em + 10px");
                right: calc(~"2em + 10px");
                font-size: .875em;
                font-weight: 500;
                opacity: 0;
                transform: translate3d(0,-100%,0);
                transition: opacity 300ms, transform 300ms;
            }
            .sharedaddy { display: none; }
        }
        &--link {
            // .gallery__project--link
            @media @screen960 {
                z-index: 1000;
                text-indent: 9999;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                font-size: 0;
                opacity: 0;
            }
        }
        @media @screen540 {
            margin: 0 2em 1.7em;
        }
        @media @screen600 {
            width: calc(~"50% - 2em");
            margin: 0 1em 1em;
        }
        @media @screen960 {
            margin: 0 1em 2em;
            &:hover {
                .gallery__project--image { opacity: 0.05; }
                .gallery__project--content::after {
                    border-color: @color__yellow;
                    transform: translate3d(0,0,0);
                }
                .gallery__project--excerpt {
                    opacity: 1;
                    transform: translate3d(0,0,0);
                }
            }
        }
        @media @screen1024 { position: relative; }
    }
//    &__pagination {
//        // .gallery__pagination
//        margin: 0 0 1.7em;
//        display: flex;
//        flex-flow: row wrap;
//        justify-content: center;
//        width: 100%;
//    }
}

.halfie {
    position: relative;
    @media @screen600 {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
    &__content {
        // .halfie__content
        width: 100%;
        padding: 0 1em;
        @media @screen600 {
            flex: 0 1 50%;
            width: auto;
            padding-left: 0 0 0 2em;
        }
    }
    &__header {
        // .halfie__header
        @media @screen600 {
            position: relative;
            margin: 1em 0;
            padding-bottom: calc(~"1em + 5px");
            &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                height: 10px;
                width: 100px;
                background-color: @color__yellow;
            }
        }
    }
    &__title {
        // .halfie__title
        @media @screen600 {
            margin: 0;
        }
    }
    &__img {
        // .halfie__img
        background: @color__yellow no-repeat center center;
        background-size: cover;
        width: 100%;
        height: 300px;
        box-shadow: inset 0 0 0 1em @color__white;
        @media @screen600 {
            flex: 0 1 50%;
            width: auto;
            height: 100vh;
            box-shadow: inset 0 0 0 2em @color__white;
        }
        @media @screen1600 { box-shadow: inset 0 0 0 100px @color__white; }
    }
    &__breadcrumb {
        display: block;
    }
}

.blog,
.archive,
.category, {
    article[class^="post-"] {
        display: flex;
        flex-flow: column wrap;
        margin: 0 1em 1.7em;
        @media @screen600 { margin: 0 2em 1.7em; }
        @media @screen840 { flex-direction: row; }
        @media @screen960 {
            margin: 0 0 1.7em;
            .posts-image {
                transition: opacity 300ms;
            }
            &:hover,
            &:focus {
                .posts-image { opacity: .05; }
            }
        }
    }
    @media @screen960 {
        #content {
            display: flex;
            flex-direction: row;
            #primary {
                flex: 0 1 auto;
                width: calc(~"66.66666% - 3em");
                margin: 0 1em 0 2em;
            }
            #secondary {
                flex: 0 1 auto;
                width: calc(~"33.33333% - 2em");
                margin: 1em 2em 0 1em;
                padding-left: 2em;
                border-left: 2px @color__gray--light solid;
            }
        }
    }
    @media @screen1280 {
        #content {
            #primary { width: calc(~"75% - 3em"); }
            #secondary { width: calc(~"25% - 3em"); }
        }
    }
    .contact-section__profile { display: none !important; }
}

.single-post {
    article[class^="post-"] {
        margin: 0 1em 50px;
        padding-bottom: 50px;
        position: relative;
        display: block;
        &::after {
            content: "";
            display: block;
            position: absolute;
            bottom: 0;
            height: 5px;
            width: 50%;
            background-color: @color__yellow;
            margin: 1.7em 25% 0;
            @media @screen960 {
                height: 10px;
                width: 25%;
                margin: 1.7em 37.5% 0;
            }
        }
        &:last-child::after {display: none;}
        @media @screen540 {margin: 0 2em 50px;}
        @media @screen960 {
            display: flex;
            flex-direction: row;
            margin: 0 0 100px;
            padding-bottom: 100px;
        }
    }
}

.posts {
    &-header {
        order: 2;
        display: flex;
        flex-direction: row;
        h2 {
            text-transform: none;
            margin-bottom: 1em;
            @media @screen840 {
                margin-bottom: .2em;
            }
        }
        @media @screen840 {
            order: 1;
            align-items: center;
            position: absolute;
            width: 60%;
            height: 300px;
            z-index: 100;
        }
        @media @screen960 {
            width: 75%;
        }
    }
    &-date {
        flex: 0 1 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: @color__yellow;
        text-align: center;
        padding: .5em;
        .month {
            display: block;
            line-height: 0;
        }
        .day {
            display: block;
            font-weight: 700;
            font-size: 2em;
        }
        .updated {display: none;}
        a {
            .unstyled;
            color: @color__yellow--light !important;
            font-size: 1.5em;
            @media @screen840 {
                display: flex !important;
                flex-flow: row wrap;
                align-content: center;
                width: 100px;
                height: 100px;
                border: 2px @color__black solid !important;
            }
        }
        @media @screen840 {
            background-color: transparent !important;
            .month {
                flex: 1 0 auto;
                color: @color__black;
                line-height: 1em;
                width: 100%;
            }
            .day {
                flex: 1 0 auto;
                color: @color__yellow;
                line-height: 1em;
                width: 100%;
            }
        }
    }
    &-content {
        flex: 1 0 80%;
        padding-top: 1em;
        padding-left: 1em;
        display: block;
        .cat-links {
            display: block;
            font-size: .75em;
            margin-bottom: .5em;
        }
        @media @screen840 {
            flex: 0 1 auto;
            padding-top: 0;
        }
    }
    &-image {
        order: 1;
        background: @color__white no-repeat center center scroll;
        background-size: cover;
        width: 100%;
        height: 300px;
        a {
            .unstyled;
            height: 300px;
            width: 100%;
        }
        @media @screen840 {
            order: 2;
            width: 60%;
            margin-left: 40%;
        }
        @media @screen960 {
            .pseudo-border;
            width: 75%;
            margin-left: 25%;
        }
    }
}

.entry {
    &__featured-image {
        // .entry__featured-image
        background: @color__white no-repeat center center;
        background-size: cover;
        z-index: 0;
        @media @screen960 {
            &--frame {
                // .entry__featured-image--frame
                width: 50vw;
                width: calc(50vw - 3em);
                margin-left: 2em;
                padding-right: 1em;
                overflow: hidden;
                img {
                    min-height: 100vh;
                    min-width: 100vw;
                    margin-left: -50%;
                }
            }
            
        }
    }
    &__content {
        position: relative;
        z-index: 1;
        @media @screen960 {
            width: 50vw;
            padding: 0 2em;
        }
        img {
            display: block;
            margin: 0 0 1.5em;
        }
    }
    &__header {
        background-color: @color__white;
        margin-left: -1em;
        margin-right: -1em;
        padding: 1em;
        z-index: 2;
        @media @screen960 {
            margin-top: 2em;
            margin-left: -25vw;
            border-left: 10px @color__yellow solid;
            &.is_stuck {
                width: 75vw !important;
                box-shadow: 0 1px 1px 0 fade(@color__black,50%);
            }
        }
    }
    &__meta {
        .updated {
            display: none;
        }
    }
    &__footer {
        span {display: block;}
    }
}

.error {
    &-404 {
        padding: 0 1em 1.7em;
        @media @screen600 {padding: 0 10% 1.7em;}
        @media @screen840 {padding: 0 15% 1.7em;}
        @media @screen1024 {padding: 0 20% 1.7em;}
        @media @screen1600 {padding: 0 25% 1.7em;}
    }
    &-header {
        text-align: center;
    }
    &-content {
        margin-bottom: 1.7em;
    }
    &-cogs {
        width: 9em;
        height: 9em;
        font-size: 1em;
        position: relative;
        margin: 0 auto 1.7em;
        span {
            display: inline-block;
            width: 1em;
            height: 1em;
            font-size: 4em;
            text-align: center;
            position: absolute;
            top: 0;
            left: 0;
            animation-duration: 5s;
            &:nth-child(2) {
                font-size: 6em;
                top: 0.4em;
                left: 0.25em;
            }
            &:nth-child(3) {
                font-size: 3em;
                top: 0.2em;
                left: 1.7em;
            }
        }
    }
    &-links {
        margin: 0 0 1.7em;
        ul {
            list-style: none;
            margin: 0;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
        }
        li {margin: 0 .5em;}
    }
    &-search {
        text-align: center;
    }
    @media @screen600 {padding: 0 10% 1.7em;}
    @media @screen840 {padding: 0 15% 1.7em;}
    @media @screen1024 {padding: 0 20% 1.7em;}
    @media @screen1600 {padding: 0 25% 1.7em;}
    
    .fa-spin.fa-spin-reverse {animation-direction: reverse;}
    
    &-project {
        flex: 0 1 auto;
        font-family: @font__code;
        margin: 0 auto 1.7em;
        padding: .5em 1em;
        border: 1px @color__yellow solid;
        background-color: @color__yellow--light;
        color: @color__yellow--dark;
        text-shadow: 1px 1px 0 @color__yellow--light, 2px 2px 0 @color__yellow;
    }
}