#page {
    background-color: @white;
}

#content {
    padding-top: 100px;
    background-color: @white;
    @media @screen768 {
        background: no-repeat center center fixed;
        background-size: cover;
    }
}

.project,
.project-all,
.page-content,
.entry-content,
.entry-summary,
.halfie-content {
    font-size: 1em;
    @media @screen1024 {
        font-size: 1.3125em;
    }
}

.project-all {
    &-header {
        padding: 0 1em;
        text-align: center;
    }
    &-content {
        padding: 0 1em;
        @media @screen600 {padding: 0 10%;}
        @media @screen840 {padding: 0 15%;}
        @media @screen1024 {padding: 0 20%;}
        @media @screen1600 {padding: 0 25%;}
    }
}

.project {
    &-header {
        position: relative;
        hgroup {
            padding: 0 1.7em 1.7em;
            @media @screen840 {
                position: absolute;
                bottom: 3.4em;
                left: 1.7em;
                padding: 0;
                color: @white;
                max-width: 75%;
                .text-shadow;
            }
        }
    }
    &-banner {
        position: relative;
        margin: 0;
        height: 200px;
        background: @white no-repeat center center scroll;
        background-size: cover;
        .btn {
            .btn-color(@white,@yellow);
            position: absolute;
            bottom: 1.7em;
            right: 1.7em;
        }
        @media @screen480 {height: 250px;}
        @media @screen600 {height: 300px;}
        @media @screen768 {height: 350px;}
        @media @screen960 {height: 400px;}
        @media @screen1024 {
            // Issue in compiling:
            // stackoverflow.com/questions/27256849/it-is-possible-to-use-vh-minus-pixels-in-a-css-calc
            // height: calc(100vh - 100px);
            height: calc(~"100vh - 100px");
        }
    }
    &-description {
        padding: 0 1em 1.7em;
        @media @screen600 {padding: 0 10% 1.7em;}
        @media @screen840 {padding: 0 15% 1.7em;}
        @media @screen1024 {padding: 0 20% 1.7em;}
        @media @screen1600 {padding: 0 25% 1.7em;}
    }
    &-specs {
        padding: 0 1.7em 1.7em;
        h4 {margin-bottom: 1em;}
        ul {
            list-style: none;
            margin: 0;
            li {
                display: block;
                width: 100%;
                &:nth-of-type(odd) {font-weight: 700;}
                &:nth-of-type(even) {padding-bottom: .5em;}
                @media @screen480 {padding: .5em;}
            }
            @media @screen480 {
                display: flex;
                flex-flow: row wrap;
                li {
                    flex: 1 0 50%;
                    border-bottom: 1px @lightgray solid;
                    &:nth-last-child(-n+2) {border-bottom: 0;}
                }
            }
        }
        @media @screen600 {padding: 0 10% 1.7em;}
        @media @screen840 {padding: 0 15% 1.7em;}
        @media @screen1024 {padding: 0 20% 1.7em;}
        @media @screen1600 {padding: 0 25% 1.7em;}
    }
}

.halfie {
    width: 100%;
    padding: 0 20px 20px;
    #breadcrumbs {padding-left: 0;}
    @media @screen540 {padding: 0 30px 30px;}
    @media @screen768 {
        width: 66.66666%;
        margin-left: 33.33333%;
    }
    @media @screen960 {
        width: 50%;
        margin-left: 50%;
    }
}

.blog,
.archive,
.category,
.single-post {
    article[class^="post-"] {
        margin: 0 1em 1.7em;
        padding-bottom: 1.7em;
        position: relative;
        display: block;
        &::after {
            content: "";
            display: block;
            position: absolute;
            bottom: 0;
            height: 5px;
            width: 50%;
            background-color: @yellow;
            margin: 1.7em 25% 0;
            @media @screen960 {
                height: 10px;
                width: 25%;
                margin: 1.7em 37.5% 0;
            }
        }
        &:last-child::after {display: none;}
        @media @screen540 {margin: 0 2em 1.7em;}
        @media @screen960 {margin: 0 0 1.7em;}
    }
    @media @screen960 {
        #content {
            display: flex;
            flex-direction: row;
            #primary {
                flex: 0 1 auto;
                width: calc(~"66.66666% - 3em");
                margin: 0 1em 0 2em;
            }
            #secondary {
                flex: 0 1 auto;
                width: calc(~"33.33333% - 2em");
                margin: 0 2em 0 1em;
                padding-left: 2em;
                border-left: 2px @lightgray solid;
            }
        }
    }
    @media @screen1280 {
        #content {
            #primary {width: calc(~"75% - 3em");}
            #secondary {width: calc(~"25% - 3em");}
        }
    }
}

.posts,
.entry {
    &-header {
        margin-bottom: 1em;
    }
    &-content {
        margin-bottom: 1em;
        .attachment-post-thumbnail {
            display: block;
            margin-bottom: 1em;
        }
    }
    &-footer {
        position: relative;
        .cat-links {
            display: block;
            width: 100%;
            margin: 0 0 1em;
        }
        .comments-link {
            display: block;
            width: 100%;
            text-align: center;
        }
        .edit-link {
            position: absolute;
            right: 0;
            top: 0;
        }
        @media @screen960 {
            font-size: .75em;
        }
    }
}

.error-404 {
    padding: 0 1em 1.7em;
    .error-cogs {
        width: 9em;
        height: 9em;
        font-size: 1em;
        position: relative;
        margin: 0 auto;
        span {
            display: inline-block;
            width: 1em;
            height: 1em;
            font-size: 4em;
            text-align: center;
            position: absolute;
            top: 0;
            left: 0;
            animation-duration: 5s;
            &:nth-child(2) {
                font-size: 6em;
                top: 0.4em;
                left: 0.25em;
            }
            &:nth-child(3) {
                font-size: 3em;
                top: 0.2em;
                left: 1.7em;
            }
        }
    }
    .links {
        ul {
            list-style: none;
            margin: 0;
            text-align: center;
        }
        li {
            display: inline-block;
        }
    }
    @media @screen600 {padding: 0 10% 1.7em;}
    @media @screen840 {padding: 0 15% 1.7em;}
    @media @screen1024 {padding: 0 20% 1.7em;}
    @media @screen1600 {padding: 0 25% 1.7em;}
    
    .fa-spin.fa-spin-reverse {animation-direction: reverse;}
    
}