<section id="contact" class="o-site__contact">
	<div class="-wysiwyg">
		<h2 class="title--animated">What&rsquo;s good?</h2>
		<p>I am currently not taking on any new projects until November 2023. However, I still welcome you to <a href="mailto:derek@onemohrti.me">send me a message</a>.</p>
	</div>
</section>
