{# -- Component Variables -- #}

{% set this = {
	id: params.id ?? null
} %}

{# -- Component Template -- #}

<section id="contact" class="o-site__contact">

	{# Close BG #}
	<div class="o-site__contact-close"></div>

	{# Close Button #}
	<button class="c-button--close" title="Close Panel" aria-label="Close Panel">
		<span></span>
		<span></span>
	</button>

	{# WP Form #}
	{% if this.id %}
		{% filter shortcodes %}
			[wpforms id="{{ this.id }}" title="false" description="false"]
		{% endfilter %}
	{% endif %}

	{# <ul>
		<li>
			<a href="//instagram.com/onemohrtimedesign" target="_blank" rel="noopener nofollow noreferrer">{% include '/assets/img/icons/logo-instagram.svg' only %}</a>
		</li>
		<li>
			<a href="//dribbble.com/onemohrtime" target="_blank" rel="noopener nofollow noreferrer">{% include '/assets/img/icons/logo-dribbble.svg' only %}</a>
		</li>
		<li>
			<a href="//twitter.com/onemohrtime" target="_blank" rel="noopener nofollow noreferrer">{% include '/assets/img/icons/logo-twitter.svg' only %}</a>
		</li>
		<li>
			<a href="//github.com/OneMohrTime" target="_blank" rel="noopener nofollow noreferrer">{% include '/assets/img/icons/logo-github.svg' only %}</a>
		</li>
	</ul> #}

</section>
