<a href="https://cssnectar.com/css-gallery-inspiration/derek-mohr-designer-developer/" title="CSS Nectar - Site of the Day" target="_blank" rel="noopener" class="-cssNectar" aria-label="CSS Nectar - Site of the Day">
	<img src="{{ theme.link }}/assets/img/cssnectar-site-of-the-day-light.png" alt="CSS Design Awards Badge" class="_image" />
	<span>CSS Nectar Web Design Gallery</span>
</a>
