{##
 # "First posted" if over 5 years ago, "Posted" if less
 # "Last updated" if over 5 years ago, "Updated" if less
 #}

<p class="_meta _wysiwyg">
	<time class="original" datetime="{{ post.post_date|date(c) }}">
		{% if post.type.slug == 'design' %}Created {% else %}Posted {% endif %}{% if (post.post_date_gmt|time_ago) > '5 years' %}around {% endif %}{{ post.post_date_gmt|time_ago }}
	</time>
	<span class="post-format">
		{% if post.format is defined and post.format != false %}
			{% include '/assets/media/icons/post-' ~ post.format ~ '.svg' %}
			<span class="image__caption">{{ post.format|capitalize }}</span>
		{% else %}
			{% include '/assets/media/icons/post-standard.svg' %}
			<span class="image__caption">Standard</span>
		{% endif %}
	</span>
	<span class="screen-reader-text"> | written by <a href="{{ site.link }}" rel="author">Derek Mohr</a></span>
</p>
