<a href="https://webring.xxiivv.com/#random" target="_blank" rel="noopener" aria-label="Webring by XXIIVV">
	<img src="https://webring.xxiivv.com/icon.white.svg" alt="webring icon" class="image" width="72" height="72" />
</a>
