/*--------------------------------------------------------------
    Colors
--------------------------------------------------------------*/

@color__black: #171409;
@color__black--light: lighten(@color__black, 10%);

@color__white: #fffefa;
@color__white--dark: darken(@color__white, 5%);
@color__white--darker: darken(@color__white, 10%);
@color__white--darkest: darken(@color__white, 15%);

@color__yellow: #ffc300;
@color__yellow--light: #fef7e3;
@color__yellow--transparent: fade(@color__yellow--light,75%);
@color__yellow--dark: darken(@color__yellow,10%);

@color__gray: #9b9a95;
@color__gray--light: lighten(@color__gray,15%);

@color__red: #9c0000;

//@color--notice: #9c0000 !important;
//@color--success: #9c0000 !important;
//@color--warning: #9c0000 !important;
@color--error: @color__red;

/*--------------------------------------------------------------
    Typography
--------------------------------------------------------------*/

@font__main: "Source Sans Pro", "Gill Sans", sans-serif;
@font__header: "Montserrat", "Futura", sans-serif;
@font__code: "Inconsolata", Monaco, monospace;

/*--------------------------------------------------------------
    Structure
--------------------------------------------------------------*/

@highdensity: ~"only screen and (-webkit-min-device-pixel-ratio: 1.5)",
              ~"only screen and (min--moz-device-pixel-ratio: 1.5)",
              ~"only screen and (-o-min-device-pixel-ratio: 3/2)",
              ~"only screen and (min-device-pixel-ratio: 1.5)";

@screen400: ~"only screen and (min-width: 400px)";
@screen480: ~"only screen and (min-width: 480px)";
@screen540: ~"only screen and (min-width: 540px)";
@screen600: ~"only screen and (min-width: 600px)";
@screen768: ~"only screen and (min-width: 768px)";
@screen840: ~"only screen and (min-width: 840px)";
@screen960: ~"only screen and (min-width: 960px)";
@screen1024: ~"only screen and (min-width: 1024px)";
@screen1280: ~"only screen and (min-width: 1280px)";
@screen1440: ~"only screen and (min-width: 1440px)";
@screen1600: ~"only screen and (min-width: 1600px)";
@screen1920: ~"only screen and (min-width: 1920px)";