body {
    font-family: "Bitter", "Georgia", serif;
    color: #171409
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", "Futura", sans-serif;
    font-weight: 700;
    line-height: 1.2em;
    text-transform: uppercase;
    margin: 0 0 0.5em;
}
h1 { font-size: 3.375em; }
h2 { font-size: 2.625em; }
h3 { font-size: 1.875em; }
p {
    font-size: 16px;
    line-height: 1.7em;
    margin: 0 0 1.7em;
}
a {
    text-decoration: none;
    color: #ffc300;
    border-bottom: 1px #ffc300 solid;
    vertical-align: baseline;
}
a[target="_blank"] {
    position: relative;
    margin-right: 1.2em;
}
a[target="_blank"]::after {
    content: "\f08e";
    position: absolute;
    left: calc(100% + .2em);
    font-family: "FontAwesome";
}
.btn {
    border: 2px #171409 solid;
    border-radius: 3px;
    padding: 10px 20px;
    font-family: "Montserrat", "Futura", sans-serif;
    font-weight: 700;
    color: #171409;
    text-transform: uppercase;
}