@size__site-main: 100%;
@size__site-sidebar: 25%;

//
// MEDIA & SCREEN QUERIES
//

@highdensity: ~"only screen and (-webkit-min-device-pixel-ratio: 1.5)",
              ~"only screen and (min--moz-device-pixel-ratio: 1.5)",
              ~"only screen and (-o-min-device-pixel-ratio: 3/2)",
              ~"only screen and (min-device-pixel-ratio: 1.5)";
@screen400: ~"only screen and (min-width: 400px)";
@screen480: ~"only screen and (min-width: 480px)";
@screen540: ~"only screen and (min-width: 540px)";
@screen600: ~"only screen and (min-width: 600px)";
@screen768: ~"only screen and (min-width: 768px)";
@screen840: ~"only screen and (min-width: 840px)";
@screen960: ~"only screen and (min-width: 960px)";
@screen1024: ~"only screen and (min-width: 1024px)";
@screen1280: ~"only screen and (min-width: 1280px)";
@screen1440: ~"only screen and (min-width: 1440px)";
@screen1600: ~"only screen and (min-width: 1600px)";
@screen1920: ~"only screen and (min-width: 1920px)";