.widget {
	margin: 0 1em 1.7em;
    ul {
        list-style: none;
        margin: 0;
    }
    @media @screen540 {margin: 0 2em 1.7em;}
    @media @screen960 {margin: 0 0 1.7em;}
}

.single-post {
    #secondary {
        display: none;
    }
}

// Smash Balloon Instagram
#sb_instagram {
    .sbi_photo {
        padding: 0;
        width: 100%;
    }
    a {
        border: 0 !important;
    }
}