.widget {
	margin: 0 0 1.7em;
    ul {
        list-style: none;
        margin: 0;
    }
}

// Smash Balloon Instagram
#sb_instagram {
    .sbi_photo {
        padding: 0;
        width: 100%;
    }
}