/*
* === 3.1 BASE ===
*/

html {
//	height: 100%;
	background-color: $color__black;
}

body {
	position: relative;
	background-color: $color__white;
	color: $color__black;
	font-family: $font__main;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	@include size(100vw, auto);
	height: auto;
	min-height: 100vh;
	// overflow-x: hidden;
	overflow-y: auto;
}

* {
    box-sizing: border-box;
    &::before,
    &::after { box-sizing: border-box; }
}

.site {
	position: relative;
	@include texture($color__white, 19, 0);
	padding-top: 0px;
	transition: $speed linear;
	z-index: 1;
	
	&.padded {
		@include media(">=screen600") {
			padding-top: 100px;
		}
	}
	
	@supports (display: grid) {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		width: 100vw;
		min-height: 100vh;
	}
	
	&__main {
		// .site__main
		position: relative;
		width: 100%;
		min-height: 100vh;
		
		@supports (display: grid) {
			grid-column: span 4;
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-column-gap: $gutter;
			width: auto;
		}
	}
}