/*
* === LINKS ===
*/

a {
	position: relative;
	display: inline-block;
	text-decoration: none;
	outline: none;
	cursor: pointer;
	color: inherit;
	vertical-align: baseline;
	&:hover {
		color: inherit;
	}
	&:focus {
		outline-color: fade-out($color__yellow, 0.4);
	}
	
	// if link is not a button
	&:not(.btn) {
		// but is a child of .wysiwyg
		.wysiwyg & {
			// stylize as inline link
			@include inline();
		}
	}
}

// specific styles for external links
//a[href*="//"]:not([href*="onemohrti.me"]) {}

