/*
* === TYPOGRAPHY ===
*/

@font-face {
	font-family: "Wildwest";
	src: url("../fonts/wildwest-webfont.eot");
	src: url("../fonts/wildwest-webfont.eot?#iefix") format("embedded-opentype"),
		 url("../fonts/wildwest-webfont.woff2") format("woff2"),
		 url("../fonts/wildwest-webfont.woff") format("woff"),
		 url("../fonts/wildwest-webfont.ttf") format("truetype"),
		 url("../fonts/wildwest-webfont.svg#wildwestregular") format("svg");
	font-weight: normal;
	font-style: normal;
}

.content-area {
	@include responsive-type();
//	font-size: .875em;
//	@include media(">=screen600")  { font-size: 1em; }
//	@include media(">=screen768")  { font-size: 1.125em; }
//	@include media(">=screen960")  { font-size: 1.25em; }
//	@include media(">=screen1280") { font-size: 1.3125em; }
//	@include media(">=screen2560") { font-size: 1.5em; }
}

::selection {
	color: $color__black;
	background-color: $color__yellow;
	text-shadow: none;
}

/*
* — Headers —
*/

@for $i from 1 through 6 {
	h#{$i} {
		position: relative;
		display: block;
		color: inherit;
		font-family: $font__header;
		font-size: modular-scale((6 - $i), 1em, $major-third);
		font-weight: 700;
		text-transform: uppercase;
		margin: 0 0 .5em;
		a {
			.wysiwyg & {
				color: inherit;
				line-height: 1em !important;
				&:focus { outline: none; }
				&::before { display: none; }
			}
		}
		span:not(.typing) {
			color: $color__yellow;
			font-family: $font__secondary;
			font-size: .75em;
			text-transform: none;
			letter-spacing: -1px;
			& > a {
				transform: rotate(-4deg) translate(-2em, .1em);
			}
		}
	}
}

@for $i from 1 through 4 {
	h#{$i} {
		font-size: modular-scale((4 - $i), 1em, $major-third);
	}
}

/*
* — Body Copy —
*/

p {
	@include type();
	&:last-child,
	&:only-child { margin-bottom: 0; }
}

b, strong { font-weight: 700; }

i, em { font-style: italic; }

sub, sup {
	font-size: .75em;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup { top: -0.5em; }
sub { bottom: -0.25em; }

mark {
	background-color: $color__yellow--light;
	color: $color__yellow--dark;
}

/*
* — Lists —
*/

ul, ol, dl {
	list-style: none;
	margin: 0;
	padding: 0;
	.wysiwyg & {
		@include type();
		margin: 0 0 1.7em;
		padding-left: 1.7em;
		& #{&} {
			margin: 0;
		}
	}
}

.wysiwyg ul { list-style: disc; }
.wysiwyg ol { list-style: decimal; }

/*
* — Links —
*/

a {
	position: relative;
	display: inline-block;
	text-decoration: none;
	outline: none;
	cursor: pointer;
	color: inherit;
	vertical-align: baseline;
	&:hover {
		color: inherit;
	}
	&:focus {
		outline-color: fade-out($color__yellow, 0.4);
	}
	@include media(">=screen1170") {
		transition-duration: $speed;
	}
	&:not(.btn) {
		.wysiwyg & {
			@include inline();
		}
	}
}

@keyframes dancemonkey {
	0% {
		left: 0;
		right: 25%;
	}
	50% {
		left: 25%;
		right: 0;
	}
	100% {
		left: 0;
		right: 25%;
	}
}

/*
* — Code —
*/

pre, code {
	display: inline-block;
	font-family: $font__code;
	font-size: .875em;
	background-color: $color__white--dark;
	border: 1px $color__white--darker solid;
	color: inherit;
	padding: $small-spacing;
}

/*
* — Additional needs —
*/

i, cite, em, var, address, dfn {
	// cancel out italics
	font-style: normal;
}

abbr {
	cursor: help;
	padding: 2px 4px;
	border-bottom: 1px $color__black dotted;
}

blockquote {
	border-left: 10px $color__yellow solid;
	margin: $base-spacing 0;
	padding-left: 10px;
	p {
		margin-bottom: 0;
	}
	footer {
		font-size: .75em;
		color: $color__gray;
		cite {font-weight: 700;}
		&::before {
			content: "\2014 \00A0";
		}
	}
}

hr {
	@extend %bar;
}