/* ==========================================================================
    Base
========================================================================== */

html {
    // height: 100%;
    font-size: 1em;
    line-height: 1em;

    // If Javascript is turned off...
    // &.no-js {}
}

body {
    position: relative;
    width: 100%;
    // height: 100%;
    min-height: 100vh;
    // overflow-x: hidden;
    // overflow-y: auto;
    font-family: $font-body;
    font-size: 1em;
    background-color: $white--dark;
    color: $black;

    // crisp typography rendering
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &.no-scrollingPlz {
        overflow: hidden;
    }

    // screen at or above 1500px
    @include media(">=big") {
        background-color: $black;
        color: $white;
    }
}

/**
 * === SITE ===
 */

.o-site {
    position: relative;
    display: block;
    max-width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    transition: $speed linear;
    z-index: 1;

    // screen at or above 1500px
    @include media(">=big") {
        display: flex;
        flex-direction: column;
        max-width: $container-width;
        margin-top: $gutter;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: $gutter;
    }

    // screen at or above 1800px
    @include media(">=huge") {
        max-width: 1600px;
        margin-top: $gutter-lg;
        margin-bottom: $gutter-lg;
    }

    // screen at or above 599px
    @include media("<small") {
        padding-bottom: rem(56px);

        &.u-activeNavigationAreaUpTopButNotWhenScrolling {
            height: 100vh;
            overflow: hidden;
        }
    }
}

.o-site__main {
    position: relative;
    background-color: $white;
    color: $black;

    // screen at or above 1500px
    @include media(">=big") {
        flex: 1 0 auto;
    }
}

.o-site__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-color: fade-out($white, 0.33);
    backdrop-filter: blur(4px);
    z-index: -1;

    &.is-hidden {
        display: none;
    }

    &.is-visible {
        display: block;
        pointer-events: auto;
        z-index: 199;
    }
}
