/* ==========================================================================
    Inputs
========================================================================== */

#{$all-text-inputs} {
    display: block;
    width: auto;
    height: auto;
    padding: 0.75em 1em;
    border: 1px solid $gray;
    border-radius: $border-radius;
    background-color: $white;
    color: $black--light;
    // all: revert;

    &::placeholder {
        color: $gray--lightest;
    }
}

[type=file], select {
    display: block;
    padding: $small-spacing;
    border: 2px solid $black;
    border-radius: $border-radius;
    background-color: transparent;
    color: $black;
}

textarea {
    min-height: em;
}
