/* ==========================================================================
    Links
========================================================================== */

a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    line-height: inherit;
    color: inherit;
    vertical-align: baseline;
    // cursor: pointer;

    &:hover {
        color: inherit;
    }

    &:focus {
        outline-color: fade-out($yellow, 0.4);
    }

    // if link is not a button...
    &:not(.c-button):not([data-fancybox]) {
        // ...but is a child of .u-wysiwyg...
        .u-wysiwyg & {
            // ...stylize as inline link
            @include inline-link();
        }

        &.has-icon {
            display: inline-flex;
            align-items: center;
        }
    }

    &.is-external {
        display: inline-flex;
        align-items: center;
        column-gap: 0.25em;
    }
}

// specific styles for external links
//a[href*="https://"]:not([href*="onemohrti.me"]) {}
