/* ==========================================================================
	Media
========================================================================== */

img {
	display: block;
	height: auto;
}

// Make sure embeds and iframes fit their containers
embed,
iframe,
object {
	max-width: 100%;
}

/**
 * === SVG ICONS ===
 */

.-svg {
	$base: $black;
	font-size: 1em;
	line-height: 1em;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

/**
 * === UTILITY CLASSES ===
 */

.image,
._image {
	display: block;
	max-width: 100%;

	&.-background {
		position: absolute;
		top: 0;
		left: 0;
	}

	&.-cover {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&.-contain {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}

	&.-svg {
		width: 100%;
		height: auto;
	}
}
