/* ==========================================================================
    Media
========================================================================== */

img,
video {
    display: block;
    max-width: 100%;
    height: auto;
}

embed,
iframe,
object {
    max-width: 100%; // Make sure embeds and iframes fit their containers
}

.c-media {
    position: relative;
}

/**
 * === IMAGES ===
 */

.c-media__image {
    display: block;
    width: 100%;
    max-width: 100%;
}

.c-media__fixed-container {
    position: relative;
    width: 100%;
    height: 50vh;
    max-height: 300px;
    overflow: hidden;

    .c-media {
        position: relative;
        display: block;
    }

    // screen at or above 600px
    @include media(">=small") {
        max-height: 350px;
    }

    // screen at or above 900px
    @include media(">=medium") {
        max-height: 400px;
    }

    // screen at or above 1200px
    @include media(">=large") {
        height: 75vh;
        max-height: 450px;
    }

    // screen at or above 1500px
    @include media(">=big") {
        max-height: 500px;
    }
}

/**
 * === SVG ICONS ===
 */

.c-media__svg {
    display: block;
    width: 1em;
    height: 1em;
    fill: currentColor;
    resize: both;
}
