/**
 * === TYPOGRAPHY ===
 */

.content-area {
	@include responsive-type();
}

::selection {
	color: $black;
	background-color: $yellow;
	text-shadow: none;
}

/**
 * — Headers —
 */

@for $i from 1 through 6 {
	h#{$i} {
		position: relative;
		display: block;
		margin: 0 0 .5em;
		font-family: $font__header;
		font-size: modular-scale((6 - $i), 1em, $major-third);
		font-weight: 700;
		text-transform: uppercase;
		line-height: $heading-line-height;
		color: inherit;

		a {
			line-height: inherit;
			color: inherit;
		}
	}
}

h1 {
	font-size: ms(3);
}
h2 {
	font-size: ms(2);
}
h3 {
	font-size: ms(1);
}
h4 {
	font-size: ms(0);
}
h5 {
	font-size: ms(-1);
}
h6 {
	font-size: ms(-2);
}

._wysiwyg,
.-wysiwyg {
	h1, h2, h3, h4, h5, h6 {

		// headers in a wysiwyg section only...hopefully
		&:not([class]) {
			margin-bottom: ($base-line-height / 3);
		}
		// remove top margin for first heading in sections
		&:not([class]):not(:first-child) {
			margin-top: ($base-line-height / 2);
		}
	}
}

/**
 * — Body Copy —
 */

p {
	@include type();

	&:last-child,
	&:only-child {
		margin-bottom: 0;
	}
}

b, strong {
	font-weight: 700;
}

sub, sup {
	font-size: .75em;
	font-size: ms(-1);
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup { top: -0.5em; }
sub { bottom: -0.25em; }

small {
	font-size: ms(-1);
}

/**
 * — Lists —
 */

ul, ol, dl {
	list-style: none;
	margin: 0;
	padding: 0;


	._wysiwyg &,
	.-wysiwyg & {
		@include type();
		margin: 0 0 $base-line-height;
		padding-left: $base-line-height;

		// yellow dots
		li::marker {
			font-weight: 700;
			color: $yellow;
		}

		& ul,
		& ol,
		& dl {
			margin: 0;
		}
	}
}

._wysiwyg ul,
.-wysiwyg ul {
	list-style: square;
}

._wysiwyg ol,
.-wysiwyg ol {
	list-style: decimal;
}

/**
 * — Code —
 */

// pre, code {
// 	display: inline-block;
// 	font-family: $font__code;
// 	font-size: .875em;
// 	background-color: $white--dark;
// 	border: 1px $white--darker solid;
// 	color: inherit;
// 	padding: $small-spacing;
// }

/**
 * — Utility classes —
 */

.-serif {
	font-family: $font__secondary;
}

._title {
	@include title();
	&.-underline {
		@include title("underlined");
	}
}

._headline {
	@include subtitle();
	&.-underline {
		@include subtitle("underlined");
	}
}

._subheadline {
	@include paragraph();
	&.-underline {
		@include paragraph("underlined");
	}
}

._text {
	@include type();
	@include content-width();
}

/**
 * — Additional needs —
 */

i, cite, em, var, address, dfn {
	// cancel out italics
	font-family: $font__header;
	font-style: normal;
}

abbr {
	padding: 2px 4px;
	text-decoration: none;
	border-bottom: 1px $black dotted;
	background-color: fade-out($black, 0.95);
	cursor: help;

	&:focus {
		padding: 0;
		font-size: 0;
		line-height: initial;
		outline: $focus-outline;
		outline-offset: $focus-outline-offset;
		border-bottom: 0;
		background-color: transparent;

		&::after {
			content: attr(title);
			display: inline-block;
			padding: 2px 4px;
			@include responsive-type();
			text-decoration: none;
			line-height: inherit;
			border-bottom: 1px $black dotted;
			background-color: fade-out($black, 0.95);
		}
	}
}

mark {
	background-color: $yellow--light;
	color: $black;
}

blockquote {
	border-left: 10px $yellow solid;
	margin: $base-spacing 0;
	padding-left: 10px;

	p {
		margin-bottom: 0;
	}

	footer {
		font-size: .75em;
		color: $black--light;

		cite {
			font-weight: 700;
		}

		&::before {
			content: "\2014 \00A0";
		}
	}
}

hr {
	width: 50%;
	height: 10px;
	margin: 0 auto $base-spacing;
	border: 0;
	background-color: $yellow;
}
