/* ==========================================================================
    Typography
========================================================================== */

::selection {
    color: $yellow;
    background-color: shade($gold, 15%);
    text-shadow: none;
}

/**
 * === HEADINGS ===
 */

@for $i from 1 through 6 {
    h#{$i} {
        position: relative;
        margin: 0;
        font-family: $font-header;
        font-weight: $font-bold;
        line-height: $heading-height;
        color: inherit;

        @include first(1) {
            margin-top: 0;
        }

        a {
            line-height: inherit;
            color: inherit;
        }
    }
}

.is-h1,
h1 {
    font-size: $font-h1;
}
.is-h2,
h2 {
    font-size: $font-h2;
}
.is-h3,
h3 {
    font-size: $font-h3;
}
.is-h4,
h4 {
    font-size: $font-h4;
}
.is-h5,
h5 {
    font-size: $font-h5;
}
.is-h6,
h6 {
    font-size: $font-h6;
}

.u-wysiwyg {
    @include content-width();
    @include fluid-body-copy();
    line-height: $line-height;

    h1, h2, h3, h4, h5, h6 {
        display: block;
        margin-bottom: $small-spacing;
        line-height: $heading-height;

        // headers in a wysiwyg section only...hopefully
        &:not([class]) {
            margin-bottom: math.div($line-height, 2);
        }
        // remove top margin for first heading in sections
        &:not([class]):not(:first-child) {
            margin-top: math.div($line-height, 2);
        }
    }

    p, ul, ol {
        font-size: inherit;
        line-height: inherit;
    }

    p + p {
        margin-top: math.div($line-height, 2);
    }
}

/**
 * === BODY COPY ===
 */

p {
    @include type();
    @include last(1) {
        margin-bottom: 0;
    }
}

b, strong {
    font-weight: $font-bold;
}

sub, sup {
    position: relative;
    font-size: .75em;
    line-height: 0;
    vertical-align: baseline;
}
sup { top: -0.5em; }
sub { bottom: -0.25em; }

small {
    font-size: .75em;
}

/**
* === LISTS ===
*/

ul, ol, dl {
    list-style: none;
    margin: 0;
    padding: 0;

    .u-wysiwyg & {
        @include type();
        margin: 0 0 $line-height;
        padding-left: $line-height;

        // custom styled dots
        li::marker {
            color: $gold;
        }

        // child elements
        & ul,
        & ol,
        & dl {
            margin: 0;
        }

        // sibling elements
        & + p,
        & + ul,
        & + ol,
        & + .c-button {
            margin-top: $line-height;
        }
    }
}

.u-wysiwyg ul {
    list-style: disc;
}

.u-wysiwyg ol {
    list-style: decimal;
}

/**
* === UTILITY CLASSES ===
*/

.u-title {
    @include title();

    &.is-underlined {
        @include title("underlined");
    }
}

.u-headline {
    @include headline();

    &.is-underlined {
        @include headline("underlined");
    }
}

.u-subheadline {
    @include subheadline();

    &.is-underlined {
        @include subheadline("underlined");
    }
}

.u-tagline {
    @include tagline();
}

.u-eyebrow {
    display: inline-block;
    font-size: $font-base-sm;
    font-weight: $font-bold;
    text-transform: uppercase;
    letter-spacing: rem(1px);
    line-height: $heading-height;
}

.u-link {
    @include inline-link();
}

.u-highlight {
    @include highlight-link();
}

.u-quotes {
    color: $white--darker;
    line-height: 1em;
}

/**
 * === ADDITIONAL ADDITIONS ===
 */

i, cite, em, var, address, dfn {
    margin: 0;
    font-family: inherit;
    font-style: italic;
}

abbr {
    padding: 2px 4px;
    text-decoration: none;
    border-bottom: 1px $black dotted;
    background-color: fade-out($black, 0.95);

    &[title] {
        // cursor: help;
        cursor: none;
    }

    &:focus {
        padding: 0;
        font-size: 0;
        line-height: initial;
        outline: $focus-outline;
        outline-offset: $focus-offset;
        border-bottom: 0;
        background-color: transparent;

        &::after {
            content: attr(title);
            display: inline-block;
            padding: 2px 4px;
            text-decoration: none;
            font-size: 1rem;
            line-height: inherit;
            border-bottom: 1px $black dotted;
            background-color: fade-out($black, 0.95);
        }
    }
}

mark {
    display: inline-block;
    padding: 0 0.15em;
    transform: rotate(-2deg);
    border: 0;
    border-radius: $border-radius;
    background-color: $yellow;
    color: $black;
    box-shadow: 0 0 0 3px $yellow;

    @include hocus {
        transform: rotate(0);
    }
}

blockquote {
    border-left: 10px $yellow solid;
    margin: $base-spacing 0;
    padding-left: 10px;

    p {
        margin-bottom: 0;
        & + p {
            margin-top: $small-spacing;
        }
    }

    footer {
        position: relative;
        font-size: .75em;
        color: $black--light;

        cite {
            display: block;
            margin-top: 1em;
            padding-left: 1.5em;
            font-style: normal;
            font-weight: $font-bold;
        }

        &::before {
            content: "\2014 \00A0";
            position: absolute;
        }
    }
}

hr {
    width: 50%;
    height: 3px;
    margin: $small-spacing auto;
    border: 0;
    background-color: $yellow;
}
