/* ==========================================================================
	Typography
========================================================================== */

::selection {
	color: $black;
	background-color: $yellow;
	text-shadow: none;
}

/**
 * === HEADINGS ===
 */

@for $i from 1 through 6 {
	h#{$i} {
		position: relative;
		display: block;
		margin: 0 0 .5em;
		font-family: $font-header;
		font-weight: 800;
		text-transform: uppercase;
		line-height: $heading-line-height;
		color: inherit;

		@include first(1) {
			margin-top: 0;
		}

		a {
			line-height: inherit;
			color: inherit;
		}
	}
}

.is-h1,
h1 {
	font-size: 102px;
	// font-size: 7.083vw;
}
.is-h2,
h2 {
	font-size: 64px;
	// font-size: 4.445vw;
}
.is-h3,
h3 {
	font-size: 51px;
	// font-size: 3.542vw;
}
.is-h4,
h4 {
	font-size: 36px;
	// font-size: 2.5vw;
}
.is-h5,
h5 {
	font-size: 25px;
	// font-size: 1.736vw;
}
.is-h6,
h6 {
	font-size: 21px;
	// font-size: 1.458vw;
}

._wysiwyg,
.-wysiwyg {

	h1, h2, h3, h4, h5, h6 {

		// headers in a wysiwyg section only...hopefully
		&:not([class]) {
			margin-bottom: ($base-line-height / 3);
		}
		// remove top margin for first heading in sections
		&:not([class]):not(:first-child) {
			margin-top: ($base-line-height / 2);
		}
	}
}

/**
 * === BODY COPY ===
 */

p {
	@include type();

	&:last-child,
	&:only-child {
		margin-bottom: 0;
	}
}

b, strong {
	font-weight: 600;
}

sub, sup {
	font-size: .75em;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup { top: -0.5em; }
sub { bottom: -0.25em; }

small {
	font-size: .75em;
}

/**
 * === LISTS ===
 */

ul, ol, dl {
	list-style: none;
	margin: 0;
	padding: 0;

	.c-wysiwyg &,
	._wysiwyg &,
	.-wysiwyg & {
		@include type();
		margin: 0 0 $base-line-height;
		padding-left: $base-line-height;

		// yellow dots
		li::marker {
			font-weight: 700;
			color: $yellow;
		}

		& ul,
		& ol,
		& dl {
			margin: 0;
		}
	}
}

.c-wysiwyg ul,
._wysiwyg ul,
.-wysiwyg ul {
	list-style: square;
}

.c-wysiwyg ol,
._wysiwyg ol,
.-wysiwyg ol {
	list-style: decimal;
}

/**
 * === UTILITY CLASSES ===
 */

._title,
.u-title {
	@include title();

	&.-underline {
		@include title("underlined");
	}

	.u-letter {
		display: inline-block;
		transform-origin: 0 100%;
		line-height: 1em;
	}
}

._headline,
.u-headline {
	@include subtitle();

	&.-underline {
		@include subtitle("underlined");
	}
}

._subheadline,
.u-subheadline {
	@include paragraph();

	&.-underline {
		@include paragraph("underlined");
	}
}

._text {
	@include type();
	@include content-width();
}

/**
 * === ADDITIONAL ADDITIONS ===
 */

i, cite, em, var, address, dfn {
	margin: 0;
	font-family: inherit;
	font-style: italic;
}

abbr {
	padding: 2px 4px;
	text-decoration: none;
	border-bottom: 1px $black dotted;
	background-color: fade-out($black, 0.95);
	cursor: help;

	&:focus {
		padding: 0;
		font-size: 0;
		line-height: initial;
		outline: $focus-outline;
		outline-offset: $focus-outline-offset;
		border-bottom: 0;
		background-color: transparent;

		&::after {
			content: attr(title);
			display: inline-block;
			padding: 2px 4px;
			text-decoration: none;
			line-height: inherit;
			border-bottom: 1px $black dotted;
			background-color: fade-out($black, 0.95);
		}
	}
}

mark {
	background-color: $yellow--light;
	color: $black;
}

blockquote {
	border-left: 10px $yellow solid;
	margin: $base-spacing 0;
	padding-left: 10px;

	p {
		margin-bottom: 0;
	}

	footer {
		position: relative;
		font-size: .75em;
		color: $black--light;

		cite {
			display: block;
			margin-top: 1em;
			padding-left: 1.5em;
			font-style: normal;
			font-weight: 700;
		}

		&::before {
			content: "\2014 \00A0";
			position: absolute;
		}
	}
}

hr {
	width: 50%;
	height: 10px;
	margin: 0 auto $base-spacing;
	border: 0;
	background-color: $yellow;
}
