{# -- Base Page Layout -- #}
{# ----------------------------------------------------------------- #}
{% extends '_base/body.twig' %}

{# -- Page Variables -- #}
{# ----------------------------------------------------------------- #}
{% set headline = post.meta('post_headline')|default(post.title) %}
{% set subheadline = post.meta('post_subheadline')|default(null) %}
{% set bannerImage = post.meta('banner_image') ?? post.thumbnail|default(null) %}
{% set bannerType = post.meta('banner_type')|default('default') %}
{% set button = post.meta('banner_button')|default(null) %}

{# -- Page Template -- #}
{# ----------------------------------------------------------------- #}
{% block content %}

    <article class="o-page">

        {% include '_components/banner.twig' with {
            params: {
                headline: headline,
                text: subheadline,
                style: bannerType,
                image: bannerImage,
                button: button
            }
        } only %}

        {% if post.content is not empty %}
            <section class="c-intro" data-scroll-trigger>
                <div class="u-wysiwyg">
                    {{ post.content }}
                </div>
            </section>
        {% endif %}

        <section class="o-section is-list" data-scroll-trigger>
            {% include '_components/list.twig' with {
                style: 'posts',
                params: {
                    items: posts,
                }
            } %}
        </section>

        {% include '_components/pagination.twig' with {
            params: {
                pagination: pagination
            }
        } %}

        {% if relatedPosts is not empty %}
            <footer class="o-page__related has-{{ relatedPosts|length }}-columns">
                <h3 class="u-subheadline">Related Reading</h3>
                {% include '_components/related-posts.twig' with {
                    related: relatedPosts
                } only %}
            </footer>
        {% endif %}

    </article>

    {# {% include '_partials/sidebar.twig' with {
        params: {
            widgets: sidebar
        }
    } only %} #}

{% endblock %}
