{# -- Base Page Layout -- #}
{# ----------------------------------------------------------------- #}
{% extends '_base/body.twig' %}

{# -- Page Variables -- #}
{# ----------------------------------------------------------------- #}
{% set headline = post.meta('post_headline')|default(post.title) %}
{% set subheadline = post.meta('post_subheadline')|default(null) %}
{% set bannerImage = post.meta('banner_image') ?? post.thumbnail|default(null) %}
{% set bannerImages = post.meta('banner_images')|default(null) %}
{% set bannerVideo = post.meta('banner_video_embed')|default(null) %}
{% set bannerType = post.meta('banner_type')|default('default') %}
{% set button = post.meta('banner_button')|default(null) %}
{% set pageBuilder = post.meta('section_builder')|default(null) %}

{# -- Page Template -- #}
{# ----------------------------------------------------------------- #}
{% block content %}

    <article class="o-page">

        {% include '_components/banner.twig' with {
            params: {
                headline: headline,
                text: subheadline,
                style: bannerType,
                image: bannerImage,
                images: bannerImages,
                video: bannerVideo,
                button: button
            }
        } only %}

        {% if post.content is not empty %}
            <section class="c-intro" data-scroll-trigger>
                <div class="u-wysiwyg">
                    {{ post.content }}
                </div>
            </section>
        {% endif %}

        {% include '_partials/page-builder.twig' with {
            params: {
                sections: pageBuilder
            }
        } only %}

        <section class="o-section is-services" data-scroll-trigger>
            {% for row in allServices %}
                {% set service = get_post(row) %}
                {% include '_components/text-media.twig' with {
                    params: {
                        eyebrow: service.meta('post_subheadline')|default(null),
                        headline: service.meta('post_headline')|default(service.title),
                        text: (service.excerpt|truncate(36))|default(null),
                        button: {
                            url: service.link,
                            title: 'Learn More',
                        },
                        media: {
                            image: service.meta('banner_image'),
                        },
                        aspectRatio: '16:9',
                        mediaType: 'default',
                    }
                } only %}
            {% endfor %}
        </section>

        <section class="o-section is-shop" data-scroll-trigger>
            {% include '_components/marquee.twig' %}
        </section>

        {% if relatedPosts is not empty %}
            <footer class="o-page__related has-{{ relatedPosts|length }}-columns">
                <h3 class="u-subheadline">Related Reading</h3>
                {% include '_components/related-posts.twig' with {
                    related: relatedPosts
                } only %}
            </footer>
        {% endif %}

    </article>

{% endblock %}
