/*
* === HELPERS ===
*/

%bar {
	background-color: $color__yellow;
	border: 0;
	@include size(100px, 10px);
	margin: 0 auto $base-spacing;
}

.clearfix {
	@include clearfix();
	@supports (display: flex) {
		display: none;
	}
	@supports (display: grid) {
		display: none;
	}
}

.fade-content {
	& > * {
		transition: opacity 500ms, transform 500ms;
	}
	&.gallery__grid,
	&.project__text-image {
		// Offsets timing for groups of two
		& > *:nth-child(2n+2) { transition-delay: 100ms; }
	}
	&.dribbbles,
	&.site__footer {
		// Offsets timing for groups of three
		& > *:nth-child(3n+2) { transition-delay: 100ms; }
		& > *:nth-child(3n+3) { transition-delay: 200ms; }
	}
	&.widget__instagram--feed {
		// Offsets timing for groups of four
		& > *:nth-child(4n+2) { transition-delay: 100ms; }
		& > *:nth-child(4n+3) { transition-delay: 200ms; }
		& > *:nth-child(4n+4) { transition-delay: 300ms; }
	}
}

// http://refills.bourbon.io/components#parallax
$parallax-window-height: 100%;
$parallax-background-height: $parallax-window-height * 2;

.parallax {
	&-window {
		position: relative;
		text-align: center;
		width: 100%;
		max-height: $parallax-window-height;
		overflow: hidden;
	}
	&-static-content {
		position: relative;
		padding: 8em 0;
		z-index: 9;
	}
	&-background {
		position: absolute;
		left: 0;
		top: - $parallax-window-height / 3;
		background-color: $color__white--dark;
		background-repeat: no-repeat;
		background-position: top;
		background-size: cover;
		width: 100%;
		height: $parallax-background-height;
	}
}