/*
* === HELPERS ===
*/

%bar {
	background-color: $color__yellow;
	border: 0;
	margin: 0 auto $base-spacing;
	@include size(100px, 10px);
}

.clearfix {
	@include clearfix();
	@supports (display: flex) {
		display: none;
	}
	@supports (display: grid) {
		display: none;
	}
}

.fade-content > * {
	transition: opacity $speed, transform $speed;
}

// Offsets timing for groups of three. This must be adjusted if there are more or less than three element per row.
//.fade-content > *:nth-child(3n+2) { transition-delay: 100ms; }
//.fade-content > *:nth-child(3n+3) { transition-delay: 200ms; }