/*
* === HELPERS ===
*/

%bar {
	background-color: $color__yellow;
	border: 0;
	margin: 0 auto $base-spacing;
	@include size(100px, 10px);
}

.clearfix {
	@include clearfix();
	@supports (display: flex) {
		display: none;
	}
	@supports (display: grid) {
		display: none;
	}
}